<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<div th:fragment="content"  >
            
			  
			  
			    <!-- <el-aside style="display: flex;width:30%;height:500px;border: 1px solid red;" v-loading ="dwjbxxLoading"> -->
				    <el-row :gutter="50" >
					  <el-col :span="10"  v-loading ="dwjbxxLoading">
					  <div style="width:100%;height:100%;">
					  	 <el-tree :data="dwjbxxTreeData" default-expand-all :props="dwjbxxProps" :expand-on-click-node="false" >
				    	<span style="align-items: center;justify-content: space-between;font-size: 14px;" slot-scope="{ node, data }">
				    		<img v-if="data.orgType && data.orgType != `orgType1`" src="/images/icon/partyIcon.png" style="width: 12px;height: 12px;"/>
				    		<img v-if="data.orgType && data.orgType == `orgType1`" src="/images/icon/partyIcon_red.png" style="width: 12px;height: 12px;"/>
				    		
				    		<!-- style="display: inline-block; maxWidth: 190px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;word-break: break-all;" -->
					        <span @click="dwjbxxHandleNodeClick(node.data)" >{{ node.label }}</span>
					        <span>
					          <el-button type="text" @click="edit('dwjbxx',11,null,true)" v-if="typeof node.data.isAdmin !='undefined'" style="display: flex;width:30%;">根组织新增</el-button>
					        
					          <el-button size="mini" v-if="node.level <= 3 && typeof node.data.isAdmin == 'undefined'" type="text" @click="edit('dwjbxx',11,node.data,null)" >添加下级组织</el-button>
                            
                              <el-button size="mini" v-if="typeof node.data.isAdmin == 'undefined'" type="text" @click="dwjbxxDel(node.data,'dwjbxx')"  style="color:red">删除</el-button>
					        </span>
					      </span>
				    </el-tree>
				    </div>
				    
				    
					  </el-col>
					  <el-col :span="14">
					  
				   
			    <!-- </el-aside> -->
			    <div  v-if="dwjbxxMain == true" v-loading ="fullscreenLoading">
			    	<el-button  @click="dwjbxxView('baseInfo')" size="mini" :type="dwjbxxBaseInfoType">基本信息</el-button>
				    <el-button  @click="dwjbxxView('phone')" size="mini" :type="dwjbxxPhoneType">联系方式</el-button>
				    <el-button  @click="dwjbxxView('leader')" size="mini" :type="dwjbxxLeaderType">班子成员</el-button>
				    <div style="margin-top: 20px;">
						<span style="font-family:微软雅黑;font-size:14px;">{{dwjbxxDialog.title}}</span>
					</div>
				    <el-form ref="formdwjbxx"  :rules="rules" :model="formdwjbxx" style="width: 100%;margin-top:30px" label-position="top">
                    <el-row v-if="dwjbxxViewType == 'baseInfo'">
                    	<el-col :span="24">
                        <!-- <el-form-item label="党组织代码" prop="orgCode"  size="mini">                       
                            <el-input v-model="formdwjbxx.orgCode"  id="orgCode"   size="medium"                         		
                            	auto-complete="off" style="width: 100%;" maxlength="255">
                            	<i class="el-icon-copy-document" slot="suffix" @click="copyCode()"></i>
                            </el-input>               
                        </el-form-item> -->                    
                    </el-row>
                    <el-row v-if="dwjbxxViewType == 'baseInfo'">
                    	<el-col :span="11">
                        <el-form-item label="党组织名称" prop="orgName"  size="mini" style="width: 100%;">
                            <el-input v-model="formdwjbxx.orgName"  size="medium"
                            	auto-complete="off"  maxlength="255" placeholder="党组织名称" ></el-input>                           
                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
                        <el-form-item  style="width: 100%;">
                         
                        </el-form-item>
                        </el-col>
                        <el-col :span="11">
                        <el-form-item label="批准建立党组织日期" prop="foundTime" size="mini" >
                            <el-date-picker
							      v-model="formdwjbxx.foundTime"
							      size="medium"
							      format="yyyy-MM-dd"
							      value-format="yyyy-MM-dd"
							      type="date"
							      style="width: 95%;"
							      placeholder="选择日期" >
							    </el-date-picker>
                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row v-if="dwjbxxViewType == 'baseInfo'
                    ">
                    	<el-col :span="11">
	                        <el-form-item label="党组织类型" prop="orgType"  size="mini" style="width: 100%;">
	                            
								  <el-select v-model="formdwjbxx.orgType" placeholder="请选择" 
								    	size="medium">
								    <el-option
								      v-for="item in orgType"
								      :key="item.dictId"
								      
								      :label="item.dictName"
								      :value="item.dictId">
								    </el-option>
								  </el-select>
	                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
	                        <el-form-item  style="width: 100%;">
	                         
	                        </el-form-item>
                        </el-col>                        
                        <el-col :span="11">
	                        <el-form-item label="党组织属地关系" prop="orgAddressRelation"  size="mini" style="width: 100%;">
	                            <el-cascader
								    v-model="formdwjbxx.orgAddressRelation"
								    :options="orgAddressRelation"
								    :props="{ expandTrigger: 'hover' ,emitPath: false,checkStrictly: true}"
								    
								    size="medium"
								    filterable
								    clearable
								    ></el-cascader>
	                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row v-if="dwjbxxViewType == 'baseInfo'">
                    	<el-col :span="11">
	                        <el-form-item label="选举方式" prop="elctType"  size="mini" style="width: 100%;">
	                           
								    <el-select v-model="formdwjbxx.elctType" placeholder="请选择" 
								    	size="medium">
								    <el-option
								      v-for="item in elctType"
								      :key="item.dictId"
								      
								      :label="item.dictName"
								      :value="item.dictId">
								    </el-option>
								  </el-select>
	                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
	                        <el-form-item  style="width: 100%;">
	                         
	                        </el-form-item>
                        </el-col>                        
                        <el-col :span="11">
	                        <el-form-item label="任期年限" prop="leadTime"  size="mini" style="width: 100%;">
	                            
								    <el-select v-model="formdwjbxx.leadTime" placeholder="请选择" 
								    	size="medium">
								    <el-option
								      v-for="item in leadTime"
								      :key="item.dictId"
								      
								      :label="item.dictName"
								      :value="item.dictId">
								    </el-option>
								  </el-select>
	                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row v-if="dwjbxxViewType == 'baseInfo'">
                    	<el-col :span="11">
	                        <el-form-item label="本届班子当选日期" prop="currentLeaderTime" size="mini" >
                            <el-date-picker
							      v-model="formdwjbxx.currentLeaderTime"
							      size="medium"
							      format="yyyy-MM-dd"
							      value-format="yyyy-MM-dd"
							      type="date"
							      placeholder="选择日期" >
							    </el-date-picker>
                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
	                        <el-form-item  style="width: 100%;">
	                         
	                        </el-form-item>
                        </el-col>                        
                        <el-col :span="11">
	                        <el-form-item label="本届班子届满日期" prop="currentLeadOutTime"  size="mini" style="width: 100%;">
	                            <el-date-picker
							      v-model="formdwjbxx.currentLeadOutTime"
							      size="medium"
							      format="yyyy-MM-dd"
							      value-format="yyyy-MM-dd"
							      type="date"
							      style="width: 95%;"
							      placeholder="选择日期" >
							    </el-date-picker>
	                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row v-if="dwjbxxViewType == 'baseInfo'">
                    	<el-col :span="11">
                        <el-form-item label="选举应到人数" prop="elctShoudPeopleCount"  size="mini" style="width: 100%;">
                            <el-input v-model="formdwjbxx.elctShoudPeopleCount"  size="medium" type="number"
                            	auto-complete="off"  maxlength="255" placeholder="选举应到人数" ></el-input>                           
                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
                        <el-form-item  style="width: 100%;">
                         
                        </el-form-item>
                        </el-col>
                        <el-col :span="11">
                        <el-form-item label="选举实到人数" prop="elctActPeopleCount" size="mini" >
                            <el-input v-model="formdwjbxx.elctActPeopleCount"  size="medium" type="number"
                            	auto-complete="off"  maxlength="255" placeholder="选举实到人数" ></el-input>
                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row v-if="dwjbxxViewType == 'baseInfo'">
                    	<el-col :span="11">
                        <el-form-item label="上级核定委员会名额" prop="upperSureOrgCount"  size="mini" style="width: 100%;">
                            <el-input v-model="formdwjbxx.upperSureOrgCount"  size="medium"  type="number"
                            	auto-complete="off"  maxlength="255" placeholder="上级核定委员会名额" ></el-input>                           
                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
                        <el-form-item  style="width: 100%;">
                         
                        </el-form-item>
                        </el-col>
                        <el-col :span="11">
                        <el-form-item label="实有委员数" prop="actUpperOrgPerCount" size="mini" >
                            <el-input v-model="formdwjbxx.actUpperOrgPerCount"  size="medium" type="number"
                            	auto-complete="off"  maxlength="255" placeholder="实有委员数"  ></el-input>
                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row v-if="dwjbxxViewType == 'baseInfo'"> 
                    	<el-col :span="11">
	                        <el-form-item label="转接组织关系权限" prop="changeOrgRelationAuth"  size="mini" style="width: 100%;">
	                            
								    <el-select v-model="formdwjbxx.changeOrgRelationAuth" placeholder="请选择" 
								    	size="medium">
								    <el-option
								      v-for="item in isDelPartPersonAuth"
								      :key="item.dictId"
								      
								      :label="item.dictName"
								      :value="item.dictId">
								    </el-option>
								  </el-select>
	                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
	                        <el-form-item  style="width: 100%;">
	                         
	                        </el-form-item>
                        </el-col>                        
                        <el-col :span="11">
	                        <el-form-item label="是否拥有党员删除权限" prop="isDelPartPersonAuth"  size="mini" style="width: 100%;">
	                            <el-select v-model="formdwjbxx.isDelPartPersonAuth" placeholder="请选择" 
								    	size="medium">
								    <el-option
								      v-for="item in isDelPartPersonAuth"
								      :key="item.dictId"
								      :label="item.dictName"
								      :value="item.dictId">
								    </el-option>
								  </el-select>
	                        </el-form-item>
                        </el-col>
                    </el-row>
                    </el-form>
                    <el-form ref="formdwjbxx2"  :rules="rules" :model="formdwjbxx2" style="width: 100%;margin-top:30px" label-position="top">
                    
                    <el-row v-if="dwjbxxViewType == 'phone'">
                    	<el-col :span="11">
	                        <el-form-item label="党组织联系人" prop="concatPersion"  size="mini" style="width: 100%;">
	                            <el-input v-model="formdwjbxx2.concatPersion"  size="medium" clearable 
                            	auto-complete="off"  maxlength="255" placeholder="党组织联系人"  ></el-input>
	                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
	                        <el-form-item  style="width: 100%;">
	                         
	                        </el-form-item>
                        </el-col>                        
                        <el-col :span="11">
	                        <el-form-item label="党组织联系人手机号" prop="phone"  size="mini" style="width: 100%;">
	                             <el-input v-model="formdwjbxx2.phone"  size="medium" clearable 
                            	auto-complete="off"  maxlength="255" placeholder="党组织联系人手机号"  ></el-input>
	                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row v-if="dwjbxxViewType == 'phone'">
                    	<el-col :span="11">
	                        <el-form-item label="党组织办公电话" prop="orgJobPhone"  size="mini" style="width: 100%;">
	                            <el-input v-model="formdwjbxx2.orgJobPhone"  size="medium" clearable 
                            	auto-complete="off"  maxlength="255" placeholder="党组织办公电话"  ></el-input>
	                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
	                        <el-form-item  style="width: 100%;">
	                         
	                        </el-form-item>
                        </el-col>                        
                        <el-col :span="11">
	                        <el-form-item label="传真" prop="fixPhone"  size="mini" style="width: 100%;">
	                             <el-input v-model="formdwjbxx2.fixPhone"  size="medium" clearable
                            	auto-complete="off"  maxlength="255" placeholder="传真"  ></el-input>
	                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row v-if="dwjbxxViewType == 'phone'">
                    	<el-col :span="11">
	                        <el-form-item label="所属地区" prop="belongArea"  size="mini" style="width: 100%;">
	                            <el-cascader
								    v-model="formdwjbxx2.belongArea"
								    :options="belongArea"
								    :props="{ expandTrigger: 'hover' ,emitPath: false,checkStrictly: true}"
								    
								    size="medium"
								    filterable
								    clearable
								    ></el-cascader>
	                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
	                        <el-form-item  style="width: 100%;">
	                         
	                        </el-form-item>
                        </el-col>                      
                        <el-col :span="11">
	                        <el-form-item label="邮政编码" prop="transCode"  size="mini" style="width: 100%;">
	                             <el-input v-model="formdwjbxx2.transCode"  size="medium" clearable
                            	auto-complete="off"  maxlength="255" placeholder="邮政编码"  ></el-input>
	                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row v-if="dwjbxxViewType == 'phone'">
                    	<el-col :span="24">
	                        <el-form-item label="详细地址" prop="address"  size="mini" style="width: 100%;">
	                            <el-input v-model="formdwjbxx2.address" size="medium" clearable
                            	auto-complete="off"  maxlength="1024" placeholder="详细地址"  ></el-input>
	                        </el-form-item>
                        </el-col>                   
                    </el-row>
                    <el-row v-if="dwjbxxViewType == 'leader'">
                    	<el-col align="left">
                    		<el-button size="mini" @click="addLine('leader')" align="left" type="danger">新增</el-button>
                    	</el-col >                         
                    </el-row>
                    <el-row v-if="dwjbxxViewType == 'leader'" style="margin-top:10px">
                    	<el-col :span="24">
							<div id="dwjbxxSubTable1">
								<el-table :data="leaderList" border>
									<el-table-column property="userName" label="姓名" width="150" align="center" ></el-table-column>
									<el-table-column property="positonName" label="职务名称" width="200" align="center" >
										<template v-slot="scope">
											 {{ getPositionValue(scope.row.positon)}}
										</template>
									</el-table-column>
									<el-table-column property="allowLeaderTime" label="批准任职日期" align="center" >

									</el-table-column>
									<el-table-column
										align="center"
										width="260"
										label="操作">
										<template slot-scope="scope" >
											<el-button size="mini" @click="dwjgxxEdit('leader',scope.$index,scope.row)" align="center">编辑</el-button>
											<el-button size="mini" type="danger" @click="deleteLine('leader',scope.$index)" align="center">删除</el-button>
										</template>
									</el-table-column>
								</el-table>
							</div>
						</el-col>
					</el-row>
                    
                    
                    
                    
                    </el-form>
			    	<div align="center" style="margin-top:20px">
					    <el-button @click="submitForm('formdwjbxx')"  type="primary" plain align="center" >确定</el-button>
					 </div>
					 <el-dialog
		      width="50%"
		      title="班子成员"
		      :visible.sync="dialogShow.leader"
		      append-to-body>
		      <el-card shadow="always" style="width: 100%;" type="card">
	              <el-form ref="formLeader"  :rules="rules" :model="formLeader" style="width: 100%;" label-position="top">
	              	<el-form-item label="姓名" prop="userName"  size="mini" style="width: 100%;">
                            <el-input v-model="formLeader.userName"  size="medium" 
                            	auto-complete="off"  maxlength="255" placeholder="姓名" ></el-input>                           
                    </el-form-item>
                    <el-form-item label="职务" prop="positon"  size="mini" style="width: 100%;" label-position="top">
                            <el-select v-model="formLeader.positon" placeholder="请选择" style="width: 100%;"
								    	size="medium">
								    <el-option
								      v-for="item in positon"
								      :key="item.dictId"
								      :label="item.dictName"
								      :value="item.dictId">
								    </el-option>
								  </el-select>                           
                    </el-form-item>
                    <el-form-item label="批准任职时间" prop="allowLeaderTime"  size="mini" style="width: 100%;">
                            <el-date-picker
							      v-model="formLeader.allowLeaderTime"
							      size="medium"
							      format="yyyy-MM-dd"
							      value-format="yyyy-MM-dd"
							      type="date"
							      style="width: 100%;"
							      placeholder="选择日期" >
							    </el-date-picker>                          
                    </el-form-item>
                    <el-form-item label="职务级别" prop="positionLevel"  size="mini" style="width: 100%;">
                            <!-- <el-select v-model="formLeader.positionLevel" placeholder="请选择" style="width: 100%;"
								    	size="medium">
								    <el-option
								      v-for="item in positionLevel"
								      :key="item.dictId"
								      :label="item.dictName"
								      :value="item.dictId">
								    </el-option>
								  </el-select>  -->   
								  <el-input v-model="formLeader.positionLevel"  size="medium" 
                            	auto-complete="off"  maxlength="255" placeholder="职务级别" ></el-input>                           
                    </el-form-item>
                    
                    
                    <el-form-item label="职务说明" prop="positionDesc"  size="mini" style="width: 100%;">
                            <el-input v-model="formLeader.positionDesc"  size="medium" type="textarea"
  								:rows="4"
                            	auto-complete="off"  maxlength="1024" placeholder="职务说明" ></el-input>                           
                    </el-form-item>
	              </el-form>
              </el-card>
              <span slot="footer" class="dialog-footer" align="center">
                 <div align="center">
				    <el-button @click="formTaleConfirm('formLeader')" type="primary" plain align="center">确定</el-button>
                    <el-button @click="dialogShow.leader = false" type="cancel" plain align="center">取消</el-button>
				 </div> 
				 </span>
		    </el-dialog>
			    </div>
			    </el-col>
					</el-row>
			  
</div>
</html>