<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<div th:fragment="content">
    <el-tabs v-model="activeTabName" type="card">
            <el-button plain @click="edit('dwjbxx','','',true)" type="primary" size="mini" v-if="isSuperAdmin"><i class="el-icon-plus"></i>新增</el-button>
            <!-- <el-button plain type="danger" size="mini"><i class="el-icon-close" size=""></i>删除</el-button> -->
            <el-button plain size="mini"  @click="searchForm('searchDwjbxx')" ><i class="el-icon-refresh"></i>刷新</el-button>
            <div style="margin-top: 20px">
                <el-table
                        :data="dwjbxxTableData"
                        border
                        v-loading="dwjbxxLoading"
                        style="width: 100%"
                        row-key="orgId"
                        :tree-props="{children: 'children', hasChildren: 'hasChildren'}">
                    <el-table-column
                            prop="orgName"
                            label="组织简称"
                            align="center"
                            width="200">
                    </el-table-column>
                    <el-table-column
                            prop="orgType"
                            label="党组织类型"
                            align="center"
                            width="200">
                            <template v-slot="scope">
						         {{ getOrgTypeValue(scope.row.orgType)}}
						    </template>
                    </el-table-column>
                    <el-table-column
                            prop="foundTime"
                            align="center"
                            label="成立时间">
                    </el-table-column>
                    <el-table-column
                            prop="leader"
                            align="center"
                            label="书记">
                    </el-table-column>
                    <el-table-column
                            prop="concatPersion"
                            align="center"
                            label="联系人">
                    </el-table-column>
                    <el-table-column
                            prop="phone"
                            align="center"
                            label="联系电话">
                    </el-table-column>
                    <el-table-column
                            align="center"
                            width="260"
                            label="操作">
                        <template slot-scope="scope" >
                            <div style="display: flex;width:100%" align="right">
                            	<el-button size="mini" v-if="scope.row.level < 2" @click="edit('dwjbxx',scope.$index,scope.row,null)" >添加下级组织</el-button>
                                <el-button size="mini" @click="edit('dwjbxx',scope.$index,scope.row,false)" >修改</el-button>
                                <el-button size="mini" type="danger" @click="dwjbxxDel(scope.row,'dwjbxx')" >删除</el-button>
                            </div>
                        </template>
                    </el-table-column>
                </el-table>
                
            </div>
            <el-dialog :visible.sync="dialogShow.dwjbxx" foot-center lock-scroll="true" width="1000px" :title.sync="dwjbxxDialog.title" v-loading ="fullscreenLoading">
            	 <el-card shadow="always" style="width: 100%;" type="card">
                    <el-form ref="formdwjbxx"  :rules="rules" :model="formdwjbxx" style="width: 100%;" label-position="top">
                    <el-divider content-position="left">基本信息</el-divider>
                    <el-row>
                    	<el-col :span="24">
                        <!-- <el-form-item label="党组织代码" prop="orgCode"  size="mini">                       
                            <el-input v-model="formdwjbxx.orgCode"  id="orgCode"   size="medium"                         		
                            	auto-complete="off" style="width: 100%;" maxlength="255">
                            	<i class="el-icon-copy-document" slot="suffix" @click="copyCode()"></i>
                            </el-input>               
                        </el-form-item> -->                    
                    </el-row>
                    <el-row>
                    	<el-col :span="11">
                        <el-form-item label="党组织名称" prop="orgName"  size="mini" style="width: 100%;">
                            <el-input v-model="formdwjbxx.orgName"  size="medium"
                            	auto-complete="off" style="width: 421.66px;" maxlength="255" placeholder="党组织名称" ></el-input>                           
                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
                        <el-form-item  style="width: 100%;">
                         
                        </el-form-item>
                        </el-col>
                        <el-col :span="11">
                        <el-form-item label="批准建立党组织日期" prop="foundTime" size="mini" >
                            <el-date-picker
							      v-model="formdwjbxx.foundTime"
							      size="medium"
							      format="yyyy-MM-dd"
							      value-format="yyyy-MM-dd"
							      type="date"
							      placeholder="选择日期" style="width: 421.66px;">
							    </el-date-picker>
                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                    	<el-col :span="11">
	                        <el-form-item label="党组织类型" prop="orgType"  size="mini" style="width: 100%;">
	                            
								  <el-select v-model="formdwjbxx.orgType" placeholder="请选择" style="width: 421.66px;"
								    	size="medium">
								    <el-option
								      v-for="item in orgType"
								      :key="item.dictId"
								      
								      :label="item.dictName"
								      :value="item.dictId">
								    </el-option>
								  </el-select>
	                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
	                        <el-form-item  style="width: 100%;">
	                         
	                        </el-form-item>
                        </el-col>                        
                        <el-col :span="11">
	                        <el-form-item label="党组织属地关系" prop="orgAddressRelation"  size="mini" style="width: 100%;">
	                            <el-cascader
								    v-model="formdwjbxx.orgAddressRelation"
								    :options="orgAddressRelation"
								    :props="{ expandTrigger: 'hover' ,emitPath: false,checkStrictly: true}"
								    style="width: 421.66px;"
								    size="medium"
								    filterable
								    clearable
								    ></el-cascader>
	                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                    	<el-col :span="11">
	                        <el-form-item label="选举方式" prop="elctType"  size="mini" style="width: 100%;">
	                           
								    <el-select v-model="formdwjbxx.elctType" placeholder="请选择" style="width: 421.66px;"
								    	size="medium">
								    <el-option
								      v-for="item in elctType"
								      :key="item.dictId"
								      
								      :label="item.dictName"
								      :value="item.dictId">
								    </el-option>
								  </el-select>
	                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
	                        <el-form-item  style="width: 100%;">
	                         
	                        </el-form-item>
                        </el-col>                        
                        <el-col :span="11">
	                        <el-form-item label="任期年限" prop="leadTime"  size="mini" style="width: 100%;">
	                            
								    <el-select v-model="formdwjbxx.leadTime" placeholder="请选择" style="width: 421.66px;"
								    	size="medium">
								    <el-option
								      v-for="item in leadTime"
								      :key="item.dictId"
								      
								      :label="item.dictName"
								      :value="item.dictId">
								    </el-option>
								  </el-select>
	                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                    	<el-col :span="11">
	                        <el-form-item label="本届班子当选日期" prop="currentLeaderTime" size="mini" >
                            <el-date-picker
							      v-model="formdwjbxx.currentLeaderTime"
							      size="medium"
							      format="yyyy-MM-dd"
							      value-format="yyyy-MM-dd"
							      type="date"
							      placeholder="选择日期" style="width: 421.66px;">
							    </el-date-picker>
                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
	                        <el-form-item  style="width: 100%;">
	                         
	                        </el-form-item>
                        </el-col>                        
                        <el-col :span="11">
	                        <el-form-item label="本届班子届满日期" prop="currentLeadOutTime"  size="mini" style="width: 100%;">
	                            <el-date-picker
							      v-model="formdwjbxx.currentLeadOutTime"
							      size="medium"
							      format="yyyy-MM-dd"
							      value-format="yyyy-MM-dd"
							      type="date"
							      placeholder="选择日期" style="width: 421.66px;">
							    </el-date-picker>
	                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                    	<el-col :span="11">
                        <el-form-item label="选举应到人数" prop="elctShoudPeopleCount"  size="mini" style="width: 100%;">
                            <el-input v-model="formdwjbxx.elctShoudPeopleCount"  size="medium" type="number"
                            	auto-complete="off" style="width: 421.66px;" maxlength="255" placeholder="选举应到人数" ></el-input>                           
                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
                        <el-form-item  style="width: 100%;">
                         
                        </el-form-item>
                        </el-col>
                        <el-col :span="11">
                        <el-form-item label="选举实到人数" prop="elctActPeopleCount" size="mini" >
                            <el-input v-model="formdwjbxx.elctActPeopleCount"  size="medium" type="number"
                            	auto-complete="off" style="width: 421.66px;" maxlength="255" placeholder="选举实到人数" ></el-input>
                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                    	<el-col :span="11">
                        <el-form-item label="上级核定委员会名额" prop="upperSureOrgCount"  size="mini" style="width: 100%;">
                            <el-input v-model="formdwjbxx.upperSureOrgCount"  size="medium"  type="number"
                            	auto-complete="off" style="width: 421.66px;" maxlength="255" placeholder="上级核定委员会名额" ></el-input>                           
                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
                        <el-form-item  style="width: 100%;">
                         
                        </el-form-item>
                        </el-col>
                        <el-col :span="11">
                        <el-form-item label="实有委员数" prop="actUpperOrgPerCount" size="mini" >
                            <el-input v-model="formdwjbxx.actUpperOrgPerCount"  size="medium" type="number"
                            	auto-complete="off" style="width: 421.66px;" maxlength="255" placeholder="实有委员数"  ></el-input>
                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                    	<el-col :span="11">
	                        <el-form-item label="转接组织关系权限" prop="changeOrgRelationAuth"  size="mini" style="width: 100%;">
	                            
								    <el-select v-model="formdwjbxx.changeOrgRelationAuth" placeholder="请选择" style="width: 421.66px;"
								    	size="medium">
								    <el-option
								      v-for="item in isDelPartPersonAuth"
								      :key="item.dictId"
								      
								      :label="item.dictName"
								      :value="item.dictId">
								    </el-option>
								  </el-select>
	                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
	                        <el-form-item  style="width: 100%;">
	                         
	                        </el-form-item>
                        </el-col>                        
                        <el-col :span="11">
	                        <el-form-item label="是否拥有党员删除权限" prop="isDelPartPersonAuth"  size="mini" style="width: 100%;">
	                            <el-select v-model="formdwjbxx.isDelPartPersonAuth" placeholder="请选择" style="width: 421.66px;"
								    	size="medium">
								    <el-option
								      v-for="item in isDelPartPersonAuth"
								      :key="item.dictId"
								      :label="item.dictName"
								      :value="item.dictId">
								    </el-option>
								  </el-select>
	                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-divider content-position="left">联系方式</el-divider>
                    <el-row>
                    	<el-col :span="11">
	                        <el-form-item label="党组织联系人" prop="concatPersion"  size="mini" style="width: 100%;">
	                            <el-input v-model="formdwjbxx.concatPersion"  size="medium" clearable 
                            	auto-complete="off" style="width: 421.66px;" maxlength="255" placeholder="党组织联系人"  ></el-input>
	                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
	                        <el-form-item  style="width: 100%;">
	                         
	                        </el-form-item>
                        </el-col>                        
                        <el-col :span="11">
	                        <el-form-item label="党组织联系人手机号" prop="phone"  size="mini" style="width: 100%;">
	                             <el-input v-model="formdwjbxx.phone"  size="medium" clearable 
                            	auto-complete="off" style="width: 421.66px;" maxlength="255" placeholder="党组织联系人手机号"  ></el-input>
	                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                    	<el-col :span="11">
	                        <el-form-item label="党组织办公电话" prop="orgJobPhone"  size="mini" style="width: 100%;">
	                            <el-input v-model="formdwjbxx.orgJobPhone"  size="medium" clearable 
                            	auto-complete="off" style="width: 421.66px;" maxlength="255" placeholder="党组织办公电话"  ></el-input>
	                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
	                        <el-form-item  style="width: 100%;">
	                         
	                        </el-form-item>
                        </el-col>                        
                        <el-col :span="11">
	                        <el-form-item label="传真" prop="fixPhone"  size="mini" style="width: 100%;">
	                             <el-input v-model="formdwjbxx.fixPhone"  size="medium" clearable
                            	auto-complete="off" style="width: 421.66px;" maxlength="255" placeholder="传真"  ></el-input>
	                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                    	<el-col :span="11">
	                        <el-form-item label="所属地区" prop="belongArea"  size="mini" style="width: 100%;">
	                            <el-cascader
								    v-model="formdwjbxx.belongArea"
								    :options="belongArea"
								    :props="{ expandTrigger: 'hover' ,emitPath: false,checkStrictly: true}"
								    style="width: 421.66px;"
								    size="medium"
								    filterable
								    clearable
								    ></el-cascader>
	                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
	                        <el-form-item  style="width: 100%;">
	                         
	                        </el-form-item>
                        </el-col>                      
                        <el-col :span="11">
	                        <el-form-item label="邮政编码" prop="transCode"  size="mini" style="width: 100%;">
	                             <el-input v-model="formdwjbxx.transCode"  size="medium" clearable
                            	auto-complete="off" style="width: 421.66px;" maxlength="255" placeholder="邮政编码"  ></el-input>
	                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                    	<el-col :span="24">
	                        <el-form-item label="详细地址" prop="address"  size="mini" style="width: 100%;">
	                            <el-input v-model="formdwjbxx.address" size="medium" clearable
                            	auto-complete="off" style="width: 100%;" maxlength="1024" placeholder="详细地址"  ></el-input>
	                        </el-form-item>
                        </el-col>                   
                    </el-row>
                    <el-divider content-position="left" style="width: 80%;">班子成员</el-divider>
                    <el-row>
                    	<el-col align="right">
                    		<el-button size="mini" @click="addLine('leader')" align="right" type="danger">新增</el-button>
                    	</el-col >                         
                    </el-row>
                    <el-row>
                    	<el-col :span="24">
		                    <el-table :data="leaderList" border>
							    <el-table-column property="userName" label="姓名" width="150" align="center" ></el-table-column>
							    <el-table-column property="positonName" label="职务名称" width="200" align="center" >
							    	<template v-slot="scope">
								         {{ getPositionValue(scope.row.positon)}}
								    </template>
							    </el-table-column>
							    <el-table-column property="allowLeaderTime" label="批准任职日期" align="center" >
							   
							    </el-table-column>
							    <el-table-column
		                            align="center"
		                            width="260"
		                            label="操作">
		                        	<template slot-scope="scope" >
		                                <el-button size="mini" @click="dwjgxxEdit('leader',scope.$index,scope.row)" align="center">编辑</el-button>
		                                <el-button size="mini" type="danger" @click="deleteLine('leader',scope.$index)" align="center">删除</el-button>
		                         	</template>
		                    	</el-table-column>
							</el-table>
						</el-col>
					</el-row>
					<el-divider content-position="left" style="width: 80%;">奖惩情况</el-divider>
                    <el-row>
                    	<el-col align="right">
                    		<el-button size="mini" @click="addLine('reward')" align="right" type="danger">新增</el-button>
                    	</el-col >                         
                    </el-row>
                    <el-row>
                    	<el-col :span="24">
		                    <el-table :data="rewardList" border>
							    <el-table-column property="reward" label="奖惩名称" width="150" align="center" >
							    	<template v-slot="scope">
								         {{ getRewardNameValue(scope.row.rewardName)}}
								    </template>
							    </el-table-column>
							    <el-table-column property="allowOrg" label="批准组织" width="200" align="center" ></el-table-column>
							    <el-table-column property="allowTime" label="批准时间" align="center" ></el-table-column>
							    <el-table-column
		                            align="center"
		                            width="260"
		                            label="操作">
		                        
		                            <template slot-scope="scope" >
		                                <el-button size="mini"  @click="dwjgxxEdit('reward',scope.$index,scope.row)" align="center">编辑</el-button>
		                                <el-button size="mini" type="danger" @click="deleteLine('reward',scope.$index)" align="center">删除</el-button>
		                         	</template>
		                    	</el-table-column>
							</el-table>
						</el-col>
					</el-row>
					<el-divider content-position="left" style="width: 80%;">单位信息</el-divider>
                    <el-row>
                    	<el-col align="right">
                    		<el-button size="mini" @click="addLine('dept')" align="right" type="danger">新增</el-button>
                    	</el-col >                         
                    </el-row>
                    <el-row>
                    	<el-col :span="24">
		                    <el-table :data="deptInfoList" border>
							    <el-table-column property="deptName" label="单位名称" width="150" align="center" ></el-table-column>
							    <el-table-column property="deptNatureType" label="单位性质类别" width="200" align="center" ></el-table-column>
							    <el-table-column property="deptType" label="单位(机构)类型" align="center" ></el-table-column>
							    <el-table-column
		                            align="center"
		                            width="260"
		                            label="操作" >
		                        	<template slot-scope="scope" >
		                                <el-button size="mini"  @click="dwjgxxEdit('dept',scope.$index,scope.row)" align="center">编辑</el-button>
		                                <el-button size="mini" type="danger" @click="deleteLine('dept',scope.$index)" align="center">删除</el-button>
		                         	</template>
		                    	</el-table-column>
							</el-table>
						</el-col>
					</el-row>
                    </el-form>
                 </el-card>
                 
                 <span slot="footer" class="dialog-footer" align="center">
                 <div align="center">
				    <el-button @click="submitForm('formdwjbxx')"  type="primary" plain align="center" >确定</el-button>
                    <el-button @click="dialogShow.dwjbxx = false" type="cancel" plain align="center">取消</el-button>
				 </div> 
				 </span>
			<el-dialog
		      width="50%"
		      title="班子成员"
		      :visible.sync="dialogShow.leader"
		      append-to-body>
		      <el-card shadow="always" style="width: 100%;" type="card">
	              <el-form ref="formLeader"  :rules="rules" :model="formLeader" style="width: 100%;" label-position="top">
	              	<el-form-item label="姓名" prop="userName"  size="mini" style="width: 100%;">
                            <el-input v-model="formLeader.userName"  size="medium" 
                            	auto-complete="off"  maxlength="255" placeholder="姓名" ></el-input>                           
                    </el-form-item>
                    <el-form-item label="职务" prop="positon"  size="mini" style="width: 100%;" label-position="top">
                            <el-select v-model="formLeader.positon" placeholder="请选择" style="width: 100%;"
								    	size="medium">
								    <el-option
								      v-for="item in positon"
								      :key="item.dictId"
								      :label="item.dictName"
								      :value="item.dictId">
								    </el-option>
								  </el-select>                           
                    </el-form-item>
                    <el-form-item label="批准任职时间" prop="allowLeaderTime"  size="mini" style="width: 100%;">
                            <el-date-picker
							      v-model="formLeader.allowLeaderTime"
							      size="medium"
							      format="yyyy-MM-dd"
							      value-format="yyyy-MM-dd"
							      type="date"
							      style="width: 100%;"
							      placeholder="选择日期" >
							    </el-date-picker>                          
                    </el-form-item>
                    <el-form-item label="职务级别" prop="positionLevel"  size="mini" style="width: 100%;">
                            <el-select v-model="formLeader.positionLevel" placeholder="请选择" style="width: 100%;"
								    	size="medium">
								    <el-option
								      v-for="item in positionLevel"
								      :key="item.dictId"
								      :label="item.dictName"
								      :value="item.dictId">
								    </el-option>
								  </el-select>                           
                    </el-form-item>
                    
                    
                    <el-form-item label="职务说明" prop="positionDesc"  size="mini" style="width: 100%;">
                            <el-input v-model="formLeader.positionDesc"  size="medium" type="textarea"
  								:rows="4"
                            	auto-complete="off"  maxlength="1024" placeholder="职务说明" ></el-input>                           
                    </el-form-item>
	              </el-form>
              </el-card>
              <span slot="footer" class="dialog-footer" align="center">
                 <div align="center">
				    <el-button @click="formTaleConfirm('formLeader')" type="primary" plain align="center">确定</el-button>
                    <el-button @click="dialogShow.leader = false" type="cancel" plain align="center">取消</el-button>
				 </div> 
				 </span>
		    </el-dialog>
		    <el-dialog
		      width="50%"
		      title="奖惩情况"
		      :visible.sync="dialogShow.reward"
		      append-to-body>
		      <el-card shadow="always" style="width: 100%;" type="card">
	              <el-form ref="formReward" :rules="rules" :model="formReward"  style="width: 100%;" label-position="top">
	              	<el-form-item label="奖惩名称" prop="rewardName"  size="mini" style="width: 100%;">
                            
								  <el-cascader
								    v-model="formReward.rewardName"
								    :options="rewardName"
								    :props="{ expandTrigger: 'hover' ,emitPath: false,checkStrictly: true}"
								    style="width: 100%;"
								    size="medium"
								    filterable
								    clearable
								    ></el-cascader>                          
                    </el-form-item>
                    <el-form-item label="批准组织" prop="allowOrg"  size="mini" style="width: 100%;">
                            <el-input v-model="formReward.allowOrg"  size="medium" 
                            	auto-complete="off"  maxlength="255" placeholder="批准组织" ></el-input>                           
                    </el-form-item>
                    <el-form-item label="批准组织级别" prop="allowOrgLevel"  size="mini" style="width: 100%;">
                            <el-select v-model="formReward.allowOrgLevel" placeholder="请选择" style="width: 100%;"
								    	size="medium">
								    <el-option
								      v-for="item in allowOrgLevel"
								      :key="item.dictId"
								      :label="item.dictName"
								      :value="item.dictId">
								    </el-option>
								  </el-select>                             
                    </el-form-item>
                    <el-form-item label="批准时间" prop="allowTime"  size="mini" style="width: 100%;">
                            <el-date-picker
							      v-model="formReward.allowTime"
							      size="medium"
							      format="yyyy-MM-dd"
							      value-format="yyyy-MM-dd"
							      type="date"
							      style="width: 100%;"
							      placeholder="选择日期" >
							    </el-date-picker>                          
                    </el-form-item>
                    <el-form-item label="奖惩说明" prop="rewardDesc"  size="mini" style="width: 100%;">
                            <el-input v-model="formReward.rewardDesc"  size="medium" type="textarea"
  								:rows="4"
                            	auto-complete="off"  maxlength="1024" placeholder="奖惩说明" ></el-input>                           
                    </el-form-item>
	              </el-form>
              </el-card>
              <span slot="footer" class="dialog-footer" align="center">
                 <div align="center">
				    <el-button @click="formTaleConfirm('formReward')" type="primary" plain align="center">确定</el-button>
                    <el-button @click="dialogShow.reward = false" type="cancel" plain align="center">取消</el-button>
				 </div> 
				 </span>
		    </el-dialog>
		    <el-dialog
		      width="50%"
		      title="单位信息"
		      :visible.sync="dialogShow.dept"
		      append-to-body>
		      <el-card shadow="always" style="width: 100%;" type="card">
	              <el-form ref="formDept"   style="width: 100%;" label-position="top">
	              	<el-form-item label="单位名称" prop="deptName"  size="mini" style="width: 100%;">
                            <el-input v-model="formDept.deptName"  size="medium" 
                            	auto-complete="off"  maxlength="255" placeholder="单位名称" ></el-input>                           
                    </el-form-item>
                    <el-form-item label="单位性质类别" prop="deptNatureType"  size="mini" style="width: 100%;">
                            <el-input v-model="formDept.deptNatureType"  size="medium" 
                            	auto-complete="off"  maxlength="255" placeholder="单位性质类别" ></el-input>                           
                    </el-form-item>
                    <el-form-item label="单位(机构)类型" prop="deptType"  size="mini" style="width: 100%;">                          
							    <el-cascader
								    v-model="formDept.deptType"
								    :options="deptOrgType"
								    :props="{ expandTrigger: 'hover' ,emitPath: false,checkStrictly: true}"
								    style="width: 100%;"
								    size="medium"
								    filterable
								    clearable
								    ></el-cascader>                         
                    </el-form-item>
	              </el-form>
              </el-card>
              <span slot="footer" class="dialog-footer" align="center">
                 <div align="center">
				    <el-button @click="formTaleConfirm('dept')" type="primary" plain align="center">确定</el-button>
                    <el-button @click="dialogShow.dept = false" type="cancel" plain align="center">取消</el-button>
				 </div> 
				 </span>
		    </el-dialog>
            </el-dialog>
    </el-tabs>
</div>
<style>
  body {
    margin: 0;
  }
</style>
</html>