<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
    <el-tabs v-model="activeTabName" type="card">
        <el-tab-pane label="所属党组织情况" name="first">
            <el-button plain @click="edit('ssdzzqk','','',true)" type="primary" size="mini"><i class="el-icon-plus" ></i>新增</el-button>
            <el-button plain type="danger" size="mini"><i class="el-icon-close" ></i>删除</el-button>
            <el-button plain size="mini"><i class="el-icon-refresh"></i>刷新</el-button>
            <div style="margin-top: 20px">
                <el-table
                        :data="ssdzzqk"
                        border
                        style="width: 100%">
                    <el-table-column
                            prop="orgName"
                            label="单位名称"
                            align="center">
                    </el-table-column>
                    <el-table-column
                            prop="upperOrgName"
                            label="所属组织名称"
                            align="center"
                            >
                    </el-table-column>
                    <el-table-column
                            prop="upperOrgAttr"
                            label="单位所在组织属性" align="center">
                    </el-table-column>
                    <el-table-column
                            prop="orgAttr"
                            label="单位属性" align="center">
                    </el-table-column>
                    <el-table-column
                            prop="contactPersion"
                            label="联系人" align="center">
                    </el-table-column>
                    <el-table-column
                            prop="phone"
                            label="联系电话" align="center">
                    </el-table-column>
                    <el-table-column
                            prop="count"
                            label="党员人数" align="center">
                    </el-table-column>
                    <el-table-column
                            align="center"
                          
                            label="操作" >
                        <template slot-scope="scope">
                            <div style="display: flex;width:100%">
                                <el-button size="mini" @click="edit('category',scope.$index,scope.row,false)">修改</el-button>
                                <el-button size="mini" type="danger" @click="handleDel(scope.$index,'category')">删除</el-button>
                            </div>
                        </template>
                    </el-table-column>
                </el-table>
                <div align="center">
                    <el-pagination
                            @size-change="handleCategorySizeChange"
                            @current-change="handleCategoryCurrentChange"
                            :current-page="pager.category.currentPage"
                            :page-sizes="[10, 20, 30, 40]"
                            :page-size="pager.category.pageSize"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="pager.category.totalCount">
                    </el-pagination>
                </div>
            </div>
            <el-dialog title="所属党组织情况" :visible.sync="dialogShow.ssdzzqk" lock-scroll="true" width="800px">
                <el-card shadow="never" style="width: 100%;" type="card">
                    <el-form ref="formSsdzzqk" :rules="rules" :model="formCategory" label-width="100px">
                        <el-form-item label="类别" prop="typeId">
                            <el-select v-model="formCategory.typeId" style="width: 300px;" placeholder="请选择类型">
                                <el-option v-for="item in allCategoryTypes" :key="item.recordId" :label="item.name" :value="item.recordId"></el-option>
                            </el-select>
                            <el-tooltip class="item" effect="dark" placement="top">
                                <div slot="content">分类类别</div><i class="el-icon-question"></i></el-tooltip>
                        </el-form-item>
                        <el-form-item label="名称" prop="name">
                            <el-input v-model="formCategory.name" size="medium" auto-complete="off" style="width: 300px;" maxlength="512" placeholder="名称"></el-input>
                            <el-tooltip class="item" effect="dark" placement="top">
                                <div slot="content">名称</div><i class="el-icon-question"></i></el-tooltip>
                        </el-form-item>
                        <el-form-item label="描述" prop="desc">
                            <el-input v-model="formCategory.desc" size="medium" auto-complete="off" style="width: 300px;" maxlength="512" placeholder="描述"></el-input>
                            <el-tooltip class="item" effect="dark" placement="top">
                                <div slot="content">描述</div><i class="el-icon-question"></i></el-tooltip>
                        </el-form-item>
                        <el-form-item>
                            <el-button @click="resetForm('formCategory')" plain>取消</el-button>
                            <el-button @click="submitForm('formCategory')" type="primary" plain>保存</el-button>
                        </el-form-item>
                    </el-form>
                </el-card>
            </el-dialog>
        </el-tab-pane>
    </el-tabs>
</div>
</html>