<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>登录</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">

        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
		    <link rel="stylesheet" href="/css/element-ui/index.css" th:href="@{~/css/element-ui/index.css}"/>
		
    </head>

    <body>

		<!-- Top menu -->
		<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				
			</div>
		</nav>

        <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 text">
                            <h1><strong>XXXX</strong>党务工作信息系统</h1>
                            
                           
                        </div>
                        <div class="col-sm-5 form-box">
                        	
                            <div class="form-bottom">
                            <div th:if="${loginError}" style="font-size:14px;color:red;">用户名或密码错误</div>
			                    <form role="form" action="" method="post" class="registration-form" id="logonForm" v-model="formLogon" th:action="@{/login}">
			                    	<div class="form-group">
			                        	<input type="text" name="username" placeholder="用户名" class="form-first-name form-control" id="username">
			                        </div>
			                        <div class="form-group">
			                        	<input type="password" style="height:50px;" name="password" placeholder="密码"  id="password" class="form-password form-control">
			                        </div> 
			                        <div class="form-group">
			                        	<input type="text" name="verifyCode" placeholder="验证码"  id="verifyCode"  @keyup.enter.native="submitForm">
			                        	<img align="right" onclick="refreshVerifyCode('verifyImg');" src="/api/verify/code" id="verifyImg" style="height:50px;margin-left: 5px; cursor: pointer;"/>
			                        </div> 
			                        
			                        <button type="submit" class="btn" @click="submitForm()">登录</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/retina-1.1.0.min.js"></script>
        <script src="assets/js/scripts.js"></script>
        
        <script src="/js/vue/vue.min.js" th:src="@{~/js/vue/vue.min.js}"></script>
<script src="/js/axios/axios.min.js" th:src="@{~/js/axios/axios.min.js}"></script>
<script src="/js/element-ui/index.js" th:src="@{~/js/element-ui/index.js}"></script>
<script src="/js/mock/mock-min.js" th:src="@{~/js/mock/mock-min.js}"></script>
<script src="/js/data/struct-admin.js" th:src="@{~/js/data/struct-admin.js}"></script>
<script src="/js/custom/admin.js" th:src="@{~/js/custom/admin.js}"></script>

    </body>

</html>