<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
    <!--
    <el-tabs v-model="activeTabName" type="card">
        <el-tab-pane label="权限/模块" name="first">
        </el-tab-pane>
    </el-tabs>
    -->
    <el-form ref="formSearchAuthModule" :model="formSearchAuthModule" label-width="70px">
        <el-form-item label="父级模块" prop="parentId">
            <el-select v-model="formSearchAuthModule.parentId" style="width: 300px;">
                <el-option label="请选择" value=""></el-option>
                <el-option v-for="item in allModules" :key="item.moduleId" :label="item.fullModuleName" :value="item.moduleId"></el-option>
            </el-select>
            <el-tooltip class="item" effect="dark" placement="top">
                <div slot="content">父级模块</div><i class="el-icon-question"></i></el-tooltip>
        </el-form-item>
        <el-form-item label="模块名称" prop="name">
            <el-input v-model="formSearchAuthModule.moduleName" size="medium" auto-complete="off" style="width: 300px;" maxlength="512" placeholder="名称"></el-input>
            <el-tooltip class="item" effect="dark" placement="top">
                <div slot="content">名称</div><i class="el-icon-question"></i></el-tooltip>
        </el-form-item>
        <el-form-item label="是否菜单" prop="isMenu">
            <el-select v-model="formSearchAuthModule.isMenu" style="width: 300px;" placeholder="请是否为菜单">
                <el-option label="请选择" value=""></el-option>
                <el-option label="是" value="1"></el-option>
                <el-option label="否" value="0"></el-option>
            </el-select>
            <el-tooltip class="item" effect="dark" placement="top">
                <div slot="content">是否菜单</div><i class="el-icon-question"></i></el-tooltip>
        </el-form-item>
        <!--<el-form-item label="模块类型" prop="isLeaf">-->
        <!--<el-select v-model="formSearchAuthModule.isLeaf" style="width: 300px;" placeholder="请选择类型">-->
        <!--<el-option label="请选择" value=""></el-option>-->
        <!--<el-option label="叶子" value="1"></el-option>-->
        <!--<el-option label="节点" value="0"></el-option>-->
        <!--</el-select>-->
        <!--<el-tooltip class="item" effect="dark" placement="top">-->
        <!--<div slot="content">叶子：没有子节点;节点：还有子节点</div><i class="el-icon-question"></i></el-tooltip>-->
        <!--</el-form-item>-->
        <el-form-item>
            <el-button @click="searchForm('formSearchAuthModule')" type="primary" plain size="mini" icon="el-icon-search">检索</el-button>
        </el-form-item>
    </el-form>
    <hr style="height:1px;border:none;border-top:1px dashed #DDDDDD;"/>
    <el-button plain @click="edit('authModule','','',true)" size="mini" icon="el-icon-plus">新增</el-button>
    <div style="margin-top: 20px">
        <el-table
                :data="authModules"
                border
                style="width: 100%">
            <el-table-column
                    align="center"
                    width="50"
                    label="序号">
                <template slot-scope="scope">
                    {{scope.$index+1}}
                </template>
            </el-table-column>
            <el-table-column
                    prop="moduleName"
                    label="名称"
                    width="200">
            </el-table-column>
            <el-table-column
                    prop="moduleCode"
                    label="代码"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="fullModuleName"
                    label="全部名称"
                    width="200">
            </el-table-column>
            <el-table-column
                    prop="moduleUrl"
                    label="路径">
            </el-table-column>
            <el-table-column
                    prop="moduleDesc"
                    label="描述">
            </el-table-column>
            <el-table-column
                    prop="isLeaf"
                    label="模块类型"
                    width="100">
                <template slot-scope="scope">
                    {{scope.row.isLeaf === 0 ? '节点':'叶子'}}
                </template>
            </el-table-column>
            <el-table-column
                    prop="isMenu"
                    label="是否菜单"
                    width="100">
                <template slot-scope="scope">
                    {{scope.row.isMenu === 1 ? '是':'否'}}
                </template>
            </el-table-column>
            <el-table-column
                    align="center"
                    width="178"
                    label="操作">
                <template slot-scope="scope">
                    <div style="display: flex;width:100%">
                        <el-button size="mini" @click="edit('authModule',scope.$index,scope.row,false)" icon="el-icon-edit">修改</el-button>
                        <el-button size="mini" type="danger" @click="handleDel(scope.$index,'authModule')" icon="el-icon-delete">删除</el-button>
                    </div>
                </template>
            </el-table-column>
        </el-table>
        <div align="center">
            <el-pagination
                    @size-change="handleAuthModuleSizeChange"
                    @current-change="handleAuthModuleCurrentChange"
                    :current-page="pager.authModule.currentPage"
                    :page-sizes="[10, 20, 30, 40]"
                    :page-size="pager.authModule.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="pager.authModule.totalCount">
            </el-pagination>
        </div>
    </div>
    <el-dialog title="权限/模块" :visible.sync="dialogShow.authModule" lock-scroll="true" width="800px">
        <el-card shadow="never" style="width: 100%;" type="card">
            <el-form ref="formAuthModule" :rules="rules" :model="formAuthModule" label-width="100px">
                <el-form-item label="父级模块" prop="parentId">
                    <el-select v-model="formAuthModule.parentId" style="width: 300px;">
                        <el-option label="请选择" value=""></el-option>
                        <el-option v-for="item in allModules" :key="item.moduleId" :label="item.fullModuleName" :value="item.moduleId"></el-option>
                    </el-select>
                    <el-tooltip class="item" effect="dark" placement="top">
                        <div slot="content">父级模块</div><i class="el-icon-question"></i></el-tooltip>
                </el-form-item>
                <el-form-item label="模块代码" prop="moduleCode">
                    <el-input v-model="formAuthModule.moduleCode" size="medium" auto-complete="off" style="width: 300px;" maxlength="512" placeholder="代码"></el-input>
                    <el-tooltip class="item" effect="dark" placement="top">
                        <div slot="content">代码</div><i class="el-icon-question"></i></el-tooltip>
                </el-form-item>
                <el-form-item label="模块名称" prop="moduleName">
                    <el-input v-model="formAuthModule.moduleName" size="medium" auto-complete="off" style="width: 300px;" maxlength="512" placeholder="名称"></el-input>
                    <el-tooltip class="item" effect="dark" placement="top">
                        <div slot="content">名称</div><i class="el-icon-question"></i></el-tooltip>
                </el-form-item>
                <el-form-item label="关联路径" prop="moduleUrl">
                    <el-input v-model="formAuthModule.moduleUrl" size="medium" auto-complete="off" style="width: 300px;" maxlength="512" placeholder="路径"></el-input>
                    <el-tooltip class="item" effect="dark" placement="top">
                        <div slot="content">路径</div><i class="el-icon-question"></i></el-tooltip>
                </el-form-item>
                <el-form-item label="模块类型" prop="isLeaf">
                    <el-select v-model="formAuthModule.isLeaf" style="width: 300px;" placeholder="请选择类型">
                        <el-option label="请选择" value=""></el-option>
                        <el-option label="叶子" value="1"></el-option>
                        <el-option label="节点" value="0"></el-option>
                    </el-select>
                    <el-tooltip class="item" effect="dark" placement="top">
                        <div slot="content">叶子：没有子节点;节点：还有子节点</div><i class="el-icon-question"></i></el-tooltip>
                </el-form-item>
                <el-form-item label="模块描述" prop="moduleDesc">
                    <el-input v-model="formAuthModule.moduleDesc" type="textarea" size="medium" auto-complete="off" :autosize="{minRows: 5, maxRows: 5}" style="width:600px;" maxlength="512" placeholder="描述"></el-input>
                    <el-tooltip class="item" effect="dark" placement="top">
                        <div slot="content">模块描述</div><i class="el-icon-question"></i></el-tooltip>
                </el-form-item>
                <el-form-item label="模块排序" prop="order">
                    <el-input v-model="formAuthModule.order" size="medium" auto-complete="off" style="width: 300px;" maxlength="512" placeholder="排序代码" @blur="handleInputNumber"></el-input>
                    <el-tooltip class="item" effect="dark" placement="top">
                        <div slot="content">模块排序(仅输入数字)</div><i class="el-icon-question"></i></el-tooltip>
                </el-form-item>
                <el-form-item label="模块ICON" prop="moduleIcon">
                    <el-input v-model="formAuthModule.moduleIcon" type="textarea" size="medium" auto-complete="off" :autosize="{minRows: 5, maxRows: 5}" style="width:600px;" maxlength="512" placeholder="ICON"></el-input>
                    <el-tooltip class="item" effect="dark" placement="top">
                        <div slot="content">模块ICON</div><i class="el-icon-question"></i></el-tooltip>
                </el-form-item>
                <el-form-item label="模块样式" prop="moduleStyle">
                    <el-input v-model="formAuthModule.moduleStyle" type="textarea" size="medium" auto-complete="off" :autosize="{minRows: 5, maxRows: 5}" style="width:600px;" maxlength="512" placeholder="样式"></el-input>
                    <el-tooltip class="item" effect="dark" placement="top">
                        <div slot="content">模块样式</div><i class="el-icon-question"></i></el-tooltip>
                </el-form-item>
                <el-form-item label="是否菜单" prop="isMenu">
                    <el-select v-model="formAuthModule.isMenu" style="width: 300px;" placeholder="请是否为菜单">
                        <el-option label="是" value="1"></el-option>
                        <el-option label="否" value="0"></el-option>
                    </el-select>
                    <el-tooltip class="item" effect="dark" placement="top">
                        <div slot="content">确定是否为菜单</div><i class="el-icon-question"></i></el-tooltip>
                </el-form-item>
                <el-form-item>
                    <el-button @click="dialogShow.authModule = false;resetForm('formAuthModule')" plain>取消</el-button>
                    <el-button @click="submitForm('formAuthModule')" type="primary" plain>保存</el-button>
                </el-form-item>
            </el-form>
        </el-card>
    </el-dialog>
    <el-dialog title="用户-角色配置" :visible.sync="dialogShow.sysUserRole" lock-scroll="true" width="800px">
        <el-card shadow="never" style="width: 100%;" type="card">
            <el-checkbox>全选</el-checkbox>
            <div style="margin: 15px 0;"></div>
            <el-checkbox-group>
                <el-checkbox v-for="role in allRoles" :label="role.roleId" :key="role.roleId">{{role.roleName}}</el-checkbox>
            </el-checkbox-group>
            <hr style="height:1px;border:none;border-top:1px dashed #DDDDDD;"/>
            <el-button @click="" type="primary" size="small" plain style="margin-top:10px;">保存</el-button>
        </el-card>
    </el-dialog>
</div>
</html>