<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
    <el-form ref="formSearchSysUser" :model="formSearchSysUser" label-width="58px" size="small">
        <el-form-item label="关键字">
            <el-input v-model="formSearchSysUser.key" size="small" auto-complete="off" style="width: 300px;" maxlength="512" placeholder="关键字"></el-input>
            <el-button @click="searchForm('formSearchSysUser')" type="primary" plain style="float: right" size="mini" icon="el-icon-search">检索</el-button>
        </el-form-item>
    </el-form>
    <!--
    <hr style="height:1px;border:none;border-top:1px dashed #DDDDDD;"/>
    -->
    <el-button plain @click="edit('sysUser','','',true)" size="mini" icon="el-icon-plus">新增</el-button>
    <div style="margin-top: 20px">
        <el-table size="small"
                :data="sysUsers"
                border
                style="width: 100%">
            <el-table-column
                    align="center"
                    width="50"
                    label="序号">
                <template slot-scope="scope">
                    {{scope.$index+1}}
                </template>
            </el-table-column>
            <el-table-column
                    prop="userName"
                    label="登录名"
                    align="center"
                    width="200">
            </el-table-column>
            <el-table-column
                    prop="userNickname"
                    align="center"
                    label="姓名">
            </el-table-column>
            <el-table-column
                    prop="gender"
                    align="center"
                    label="性别">
                    <template v-slot="scope">
						         {{ getGenderValue(scope.row.gender)}}
						    </template>
            </el-table-column>
            <el-table-column
                    prop="age"
                    align="center"
                    label="年龄">
            </el-table-column>
            <el-table-column
                    prop="partyAge"
                    align="center"
                    label="党龄">
            </el-table-column>
            <el-table-column
                    prop="education"
                    align="center"
                    label="学历">
                    <template v-slot="scope">
						         {{ getEducationValue(scope.row.education)}}
						    </template>
            </el-table-column>
            <!--
            <el-table-column
                    prop="roleName"
                    label="角色名称"
                    width="200">
            </el-table-column>
            -->
            <el-table-column
                    align="center"
                    width="284"
                    label="操作">
                <template slot-scope="scope">
                    <div style="display: flex;width:100%">
                        <el-button size="mini" @click="handleSetUserRole(scope.row,true)" icon="el-icon-setting">角色设置</el-button>
                        <el-button size="mini" @click="edit('sysUser',scope.$index,scope.row,false)" icon="el-icon-edit">修改</el-button>
                        <el-button v-if="scope.row.userName !== 'admin'" size="mini" type="danger" @click="handleDel(scope.$index,'sysUser')" icon="el-icon-delete">删除</el-button>
                    </div>
                </template>
            </el-table-column>
        </el-table>
        <div align="center">
            <el-pagination size="small"
                    @size-change="handleSysUserSizeChange"
                    @current-change="handleSysUserCurrentChange"
                    :current-page="pager.sysUser.currentPage"
                    :page-sizes="[10, 20, 30, 40]"
                    :page-size="pager.sysUser.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="pager.sysUser.totalCount">
            </el-pagination>
        </div>
    </div>
    <el-dialog title="系统用户" :visible.sync="dialogShow.sysUser" lock-scroll="true" width="800px">
        <el-card shadow="never" style="width: 100%;" type="card">
            <el-form ref="formSysUser" :rules="rules" :model="formSysUser" label-width="100px" size="small">
                <input type="hidden" name="name" style="display:none;" autocomplete="off"/>
                <input type="password" name="password" style="display:none;" autocomplete="off"/>
                <input type="password" name="passwordOrgi" style="display:none;" autocomplete="off"/>
                <input type="password" name="oldPassword" style="display:none;" autocomplete="off"/>
                <el-form-item label="登录名" prop="name">
                    <el-input v-model="formSysUser.name" size="small" auto-complete="off" style="width: 300px;" maxlength="512" placeholder="登录名"></el-input>
                    <el-tooltip class="item" effect="dark" placement="top">
                        <div slot="content">登录名</div><i class="el-icon-question"></i></el-tooltip>
                </el-form-item>
                <el-form-item label="姓名" prop="nickname">
                    <el-input v-model="formSysUser.nickname" size="small" auto-complete="new-password" style="width: 300px;" maxlength="512" placeholder="姓名"></el-input>
                    <el-tooltip class="item" effect="dark" placement="top">
                        <div slot="content">姓名</div><i class="el-icon-question"></i></el-tooltip>
                </el-form-item>
                <el-form-item label="所在党组织" prop="orgId"  size="small" style="width: 100%;">
                            <el-cascader
								    v-model="formSysUser.orgId"
								    :options="upperOrg"
								    :props="{ expandTrigger: 'hover' ,emitPath: false,checkStrictly: true}"
								    style="width: 300px;"
								    size="medium"
								    filterable
								    clearable
								    ></el-cascader>                           
                        </el-form-item>
                <el-form-item label="密码" prop="password" v-if="currAction !== 'edit'">
                    <el-input v-model="formSysUser.password" type="password" size="small" auto-complete="new-password" style="width: 300px;" maxlength="512" placeholder="密码"></el-input>
                    <el-tooltip class="item" effect="dark" placement="top">
                        <div slot="content">密码</div><i class="el-icon-question"></i></el-tooltip>
                </el-form-item>
                <el-form-item label="重复密码" prop="passwordOrgi" v-if="currAction !== 'edit'">
                    <el-input v-model="formSysUser.passwordOrgi" type="password" size="small" auto-complete="new-password" style="width: 300px;" maxlength="512" placeholder="重复密码"></el-input>
                    <el-tooltip class="item" effect="dark" placement="top">
                        <div slot="content">重复密码</div><i class="el-icon-question"></i></el-tooltip>
                </el-form-item>

                <el-form-item label="原始密码" v-if="currAction === 'edit'">
                    <el-input v-model="formSysUser.oldPassword" type="password" size="small" auto-complete="new-password" style="width: 300px;" maxlength="512" placeholder="原始密码"></el-input>
                    <el-tooltip class="item" effect="dark" placement="top">
                        <div slot="content">原始密码</div><i class="el-icon-question"></i></el-tooltip>
                </el-form-item>
                <el-form-item label="密码" v-if="currAction === 'edit'">
                    <el-input v-model="formSysUser.password" type="password" size="small" auto-complete="new-password" style="width: 300px;" maxlength="512" placeholder="密码"></el-input>
                    <el-tooltip class="item" effect="dark" placement="top">
                        <div slot="content">密码</div><i class="el-icon-question"></i></el-tooltip>
                </el-form-item>
                <el-form-item label="重复密码" v-if="currAction === 'edit'">
                    <el-input v-model="formSysUser.passwordOrgi" type="password" size="small" auto-complete="new-password" style="width: 300px;" maxlength="512" placeholder="重复密码"></el-input>
                    <el-tooltip class="item" effect="dark" placement="top">
                        <div slot="content">重复密码</div><i class="el-icon-question"></i></el-tooltip>
                </el-form-item>
                <el-form-item>
                    <el-button @click="dialogShow.sysUser = false;resetForm('formSysUser')" icon="el-icon-close" plain size="small">取消</el-button>
                    <el-button @click="submitForm('formSysUser')" type="primary" plain size="small" icon="el-icon-check">保存</el-button>
                </el-form-item>
            </el-form>
        </el-card>
    </el-dialog>
    <el-dialog title="用户-角色配置" :visible.sync="dialogShow.userRole" lock-scroll="true" width="800px">
        <el-card shadow="never" style="width: 100%;" type="card">
            <el-checkbox :indeterminate="isIndeterminate.sysUserRole" v-model="checkBoxAll.sysUserRole" @change="handleSysUserRoleCheckAllChange">全选</el-checkbox>
            <div style="margin: 15px 0;"></div>
            <el-checkbox-group v-model="checkBoxOptions.sysUserRole" @change="handleSysUserRoleCheckedChange">
                <el-checkbox v-for="module in allRoles" :label="module.roleId" :key="module.roleId">{{module.roleName}}</el-checkbox>
            </el-checkbox-group>
            <hr style="height:1px;border:none;border-top:1px dashed #DDDDDD;"/>
            <el-button @click="handleCheckBoxSave('sysUserRole');" type="primary" size="small" plain style="margin-top:10px;" icon="el-icon-check">保存</el-button>
        </el-card>
    </el-dialog>
    <!--
    <el-tabs v-model="activeTabName" type="card">

        <el-tab-pane label="系统用户" name="first">

        </el-tab-pane>
    </el-tabs>
     -->
</div>
</html>