<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<div th:fragment="content">
	<div style="border: 0;width: calc(100% + 40px); height: auto;margin: -20px;">
		<div style="width: 100%; height: 300px;padding: 0;display: flex;vertical-align: middle;">
			<div style="width: calc(40% - 15px);margin-right:30px;border-width: 1px;border-radius: 3px;border-color: #E4E7ED;border-style: solid;float: left">
				快捷方式
			</div>
			<div style="width: calc(60% - 15px);border-width: 1px;border-radius: 3px;border-color: #E4E7ED;border-style: solid;">
				通知消息
			</div>
		</div>
		<div style="width: 100%; height: 300px; margin: 30px 0 0 0;padding: 0;display: flex;vertical-align: middle;">
			<div style="width: calc(40% - 15px);margin-right:30px;border-width: 1px;border-radius: 3px;border-color: #E4E7ED;border-style: solid;float: left">
				功能板块
			</div>
			<div style="width: calc(60% - 15px);border-width: 1px;border-radius: 3px;border-color: #E4E7ED;border-style: solid;">
				工作简报
			</div>
		</div>
	</div>
	<el-dialog :title="(currBrief.title || '')" :visible.sync="dialogShow.viewBrief" lock-scroll="true" width="100%"
               center="true" class="firstPage-briefs-brief_dialog">
        <div class="firstPage-briefs-brief_dialog-content" v-html="(currBrief.content || '')">
        </div>
    </el-dialog>
	<el-dialog :title="(currNotice.newsTitle || '')" :visible.sync="dialogShow.viewNotice" lock-scroll="true" width="30%"
			   center="true" class="firstPage-briefs-brief_dialog">
		<div class="firstPage-briefs-brief_dialog-content" v-html="(currNotice.newsContent || '')">
		</div>
	</el-dialog>
</div>
</html>