<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<div th:fragment="content" style="height: 100%;">
	<div :style="homePageStyle">
		<el-row style="marginRight: 5px;height: 100%;" type="flex"  justify="space-between">
		  <el-col :span="14" style="padding:0;">
			<div style="height: 55%;border: 1px solid #E4E7ED; border-radius: 3px;">
				<div style="margin: 15px 20px 15px 20px;width: calc(100% - 40px);padding: 0;border: 0;">
					<i class="iconfont icon-kuaijiecaidan" style="font-size: 20px;line-height: 20px;height: 20px;color: #646464"><span style="font-family:微软雅黑;font-size: 20px;line-height: 20px;height: 20px;color:#646464">&nbsp;快捷方式</span></i>
					<hr style="height:2px;border:none;border-top:3px solid #e5e5e5;margin-top: 10px;color: #4f4f4f"/>
				</div>
				<div style="margin: 25px 20px;width: calc(100% - 40px);padding: 0;border: 0;display: inline-flex;justify-content: space-between;">
					<div class="firstPage-quickEntry-item2" @click="goToMenu(item)" v-for="item in firstPage1" :key="item.url" :offset="item.index > 0 ? 2 : 0">
						<img :src="item.imgUrl" class="firstPage-quickEntry-item_img" />
						<span class="firstPage-quickEntry-item_name">{{item.name}}</span>
					</div>
				</div>
				<div style="margin: 15px 20px 15px 20px;width: calc(100% - 40px);padding: 0;border: 0;display: inline-flex;justify-content: space-between;">
					<div class="firstPage-quickEntry-item2" @click="goToMenu(item)" v-for="item in firstPage2" :key="item.url" :offset="item.index > 0 ? 2 : 0">
						<img :src="item.imgUrl" class="firstPage-quickEntry-item_img" />
						<span class="firstPage-quickEntry-item_name">{{item.name}}</span>
					</div>
				</div>
			</div>
			<div style="height: 37.5%;border: 1px solid #E4E7ED; border-radius: 3px;margin-top:45px;">
				<div style="margin: 15px 20px 0px 20px;width: calc(100% - 40px);padding: 0;border: 0;">
					<i class="iconfont icon-gongneng-" style="font-size: 20px;line-height: 20px;height: 20px;color: #646464"><span style="font-family:微软雅黑;font-size: 20px;line-height: 20px;height: 20px;color:#646464">&nbsp;功能模块</span></i>
					<hr style="height:2px;border:none;border-top:3px solid #e5e5e5;margin-top: 10px;color: #4f4f4f"/>
				</div>
				<div style="margin: 25px 20px;width: calc(100% - 40px);padding: 0;border: 0;display: inline-flex;justify-content: space-between;">
					<div class="firstPage-quickEntry-item2" @click="goToMenu(item)" v-for="item in firstPage3" :key="item.url" :offset="item.index > 0 ? 2 : 0">
						<img :src="item.imgUrl" class="firstPage-quickEntry-item_img" />
						<span class="firstPage-quickEntry-item_name">{{item.name}}</span>
					</div>
				</div>
				<div style="margin: 10px 20px 15px 20px;width: calc(100% - 40px);padding: 0;border: 0;display: inline-flex;justify-content: center;">
					<div style="color: #bebebe">
						更多数据模型即将更新
					</div>
				</div>
			</div>
		  </el-col>
		  <el-col :span="9" style="padding:0;">
		  	<div style="height:32%;width: 100%;border: 1px solid #E4E7ED ;border-radius: 3px;">
				<div style="margin: 15px 20px 15px 20px;width: calc(100% - 40px);padding: 0;border: 0;">
					<div style="width: 100%;border: 0; display: flex; justify-content: space-between;">
						<i class="iconfont icon-tongzhi" style="font-size: 20px;line-height: 20px;height: 20px;color:#646464"><span style="font-family:微软雅黑;font-size: 20px;line-height: 20px;height: 20px;color:#646464">&nbsp;通知公告</span></i>
						<el-link v-if="currUserReceiverNewsRecordsfirstPage.length ==  3" :underline="false" type="primary" @click="moreAnnounce()">查看更多<i class="el-icon-more"></i></el-link>
					</div>
					<hr style="height:2px;border:none;border-top:3px solid #e5e5e5;margin-top: 10px;color: #cecece"/>
				</div>
				<div style="margin: 15px 20px 15px 20px;width: calc(100% - 40px);padding: 0;border: 0;">
					<div v-for="item in currUserReceiverNewsRecordsfirstPage" class="firstPage-briefs-item" style="margin-top:22px">
						<div class="firstPage-briefs-item_title">
							<label v-if="item.status && item.status == 1" class="iconfont icon-yiduxinxi list-row-base-style"><span style="font-family:微软雅黑;font-size:16px">【已读】</span></label>
							<label v-if="!item.status || item.status == 0" class="iconfont icon-024weiduxinxi list-row-base-style"><span style="font-family:微软雅黑;font-size:16px">【未读】</span></label>
							<a class="firstPage-briefs_item_title-a" @click="handleNoticeView(item.recordId)">{{item.newsTitle.length > 15 ? (item.newsTitle.substr(0,16)+'......') : item.newsTitle}}</a>
						</div>
						<div class="firstPage-briefs-item_time">
							{{item.sendTime ? item.sendTime.substr(0, 10) : '--'}}
						</div>
					</div>
				</div>
			</div>
			<div style="height:32%;margin-top: 10px;width: 100%;border: 1px solid #E4E7ED ;border-radius: 3px;">
				<div style="margin: 15px 20px 15px 20px;width: calc(100% - 40px);padding: 0;border: 0;">
					<div style="width: 100%;border: 0; display: flex; justify-content: space-between;">
						<i class="iconfont icon-jianbao" style="font-size: 20px;line-height: 20px;height: 20px;color:#646464"><span style="font-family:微软雅黑;font-size: 20px;line-height: 20px;height: 20px;color:#646464">&nbsp;党建动态</span></i>
						<el-link v-if="currUserReceiverBriefRecordsfirstPage.length == 3" :underline="false" @click="moreArticle(`articles`,`党建动态`)" type="primary">查看更多<i class="el-icon-more"></i></el-link>
					</div>
					<hr style="height:2px;border:none;border-top:3px solid #e5e5e5;margin-top: 10px;color: #cecece"/>
				</div>
				<div style="margin: 15px 20px 15px 20px;width: calc(100% - 40px);height: 60%;padding: 0;border: 0;overflow: auto;">
					<div v-for="item in currUserReceiverBriefRecordsfirstPage" class="firstPage-briefs-item">
						<div class="firstPage-briefs-item_title">
							<a class="firstPage-briefs_item_title-a" @click="handleBriefView(item.briefId)"><i style="margin-left: 15px;margin-right: 15px">•</i>{{item.briefTitle.length > 15 ? (item.briefTitle.substr(0,16)+'......') : item.briefTitle}}</a>
						</div>
						<div class="firstPage-briefs-item_time">
							{{item.sendTime.substr(0, 10)}}
						</div>
					</div>
					
				</div>
			</div>
		  	<div style="height:32%;margin-top: 10px;width: 100%;border: 1px solid #E4E7ED ;border-radius: 3px;">
				<div style="margin: 15px 20px 15px 20px;width: calc(100% - 40px);padding: 0;border: 0;">
					<div style="width: 100%;border: 0; display: flex; justify-content: space-between;">
						<i class="el-icon-collection" style="font-size: 20px;line-height: 20px;height: 20px;color:#646464"><span style="font-family:微软雅黑;font-size: 20px;line-height: 20px;height: 20px;color:#646464">&nbsp;学习交流</span></i>
						<el-link v-if="currUserReceiverXxjlRecordsfirstPage.length == 3" :underline="false" @click="moreArticle(`xxjl`,`学习交流`)" type="primary">查看更多<i class="el-icon-more"></i></el-link>
					</div>
					<hr style="height:2px;border:none;border-top:3px solid #e5e5e5;margin-top: 10px;color: #cecece"/>
				</div>
				<div style="margin: 15px 20px 15px 20px;width: calc(100% - 40px);height: 60%;padding: 0;border: 0;overflow: auto;">
					<div v-for="item in currUserReceiverXxjlRecordsfirstPage" class="firstPage-briefs-item">
						<div class="firstPage-briefs-item_title">
							<a class="firstPage-briefs_item_title-a" @click="handleBriefView(item.briefId)"><i style="margin-left: 15px;margin-right: 15px">•</i>{{item.briefTitle.length > 15 ? (item.briefTitle.substr(0,16)+'......') : item.briefTitle}}</a>
						</div>
						<div class="firstPage-briefs-item_time">
							{{item.sendTime.substr(0, 10)}}
						</div>
					</div>
				</div>
			</div>
		  </el-col>
		</el-row>
	</div>
	<el-dialog :title="(currBrief.title || '')" :visible.sync="dialogShow.viewBrief" lock-scroll="true" width="50%"
               center="true" class="firstPage-briefs-brief_dialog">
        <div class="firstPage-briefs-brief_dialog-content" v-html="(currBrief.content || '')">
        </div>
    </el-dialog>
	<el-dialog :title="(currNotice.newsTitle || '')" :visible.sync="dialogShow.viewNotice" lock-scroll="true" width="30%"
			   center="true" class="firstPage-briefs-brief_dialog detailDialog ">
		<div class="firstPage-briefs-brief_dialog-content" style="color: #4f4f4f;font-size: 16px;">
			{{(currNotice.newsContent || '')}}
		</div>
		<el-card v-if="currNotice.attas && currNotice.attas.length > 0" shadow="hover" style="width: 100%; margin-top: 10px; padding: 20px;">
			<div style="font-weight: bolder; font-size: 14px;">附件列表</div>
			<div v-for="(atta, recordId) in currNotice.attas"><el-link :href="atta.dlUrl" type="primary" target="_blank">{{atta.originalName}}</el-link></div>
		</el-card>
	</el-dialog>
</div>

</html>