<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="content">
	<el-row>
		<el-col :span="12" >
			<el-row style="height:252px;">
			<div>
				<el-row><span style="font-size:18px;">快速入口</span></el-row>
				<el-row>
							<el-col :span="4" v-for="item in firstPage1" :key="item.url" :offset="item.index > 0 ? 2 : 0">
					<el-card style="height: 95px; margin-top: 15px" >
						<!-- <img src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png"
						 class="image" style="height: 120px"> -->
						 <div align="center" style="cursor:pointer;" @click="goToMenu(item)">
						 	<i class="el-icon-house" style="font-size: 40px" align="center" ></i>
						 </div>
						<div style="height: 5px; padding-top: 5px; text-align: center;">
							<span style="font-size:3px">{{item.name}}</span>
						</div>
					</el-card>
				</el-col>
				<el-col :span="4" v-for="item in firstPage2" :key="item.url" :offset="item.index > 0 ? 2 : 0">
					<el-card style="height: 95px; margin-top: 5px" >
						<!-- <img src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png"
						 class="image" style="height: 120px"> -->
						 <div align="center" style="cursor:pointer;" @click="goToMenu(item)">
						 	<i class="el-icon-house" style="font-size: 40px" align="center" ></i>
						 </div>
						<div style="height: 5px; padding-top: 5px; text-align: center;">
							<span style="font-size:5px;">{{item.name}}</span>
						</div>
					</el-card>
				</el-col>
				</el-row>
			</div>
			</el-row>
			<el-row style="height:252px;">
				
				<el-row><span style="font-size:18px;">资料下载</span></el-row>
				<el-row>
					<el-tabs type="border-card" style="margin-top:20px; width:91.5%;" @tab-click="firstPageDyzlxz()"  v-model="firstPageZlxz">
					  <el-tab-pane label="党员管理" name="dygl">
						  <div v-for="item in resArray" style="margin-top: 10px;display: flex;display: -webkit-flex; align-items:center;">
							  <div style="width: 85px; font-size: 13px; color: #8c939d;">
								  {{item.recordTime.substr(0, 10)}}
							  </div>
							  <div style="width: auto; height: auto">
								  <a style="color: #409EFF; cursor: pointer;" @click="handleDownloadRes(item)">{{item.resName || ''}}</a>
							  </div>
						  </div>
					  </el-tab-pane>
					  <el-tab-pane label="党费管理" name="dfgl">
						  <div v-for="item in resArray" style="margin-top: 10px;display: flex;display: -webkit-flex; align-items:center;">
							  <div style="width: 85px; font-size: 13px; color: #8c939d;">
								  {{item.recordTime.substr(0, 10)}}
							  </div>
							  <div style="width: auto; height: auto">
								  <a style="color: #409EFF; cursor: pointer;" @click="handleDownloadRes(item)">{{item.resName || ''}}</a>
							  </div>
						  </div>
					  </el-tab-pane>
					  <el-tab-pane label="换届管理" name="hjgl">
						  <div v-for="item in resArray" style="margin-top: 10px;display: flex;display: -webkit-flex; align-items:center;">
							  <div style="width: 85px; font-size: 13px; color: #8c939d;">
								  {{item.recordTime.substr(0, 10)}}
							  </div>
							  <div style="width: auto; height: auto">
								  <a style="color: #409EFF; cursor: pointer;" @click="handleDownloadRes(item)">{{item.resName || ''}}</a>
							  </div>
						  </div>
					  </el-tab-pane>
					</el-tabs>
				</el-row>
				
			</el-row>
		</el-col>
		<el-col :span="12" style="height:504px;">
			<div>
				<el-row ><div><span style="font-size:18px;">新闻简报</span></div></el-row>
				<div v-for="item in currUserReceiverBriefRecords" style="margin-top: 10px;display: flex;display: -webkit-flex; align-items:center;">
					<div style="width: 85px; font-size: 13px; color: #8c939d;">
						{{item.sendTime.substr(0, 10)}}
					</div>
					<div style="width: auto; height: auto">
						<a style="color: #409EFF; cursor: pointer;" @click="handleBriefView(item.briefId)">{{item.briefTitle || ''}}</a>
					</div>
				</div>
			</div>
		</el-col>
	</el-row>
	<el-dialog :title="(currBrief.title || '')" :visible.sync="dialogShow.viewBrief" lock-scroll="true" width="500"
               center="true" style="border-radius: 5px;">
        <div style="width: 100%; text-align: center" v-html="(currBrief.content || '')">
        </div>
    </el-dialog>
</div>
<style>
.hover-blue{
	hover{color:red;}
}
</style>
</html>