<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<div th:fragment="menu">
    <div v-bind:class="menuCollapseDivClass">
        <i v-bind:class="menuCollapseIcon" class="menu-collapse-icon-inner" @click="handleMenuCollapse"></i>
    </div>
    <!-- # el-menu 中，default-active不能和:default-openeds；否则，default-active不起作用-->
    <el-menu ref="menuRef" :default-active="def_menu_id"
             class="el-menu-vertical-demo"
             @open="handleOpen"
             @close="handleClose"
             :collapse="isCollapse"
             @select="handleNavMenu" :unique-opened="true"
             background-color="#fcf6e3"
             text-color="#4c4c41"
             active-text-color="#4c4c41"
             >
        <el-menu-item :index="__menu.moduleCode" v-for="__menu in userOwnedMenus" :key="__menu.moduleId" v-if="__menu.subs == null"
                      style="font-size: 18px; " >
                 <template slot="title">
            <i :class="__menu.moduleIcon" style=""></i>
            <span slot="title" style="font-size: 18px; ">{{__menu.moduleName}}</span>
            </template>
        </el-menu-item>
        <el-submenu :index="__menu.moduleCode" v-for="__menu in userOwnedMenus" :key="__menu.moduleId" v-if="__menu.subs != null"
                    style="font-size: 18px; ">
            <template slot="title">
                <i :class="__menu.moduleIcon" style=""></i>
                <span slot="title" style="font-size: 18px; ">{{__menu.moduleName}}</span>
            </template>
            <el-menu-item v-for="__subMenu in __menu.subs" :index="__subMenu.moduleCode" :key="__subMenu.moduleId" v-if="__subMenu.subs == null"
                          style="font-size: 18px; ">
                          <template slot="title">
                          <i :class="__subMenu.moduleIcon" style=""></i>
                          <span slot="title" style="font-size: 18px; ">{{__subMenu.moduleName}}</span></template></el-menu-item>
             <el-submenu :index="__subMenu.moduleCode" v-for="__subMenu in __menu.subs" :key="__subMenu.moduleId" v-if="__subMenu.subs != null"
                    style="font-size: 18px;">
                    <template slot="title">
                    <i :class="__subMenu.moduleIcon" style=""></i>
                	<span slot="title" style="font-size: 18px; ">{{__subMenu.moduleName}}</span>
                   	</template>
                   <el-menu-item v-for="__subMenu3 in __subMenu.subs" :index="__subMenu3.moduleCode" :key="__subMenu3.moduleId" 
                    >
                    <template slot="title">
                    <i :class="__subMenu3.moduleIcon" style=""></i>
                    <span slot="title" style="font-size: 18px; ">{{__subMenu3.moduleName}}</span></el-menu-item>
             		</template>
             </el-submenu>             
        </el-submenu>
        
        
    </el-menu>
</div>
</html>
