<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
    <el-tabs v-model="activeTabName" type="card">
        <el-tab-pane label="年度党费上缴情况" name="first">
            <el-form ref="formSearchPartyDues" :model="formSearchPartyDues" label-width="100px">
                <el-form-item label="关键字" prop="key">
                    <el-input v-model="formSearchPartyDues.key" size="medium" auto-complete="off" style="width: 300px;" maxlength="512" placeholder="关键字"></el-input>
                    <el-tooltip class="item" effect="dark" placement="top">
                        <div slot="content">关键字</div><i class="el-icon-question"></i></el-tooltip>
                </el-form-item>
                <el-form-item>
                    <el-button @click="searchForm('formSearchPartyDues')" type="primary" plain>检索</el-button>
                </el-form-item>
            </el-form>
            <hr style="height:1px;border:none;border-top:1px dashed #DDDDDD;"/>
            <el-button plain @click="edit('partyDues','','',true)">新增</el-button>
            <div style="margin-top: 20px">
                <el-table
                        :data="partyDuesArray"
                        border
                        style="width: 100%">
                    <el-table-column
                            align="center"
                            width="70"
                            label="序号">
                        <template slot-scope="scope">
                            {{scope.$index+1}}
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="payTime"
                            label="上缴时间"
                            width="150">
                    </el-table-column>
                    <el-table-column
                            prop="payPeriod"
                            label="上缴哪季度党费"
                            width="150">
                    </el-table-column>
                    <el-table-column
                            prop="payAmount"
                            label="上缴金额"
                            width="100">
                    </el-table-column>
                    <el-table-column
                            prop="remark"
                            label="备注">
                    </el-table-column>
                    <el-table-column
                            align="center"
                            width="230"
                            label="操作">
                        <template slot-scope="scope">
                            <div style="display: flex;width:100%">
                                <el-button size="mini" @click="edit('partyDues',scope.$index,scope.row,false)">修改</el-button>
                                <el-button size="mini" type="danger" @click="handleDel(scope.$index,'partyDues')">删除</el-button>
                            </div>
                        </template>
                    </el-table-column>
                </el-table>
                <div align="center">
                    <el-pagination
                            @size-change="handlePartyDuesSizeChange"
                            @current-change="handlePartyDuesCurrentChange"
                            :current-page="pager.partyDues.currentPage"
                            :page-sizes="[10, 20, 30, 40]"
                            :page-size="pager.partyDues.pageSize"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="pager.partyDues.totalCount">
                    </el-pagination>
                </div>
            </div>
            <el-dialog title="上缴党费" :visible.sync="dialogShow.partyDues" lock-scroll="true" width="800px">
                <el-card shadow="never" style="width: 100%;" type="card">
                    <el-form ref="formPartyDues" :rules="rules" :model="formCategory" label-width="100px">
                        <el-form-item label="类别" prop="typeId">
                            <el-select v-model="formCategory.typeId" style="width: 300px;" placeholder="请选择类型">
                                <el-option v-for="item in allCategoryTypes" :key="item.recordId" :label="item.name" :value="item.recordId"></el-option>
                            </el-select>
                            <el-tooltip class="item" effect="dark" placement="top">
                                <div slot="content">分类类别</div><i class="el-icon-question"></i></el-tooltip>
                        </el-form-item>
                        <el-form-item label="名称" prop="name">
                            <el-input v-model="formCategory.name" size="medium" auto-complete="off" style="width: 300px;" maxlength="512" placeholder="名称"></el-input>
                            <el-tooltip class="item" effect="dark" placement="top">
                                <div slot="content">名称</div><i class="el-icon-question"></i></el-tooltip>
                        </el-form-item>
                        <el-form-item label="描述" prop="desc">
                            <el-input v-model="formCategory.desc" size="medium" auto-complete="off" style="width: 300px;" maxlength="512" placeholder="描述"></el-input>
                            <el-tooltip class="item" effect="dark" placement="top">
                                <div slot="content">描述</div><i class="el-icon-question"></i></el-tooltip>
                        </el-form-item>
                        <el-form-item>
                            <el-button @click="dialogShow.partyDues = false;resetForm('formPartyDues')" plain>取消</el-button>
                            <el-button @click="submitForm('formPartyDues')" type="primary" plain>保存</el-button>
                        </el-form-item>
                    </el-form>
                </el-card>
            </el-dialog>
        </el-tab-pane>
    </el-tabs>
</div>
</html>