<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

<div th:fragment="content"  >
 				<el-row :gutter="50" >
					  <el-col :span="8"  v-loading ="dwjbxxLoading">
				    <el-tree :data="userUpperOrg" default-expand-all :props="dwjbxxProps" :expand-on-click-node="false" @node-click="nddyxxcjHandleNodeClick">
				    	<span style="align-items: center;justify-content: space-between;font-size: 14px;" slot-scope="{ node, data }">
				    		<img v-if="data.orgType && data.orgType != `orgType1`" src="/images/icon/partyIcon.png" style="width: 12px;height: 12px;"/>
				    		<img v-if="data.orgType && data.orgType == `orgType1`" src="/images/icon/partyIcon_red.png" style="width: 12px;height: 12px;"/>
					      <span >{{ node.label}}</span>
					      </span>
				    </el-tree>
				    </el-col>
		 <el-col :span="16" >
			    <el-main style="padding:0px;height:100%;" v-if="dwjbxxMain == true" v-loading ="fullscreenLoading">
			    	<div style="display:flex">
				            <el-button plain @click="edit('nddyxxcj','','',true)" type="primary" size="small" v-if="dwjbxxMainAdd"><i class="el-icon-plus"></i>新增</el-button>
				            <!-- <el-button plain type="danger" size="mini"><i class="el-icon-close" size=""></i>删除</el-button> -->
		<!-- 		            <el-button plain size="mini"  @click="loadNddyxxcj()" ><i class="el-icon-refresh"></i>刷新</el-button>
		 -->		            <el-input placeholder="按姓名搜索"  class="input-with-select" size="small" style="width: 30%;margin-left:10px" v-model="nddyxxSearchCondition">
							    <el-button slot="append" icon="el-icon-search" @click="searchForm('nddyxxcj')" size="small"></el-button>
							 </el-input>
							 <!--<el-radio-group  size="small" v-model="dyxxyear.year" style="margin-left:10px;margin-top:0px">
						      <el-radio-button :label="yearIndex" v-for="yearIndex in yearList"></el-radio-button>
						      
						    </el-radio-group>
						    <el-button plain @click="dialogShow.nddyxxcjYear = !dialogShow.nddyxxcjYear" type="primary" size="small" style="margin-left:10px;"><i class="el-icon-plus"><span style="font-family:微软雅黑;">添加年份</span></i></el-button>-->
		            </div>
				                <div style="margin-top: 20px">
				                <!-- row-class-name -->
                <el-table
                        :data="nddyxxcjTableData"
                        border
                        v-loading="nddyxxcjLoading"
                        style="width: 100%"
                        height=233
                        row-key="orgId"
                        row-class-name="partyStyle"
                        :tree-props="{children: 'children', hasChildren: 'hasChildren'}">
                    <el-table-column
                            prop="orgName"
                            label="组织简称"
                            align="center"
                            width="220">
						<template slot-scope="scope">
							<span class="list-row-base-style">{{scope.row.orgName}}</span>
						</template>
                    </el-table-column>
                    <el-table-column
                            prop="userName"
                            label="姓名"
                            align="center"
                            width="120">
						<template slot-scope="scope">
							<span class="list-row-base-style">{{scope.row.userName}}</span>
						</template>
                    </el-table-column>
                    <el-table-column
                            prop="genderName"
                            align="center"
                            width="80"
                            label="性别">
						<template slot-scope="scope">
							<span class="list-row-base-style">{{ getGenderValue(scope.row.gender)}}</span>
						</template>
                    </el-table-column>
                    <el-table-column
                            prop="phone"
                            align="center"
                            width="150"
                            label="联系方式">
						<template slot-scope="scope">
							<span class="list-row-base-style">{{scope.row.phone}}</span>
						</template>
                    </el-table-column>
                    <el-table-column
                            prop="birthTime"
                            align="center"
                            width="140"
                            label="出生日期">
						<template slot-scope="scope">
							<span class="list-row-base-style">{{scope.row.birthTime}}</span>
						</template>
                    </el-table-column>
                    <el-table-column
                            prop="nation"
                            align="center"
                            label="民族">
                            <!-- <template v-slot="scope">
						         {{ getNationValue(scope.row.nation)}}
						    </template> -->
						<template slot-scope="scope">
							<span class="list-row-base-style">{{scope.row.nation}}</span>
						</template>
                    </el-table-column>
                    <el-table-column
                            prop="educationName"
                            align="center"
                            label="学历">
						<template slot-scope="scope">
							<span class="list-row-base-style">{{ getEducationValue(scope.row.education)}}</span>
						</template>
                    </el-table-column>
                    <el-table-column
                            align="center"
                            width="210"
                            label="操作">
                        <template slot-scope="scope" >
                            <div style="display: flex;width:100%;justify-content: flex-end;" align="right">
                            	<el-button size="mini"   @click="viewDetail(scope.$index,scope.row)">查看</el-button>
                                <el-button size="mini"  @click="edit('nddyxxcj',scope.$index,scope.row,false)" >修改</el-button>
                                <el-button size="mini"  type="danger" @click="dwjbxxDel(scope.row,'nddyxxcj')" >删除</el-button>
                            </div>
                        </template>
                    </el-table-column>
                </el-table>
                <div align="center" style="margin-top:20px">
		            <el-pagination size="small"
		                    @size-change="handleOrgUserSizeChange"
		                    @current-change="handleOrgUserCurrentChange"
		                    :current-page="pager.orgUser.currentPage"
		                    :page-sizes="[2,10, 20, 30, 40]"
		                    :page-size="pager.orgUser.pageSize"
		                    layout="total, sizes, prev, pager, next, jumper"
		                    :total="pager.orgUser.totalCount">
		            </el-pagination>
		        </div>
            </div>
             
            <el-dialog :visible.sync="dialogShow.nddyxxcj" foot-center lock-scroll="true" width="1000px" title="党员信息"  v-loading ="fullscreenLoading">
            	 <el-card shadow="always" style="width: 100%;" type="card" >
                    <el-form ref="formnddyxxcj"  :rules="rules" :model="formnddyxxcj" style="width: 100%;" label-position="top">
                    <el-divider content-position="left">党员信息</el-divider>
                    
                    <el-row>
                    	<el-col :span="11">
                        <el-form-item label="姓名" prop="userName"  size="mini" style="width: 100%;">
                            <el-input v-model="formnddyxxcj.userName"  size="medium"
                            	auto-complete="off" style="width: 421.66px;" maxlength="255" placeholder="姓名" ></el-input>                           
                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
                        <el-form-item  style="width: 100%;">
                         
                        </el-form-item>
                        </el-col>
                        <el-col :span="11">
                        <el-form-item label="出生日期" prop="birthTime" size="mini" >
                            <el-date-picker
							      v-model="formnddyxxcj.birthTime"
							      size="medium"
							      format="yyyy-MM-dd"
							      value-format="yyyy-MM-dd"
							      type="date"
							      placeholder="选择日期" style="width: 421.66px;">
							    </el-date-picker>
                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                    	<el-col :span="11">
	                        <el-form-item label="性别" prop="gender"  size="mini" style="width: 100%;">
	                            
								  <el-select v-model="formnddyxxcj.gender" placeholder="请选择" style="width: 421.66px;"
								    	size="medium">
								    <el-option
								      v-for="item in gender"
								      :key="item.value"
								      
								      :label="item.label"
								      :value="item.value">
								    </el-option>
								  </el-select>
	                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
	                        <el-form-item  style="width: 100%;">
	                         
	                        </el-form-item>
                        </el-col>                        
                        <el-col :span="11">
	                        <el-form-item label="入党时间" prop="joinPartyTime"  size="mini" style="width: 100%;">
	                            <el-date-picker
							      v-model="formnddyxxcj.joinPartyTime"
							      size="medium"
							      format="yyyy-MM-dd"
							      value-format="yyyy-MM-dd"
							      type="date"
							      placeholder="选择日期" style="width: 421.66px;">
							    </el-date-picker>
	                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                    	<el-col :span="11">
	                        <el-form-item label="民族" prop="nation"  size="mini" style="width: 100%;">
	                           
								    <!-- <el-select v-model="formnddyxxcj.nation" placeholder="请选择" style="width: 421.66px;"
								    	size="medium">
								    <el-option
								      v-for="item in nation"
								      :key="item.dictId"
								      
								      :label="item.dictName"
								      :value="item.dictId">
								    </el-option>
								  </el-select> -->
								  <el-input v-model="formnddyxxcj.nation"  size="medium"
                            	auto-complete="off" style="width: 421.66px;" maxlength="255" placeholder="民族" ></el-input>
	                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
	                        <el-form-item  style="width: 100%;">
	                         
	                        </el-form-item>
                        </el-col>                        
                        <el-col :span="11">
	                        <el-form-item label="转正时间" prop="turnRightTime"  size="mini" style="width: 100%;">
	                            
								    <el-date-picker
							      v-model="formnddyxxcj.turnRightTime"
							      size="medium"
							      format="yyyy-MM-dd"
							      value-format="yyyy-MM-dd"
							      type="date"
							      placeholder="选择日期" style="width: 421.66px;">
							    </el-date-picker>
	                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                    	<el-col :span="11">
	                        <el-form-item label="籍贯" prop="hometown" size="mini" >
                            	<el-input v-model="formnddyxxcj.hometown"  size="medium" 
                            	auto-complete="off" style="width: 421.66px;" maxlength="255" placeholder="籍贯" ></el-input>
                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
	                        <el-form-item  style="width: 100%;">
	                         
	                        </el-form-item>
                        </el-col>                        
                        <el-col :span="11">
	                        <el-form-item label="学位" prop="bachelor"  size="mini" style="width: 100%;">
	                            <el-select v-model="formnddyxxcj.bachelor" placeholder="请选择" style="width: 421.66px;"
								    	size="medium">
								    <el-option
								      v-for="item in bachelor"
								      :key="item.dictId"
								      
								      :label="item.dictName"
								      :value="item.dictId">
								    </el-option>
								  </el-select>
	                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                    	<el-col :span="11">
                        <el-form-item label="学历" prop="education"  size="mini" style="width: 100%;">
                            <el-select v-model="formnddyxxcj.education" placeholder="请选择" style="width: 421.66px;"
								    	size="medium">
								    <el-option
								      v-for="item in education"
								      :key="item.dictId"
								      
								      :label="item.dictName"
								      :value="item.dictId">
								    </el-option>
								  </el-select>                           
                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
                        <el-form-item  style="width: 100%;">
                         
                        </el-form-item>
                        </el-col>
                        <el-col :span="11">
                        <el-form-item label="手机号码" prop="phone" size="mini" >
                            <el-input v-model="formnddyxxcj.phone"  size="medium" 
                            	 style="width: 421.66px;" maxlength="255" placeholder="手机号码" ></el-input>
                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                    	<el-col :span="11">
                        <el-form-item label="所在党组织" prop="orgId"  size="mini" style="width: 100%;">
                            <el-cascader
								    v-model="formnddyxxcj.orgId"
								    :options="userUpperOrg"
								    :props="{ expandTrigger: 'hover' ,emitPath: false,checkStrictly: true}"
								    style="width: 421.66px;"
								    size="medium"
								    filterable
								    clearable
								    ></el-cascader>                           
                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
                        <el-form-item  style="width: 100%;">
                         
                        </el-form-item>
                        </el-col>
                        <el-col :span="11">
                        <el-form-item label="工作电话" prop="officeNumber" size="mini" >
                            <el-input v-model="formnddyxxcj.officeNumber"  size="medium" 
                            	auto-complete="off" style="width: 421.66px;" maxlength="255" placeholder="工作电话"  ></el-input>
                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                    	<el-col :span="11">
	                        <el-form-item label="现居住地" prop="liveAddress"  size="mini" style="width: 100%;">
	                            
								    <el-input v-model="formnddyxxcj.liveAddress"  size="medium" 
                            	auto-complete="off" style="width: 421.66px;" maxlength="255" placeholder="现居住地"  ></el-input>
	                        </el-form-item>
                        </el-col>
                        <el-col :span="2">
	                        <el-form-item  style="width: 100%;">
	                         
	                        </el-form-item>
                        </el-col>                        
                        <el-col :span="11">
	                        <el-form-item label="电子邮件" prop="mail"  size="mini" style="width: 100%;">
	                            <el-input v-model="formnddyxxcj.mail"  size="medium" 
                            	auto-complete="off" style="width: 421.66px;" maxlength="255" placeholder="电子邮件"  ></el-input>
	                        </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                    	<el-col :span="11">
	                        <el-form-item label="是否为党组织(部门)负责人" prop="leader"  size="mini" style="width: 100%;">
	                            
								  <el-select v-model="formnddyxxcj.leader" placeholder="请选择" style="width: 421.66px;"
								    	size="medium">
								    <el-option
								      v-for="item in isLeader"
								      :key="item.value"
								      
								      :label="item.label"
								      :value="item.value">
								    </el-option>
								  </el-select>
	                        </el-form-item>
	                        </el-col>
	                     <el-col :span="2">
	                        <el-form-item  style="width: 100%;">
	                         
	                        </el-form-item>
                        </el-col>                        
                        <el-col :span="11">
	                        <el-form-item label="身份证号码" prop="idCard"  size="mini" style="width: 100%;">
	                            <el-input v-model="formnddyxxcj.idCard"  size="medium" 
                            	auto-complete="off" style="width: 421.66px;" maxlength="255" placeholder="身份证号码"  ></el-input>
	                        </el-form-item>
                        </el-col>
	                 </el-row>
                    <el-row>
                    	<el-col :span="24">
	                        <el-form-item label="上传照片(最多可上传一张jpg/png格式的图片)" prop="imageUrl"  size="mini" style="width: 100%;">
	                            
								<el-upload
								  action="/api/file/upload"
								  list-type="picture-card"
								  :on-preview="handlePictureCardPreview"
								  :on-success="setImgUrl"
								  :file-list="imageInfo"
								  multiple = "false"
								  limit=1
								  accept=".jpg,.jpeg,.png,.JPG,.JPEG"
								  :before-upload="beforeAvatarUpload"
								  :on-exceed="outMaxFile"
								  :on-remove="handleRemove">
								  
								  <i class="el-icon-plus" ></i>
								</el-upload>    
										
	                        </el-form-item>
                        </el-col>
                    </el-row>
                    </el-form>
                 </el-card>
                 <span slot="footer" class="dialog-footer" align="center">
                 <div align="center">
				    <el-button @click="submitForm('formnddyxxcj')"  type="primary" plain align="center" >确定</el-button>
                    <el-button @click="dialogShow.nddyxxcj = false" type="cancel" plain align="center">取消</el-button>
				 </div> 
				 </span>
			<el-dialog :visible.sync="dialogVisible">
			  <img width="100%" :src="dialogImageUrl" alt="">
			</el-dialog>
            </el-dialog>
            <el-dialog :visible.sync="dialogShow.nddyxxcjYear" width="500px">
				<el-form ref="formnddyxxcjyear"  :rules="rules" :model="formnddyxxcjyear" style="width: 100%;" >
			  		<el-form-item label="年份" prop="year"  size="mini" style="width: 100%;">
				  		<el-date-picker
					      v-model="formnddyxxcjyear.year"
					      type="year"
					      style="width: 100%;"
					      value-format="yyyy"
					      placeholder="选择年">
					    </el-date-picker>
					</el-form-item>
			  	</el-form>
			  	<div align="center">
				    <el-button @click="addYear"  type="primary" plain align="center" >确定</el-button>
                    <el-button @click="dialogShow.nddyxxcjYear = false" type="cancel" plain align="center">取消</el-button>
				</div> 
			</el-dialog>
            <el-dialog :visible.sync="dialogShow.nddyxxcjdetail" foot-center lock-scroll="true" width="1010px" title="个人信息详情" center>
            	 <el-card shadow="never" :body-style="{ padding: '0px' }" style="height:433px;width: 100%;padding:0px" type="card">
                    <el-table style="height:508px;width: 100%" :data="nddyxxcjTableData" border="true" empty-text="" :header-cell-style="{background:'white'}">
                    	<el-table-column
					      label="姓名"
					      width="120">
						    <el-table-column
						      label="性别"
						      width="120">
							      <el-table-column
							      label="民族"
							      width="120">
							      	<el-table-column
								      label="籍贯"
								      width="120">
									      <el-table-column
									      label="学历"
									      width="120">
									      	<el-table-column
										      label="所在党支部"
										      width="120">
										      	<el-table-column
											      label="身份证号码"
											      width="120">
												    <el-table-column
												      label="手机号码"
												      width="120">
												      	<el-table-column
													      label="现居住地"
													      width="120">
												    	</el-table-column>
											    	</el-table-column>
										    	</el-table-column>
									    	</el-table-column>
								    	  </el-table-column>
							    	</el-table-column>
						    	  </el-table-column>
					    	</el-table-column>
					    </el-table-column>
                    <el-table-column
				      :label="formPartInfo.userName"
				      >
					      <el-table-column
						      :label="formPartInfo.gender"
						      width="240">
							      <el-table-column
							      :label="formPartInfo.nation"
							      width="240">
							      	<el-table-column
								      :label="formPartInfo.hometown"
								      width="240">
								      	<el-table-column
									      :label="formPartInfo.education"
									      width="240">
										      <el-table-column
											      :label="formPartInfo.orgName"
											      width="240">
											      <el-table-column
												      :label="formPartInfo.idCard"
												      width="240">
												      	<el-table-column
														      :label="formPartInfo.phone"
														      width="240">
														      <el-table-column
															      :label="formPartInfo.liveAddress"
															      width="240">
													    	  </el-table-column>
												    	</el-table-column>
										    	  </el-table-column>
									    	  </el-table-column>
							    	 	</el-table-column>
						    	 	</el-table-column>
					    	 	  </el-table-column>
				    	 </el-table-column>
				    	 <el-table-column
						      label="出生日期"
						      width="120">
						      <el-table-column
								      label="入党时间"
								      width="120">
								      <el-table-column
										      label="转正时间"
										      width="120">
										      <el-table-column
												      label="学位"
												      width="120">
												      <el-table-column
														      label=""
														      width="120">
														      <el-table-column
																      label="电子邮箱"
																      width="120">
																      <el-table-column
																		      label="工作电话"
																		      width="120">
																		      <el-table-column
																				      label=""
																				      width="120">
																		      </el-table-column>
																      </el-table-column>
														      </el-table-column>
												      </el-table-column>
										      </el-table-column>
								      </el-table-column>
						      </el-table-column>
				    	 </el-table-column>
				    	 <el-table-column
						      :label="formPartInfo.birthTime"
						      width="120">
						      <el-table-column
							      :label="formPartInfo.joinPartyTime"
							      width="120">
							      <el-table-column
								      :label="formPartInfo.turnRightTime"
								      width="120">
								      <el-table-column
									      :label="formPartInfo.bachelor"
									      width="240">
										  <el-table-column
										      label=""
										      width="240">
										      <el-table-column
											      :label="formPartInfo.mail"
											      width="240">
											      <el-table-column
												      :label="formPartInfo.officeNumber"
												      width="240">
												      <el-table-column
													      label=""
													      width="240">
													      
										    	 	  </el-table-column>
									    	 	  </el-table-column>
								    	 	  </el-table-column>
							    	 	  </el-table-column>
						    	 	  </el-table-column>
					    	 	  </el-table-column>
				    	 	  </el-table-column>
				    	 </el-table-column>
			    	</el-table-column>
                    	<el-table-column width="239" :render-header="renderHeader">
                    		
                    	</el-table-column>
                    		
                    	<template slot="empty">
					      <el-button plain  type="primary" @click="dialogShow.nddyxxcjdetail = false" size="mini"><i class="el-icon-close"></i>关闭</el-button>
					    </template>
                    </el-table>
                    <div id="admin" style="width:239px;height:250px; position:absolute;right:25px;
						top:25px;" >
						<img  :src="formPartInfo.imageUrl" style="height:100%;width:100%">
						</div>
                 </el-card>
             </el-dialog>
			    </el-main>
			    </el-col>
			  
</div>
</html>