/**
 * 党建主题
 */

/**
 黄褐色或土黄色
 */
.khaki-color {
    color: #ccaf71;
}

.red-color {
    color: #c32c28;
}

/**
 字体基本颜色
 */
.font-base {
    font-size: 12px;
    font-family: 微软雅黑;
    color: #303133;
}

/**
 字体基本颜色
 */
.font-base2 {
    font-size: 13px;
    font-family: 微软雅黑;
    color: #303133;
}

/**
 字体基本颜色
 */
.font-base-color {
    color: #303133;
    font-family: 微软雅黑;
}

/**
 头部
 */

.main-el-header {
    height: 60px;
    text-align: left;
    font-size: 12px;
    /*background-color: #ccaf71;*/
    /*background: linear-gradient(to right, #AE0000, #ff7575);*/
    background: url(/images/header.jpg);
    background-size: 100% 100%;text-align: center
}

/**
 容器
 */
.main-el-container {
    height: calc(100vh - 58px);
    border: 0;
}

.el-tabs__item .el-icon-close:before{-webkit-transform:scale(.9);transform:scale(.9);display:inline-block}
.el-tabs__item .el-icon-close:hover{background-color:#C0C4CC;color:#ccaf71}
.el-tabs__item.is-active{color:#ccaf71}
.el-tabs__item:hover{color:#ccaf71;cursor:pointer}
.el-tabs__item.is-disabled{color:#ccaf71;cursor:default}

.el-radio-button__inner:hover{color:#ccaf71}
.el-radio-button__inner [class*=el-icon-]{line-height:.9}
.el-radio-button__inner [class*=el-icon-]+span{margin-left:5px}
.el-radio-button:first-child .el-radio-button__inner{border-left:1px solid #DCDFE6;border-radius:4px 0 0 4px;-webkit-box-shadow:none!important;box-shadow:none!important}
.el-radio-button__orig-radio{opacity:0;outline:0;position:absolute;z-index:-1}
.el-radio-button__orig-radio:checked+.el-radio-button__inner{color:#FFF;background-color:#ccaf71;border-color:#ccaf71;-webkit-box-shadow:-1px 0 0 0 #ccaf71;box-shadow:-1px 0 0 0 #ccaf71}

.el-menu-item {
    background-color: #f5dab1 !important;
}

.el-menu-item:hover{
    outline: 0 !important;
    color: rgb(222, 39, 14) !important;
}
.el-menu-item.is-active {
    color: #fff3f3 !important;
    background: rgb(222, 39, 14) !important;
}

.el-submenu__title:focus, .el-submenu__title:hover{
    outline: 0 !important;
    color: #ccaf71 !important;
    background: none !important;
}

.el-loading-spinner .el-loading-text{color:#ccaf71;margin:3px 0;font-size:14px;font-family: 微软雅黑;}
.el-loading-spinner .circular{height:42px;width:42px;-webkit-animation:loading-rotate 2s linear infinite;animation:loading-rotate 2s linear infinite}
.el-loading-spinner .path{-webkit-animation:loading-dash 1.5s ease-in-out infinite;animation:loading-dash 1.5s ease-in-out infinite;stroke-dasharray:90,150;stroke-dashoffset:0;stroke-width:2;stroke:#ccaf71;stroke-linecap:round}
.el-loading-spinner i{color:#ccaf71}

.el-button{display:inline-block;line-height:1;white-space:nowrap;cursor:pointer;background:#FFF;border:1px solid #DCDFE6;color:#ccaf71;-webkit-appearance:none;text-align:center;-webkit-box-sizing:border-box;box-sizing:border-box;outline:0;margin:0;-webkit-transition:.1s;transition:.1s;font-weight:500;padding:12px 20px;font-size:14px;border-radius:4px}.el-button+.el-button{margin-left:10px}
.el-button:focus,.el-button:hover{color:#ccaf71;border-color:#ccaf71;background-color:#ecf5ff}
.el-button:active{color:#ccaf71;border-color:#ccaf71;outline:0}
.el-button::-moz-focus-inner{border:0}
.el-button [class*=el-icon-]+span{margin-left:5px}
.el-button.is-plain:focus,.el-button.is-plain:hover{background:#FFF;border-color:#ccaf71;color:#ccaf71}
.el-button.is-active,.el-button.is-plain:active{color:#ccaf71;border-color:#ccaf71}
.el-button.is-plain:active{background:#FFF;outline:0}
.el-button.is-disabled,.el-button.is-disabled:focus,.el-button.is-disabled:hover{color:#C0C4CC;cursor:not-allowed;background-image:none;background-color:#FFF;border-color:#EBEEF5}
.el-button.is-disabled.el-button--text{background-color:transparent}
.el-button.is-disabled.is-plain,.el-button.is-disabled.is-plain:focus,.el-button.is-disabled.is-plain:hover{background-color:#FFF;border-color:#EBEEF5;color:#C0C4CC}
.el-button.is-loading{position:relative;pointer-events:none}
.el-button.is-loading:before{pointer-events:none;content:'';position:absolute;left:-1px;top:-1px;right:-1px;bottom:-1px;border-radius:inherit;background-color:rgba(255,255,255,.35)}
.el-button.is-round{border-radius:20px;padding:12px 23px}
.el-button.is-circle{border-radius:50%;padding:12px}
.el-button--primary{color:#FFF;background-color:#ccaf71;border-color:#ccaf71}
.el-button--primary:focus,.el-button--primary:hover{background:#ccaf71;border-color:#ccaf71;color:#FFF}
.el-button--primary.is-active,.el-button--primary:active{background:#ccaf71;border-color:#ccaf71;color:#FFF}
.el-button--primary:active{outline:0}.el-button--primary.is-disabled,.el-button--primary.is-disabled:active,.el-button--primary.is-disabled:focus,.el-button--primary.is-disabled:hover{color:#FFF;background-color:#ccaf71;border-color:#ccaf71}
.el-button--primary.is-plain{color:#ccaf71;background:#ecf5ff;border-color:#ccaf71}
.el-button--primary.is-plain:focus,.el-button--primary.is-plain:hover{background:#ccaf71;border-color:#ccaf71;color:#FFF}
.el-button--primary.is-plain:active{background:#ccaf71;border-color:#ccaf71;color:#FFF;outline:0}
.el-button--primary.is-plain.is-disabled,.el-button--primary.is-plain.is-disabled:active,.el-button--primary.is-plain.is-disabled:focus,.el-button--primary.is-plain.is-disabled:hover{color:#ccaf71;background-color:#ecf5ff;border-color:#d9ecff}
.el-button--success{color:#FFF;background-color:#ccaf71;border-color:#ccaf71}
.el-button--success:focus,.el-button--success:hover{background:#ccaf71;border-color:#ccaf71;color:#FFF}
.el-button--success.is-active,.el-button--success:active{background:#ccaf71;border-color:#ccaf71;color:#FFF}
.el-button--success:active{outline:0}
.el-button--success.is-disabled,.el-button--success.is-disabled:active,.el-button--success.is-disabled:focus,.el-button--success.is-disabled:hover{color:#FFF;background-color:#ccaf71;border-color:#ccaf71}
.el-button--success.is-plain{color:#ccaf71;background:#f0f9eb;border-color:#c2e7b0}
.el-button--success.is-plain:focus,.el-button--success.is-plain:hover{background:#ccaf71;border-color:#ccaf71;color:#FFF}
.el-button--success.is-plain:active{background:#ccaf71;border-color:#ccaf71;color:#FFF;outline:0}
.el-button--success.is-plain.is-disabled,.el-button--success.is-plain.is-disabled:active,.el-button--success.is-plain.is-disabled:focus,.el-button--success.is-plain.is-disabled:hover{color:#ccaf71;background-color:#f0f9eb;border-color:#e1f3d8}
.el-button--warning{color:#FFF;background-color:#E6A23C;border-color:#E6A23C}
.el-button--warning:focus,.el-button--warning:hover{background:#ebb563;border-color:#ebb563;color:#FFF}
.el-button--warning.is-active,.el-button--warning:active{background:#cf9236;border-color:#cf9236;color:#FFF}
.el-button--warning:active{outline:0}
.el-button--warning.is-disabled,.el-button--warning.is-disabled:active,.el-button--warning.is-disabled:focus,.el-button--warning.is-disabled:hover{color:#FFF;background-color:#f3d19e;border-color:#f3d19e}
.el-button--warning.is-plain{color:#E6A23C;background:#fdf6ec;border-color:#f5dab1}
.el-button--warning.is-plain:focus,.el-button--warning.is-plain:hover{background:#E6A23C;border-color:#E6A23C;color:#FFF}
.el-button--warning.is-plain:active{background:#cf9236;border-color:#cf9236;color:#FFF;outline:0}
.el-button--warning.is-plain.is-disabled,.el-button--warning.is-plain.is-disabled:active,.el-button--warning.is-plain.is-disabled:focus,.el-button--warning.is-plain.is-disabled:hover{color:#f0c78a;background-color:#fdf6ec;border-color:#faecd8}
.el-button--danger{color:#FFF;background-color:#F56C6C;border-color:#F56C6C}
.el-button--danger:focus,.el-button--danger:hover{background:#f78989;border-color:#f78989;color:#FFF}
.el-button--danger.is-active,.el-button--danger:active{background:#dd6161;border-color:#dd6161;color:#FFF}
.el-button--danger:active{outline:0}.el-button--danger.is-disabled,.el-button--danger.is-disabled:active,.el-button--danger.is-disabled:focus,.el-button--danger.is-disabled:hover{color:#FFF;background-color:#fab6b6;border-color:#fab6b6}
.el-button--danger.is-plain{color:#F56C6C;background:#fef0f0;border-color:#fbc4c4}
.el-button--danger.is-plain:focus,.el-button--danger.is-plain:hover{background:#F56C6C;border-color:#F56C6C;color:#FFF}
.el-button--danger.is-plain:active{background:#dd6161;border-color:#dd6161;color:#FFF;outline:0}
.el-button--danger.is-plain.is-disabled,.el-button--danger.is-plain.is-disabled:active,.el-button--danger.is-plain.is-disabled:focus,.el-button--danger.is-plain.is-disabled:hover{color:#f9a7a7;background-color:#fef0f0;border-color:#fde2e2}
.el-button--info{color:#FFF;background-color:#ccaf71;border-color:#ccaf71}
.el-button--info:focus,.el-button--info:hover{background:#ccaf71;border-color:#ccaf71;color:#FFF}
.el-button--info.is-active,.el-button--info:active{background:#ccaf71;border-color:#ccaf71;color:#FFF}
.el-button--info:active{outline:0}
.el-button--info.is-disabled,.el-button--info.is-disabled:active,.el-button--info.is-disabled:focus,.el-button--info.is-disabled:hover{color:#FFF;background-color:#ccaf71;border-color:#ccaf71}
.el-button--info.is-plain{color:#ccaf71;background:#f4f4f5;border-color:#ccaf71}
.el-button--info.is-plain:focus,.el-button--info.is-plain:hover{background:#ccaf71;border-color:#ccaf71;color:#FFF}
.el-button--info.is-plain:active{background:#ccaf71;border-color:#ccaf71;color:#FFF;outline:0}
.el-button--info.is-plain.is-disabled,.el-button--info.is-plain.is-disabled:active,.el-button--info.is-plain.is-disabled:focus,.el-button--info.is-plain.is-disabled:hover{color:#ccaf71;background-color:#f4f4f5;border-color:#e9e9eb}
.el-button--text,.el-button--text.is-disabled,.el-button--text.is-disabled:focus,.el-button--text.is-disabled:hover,.el-button--text:active{border-color:transparent}
.el-button--medium{padding:10px 20px;font-size:14px;border-radius:4px}
.el-button--mini,.el-button--small{font-size:12px;border-radius:3px}
.el-button--medium.is-round{padding:10px 20px}
.el-button--medium.is-circle{padding:10px}
.el-button--small,.el-button--small.is-round{padding:9px 15px}
.el-button--small.is-circle{padding:9px}
.el-button--mini,.el-button--mini.is-round{padding:7px 15px}
.el-button--mini.is-circle{padding:7px}
.el-button--text{color:#ccaf71;background:0 0;padding-left:0;padding-right:0}
.el-button--text:focus,.el-button--text:hover{color:#ccaf71;border-color:transparent;background-color:transparent}
.el-button--text:active{color:#ccaf71;background-color:transparent}
.el-button-group{display:inline-block;vertical-align:middle}
.el-button-group::after,.el-button-group::before{display:table;content:""}
.el-button-group::after{clear:both}.el-button-group>.el-button{float:left;position:relative}.el-button-group>.el-button+.el-button{margin-left:0}.el-button-group>.el-button.is-disabled{z-index:1}.el-button-group>.el-button:first-child{border-top-right-radius:0;border-bottom-right-radius:0}.el-button-group>.el-button:last-child{border-top-left-radius:0;border-bottom-left-radius:0}.el-button-group>.el-button:first-child:last-child{border-radius:4px}.el-button-group>.el-button:first-child:last-child.is-round{border-radius:20px}.el-button-group>.el-button:first-child:last-child.is-circle{border-radius:50%}.el-button-group>.el-button:not(:first-child):not(:last-child){border-radius:0}.el-button-group>.el-button:not(:last-child){margin-right:-1px}.el-button-group>.el-button.is-active,.el-button-group>.el-button:active,.el-button-group>.el-button:focus,.el-button-group>.el-button:hover{z-index:1}.el-button-group>.el-dropdown>.el-button{border-top-left-radius:0;border-bottom-left-radius:0;border-left-color:rgba(255,255,255,.5)}.el-button-group .el-button--primary:first-child{border-right-color:rgba(255,255,255,.5)}.el-button-group .el-button--primary:last-child{border-left-color:rgba(255,255,255,.5)}.el-button-group .el-button--primary:not(:first-child):not(:last-child){border-left-color:rgba(255,255,255,.5);border-right-color:rgba(255,255,255,.5)}.el-button-group .el-button--success:first-child{border-right-color:rgba(255,255,255,.5)}.el-button-group .el-button--success:last-child{border-left-color:rgba(255,255,255,.5)}.el-button-group .el-button--success:not(:first-child):not(:last-child){border-left-color:rgba(255,255,255,.5);border-right-color:rgba(255,255,255,.5)}.el-button-group .el-button--warning:first-child{border-right-color:rgba(255,255,255,.5)}.el-button-group .el-button--warning:last-child{border-left-color:rgba(255,255,255,.5)}.el-button-group .el-button--warning:not(:first-child):not(:last-child){border-left-color:rgba(255,255,255,.5);border-right-color:rgba(255,255,255,.5)}.el-button-group .el-button--danger:first-child{border-right-color:rgba(255,255,255,.5)}.el-button-group .el-button--danger:last-child{border-left-color:rgba(255,255,255,.5)}.el-button-group .el-button--danger:not(:first-child):not(:last-child){border-left-color:rgba(255,255,255,.5);border-right-color:rgba(255,255,255,.5)}.el-button-group .el-button--info:first-child{border-right-color:rgba(255,255,255,.5)}.el-button-group .el-button--info:last-child{border-left-color:rgba(255,255,255,.5)}

/*首页*/
.firstPage {

}

/* 首页-快速入口 */

.firstPage-quickEntry {
    height:252px;
}

.firstPage-quickEntry_title {
    font-size:18px;
    color: #ff7575;
    font-weight: bold;
}

.firstPage-quickEntry_row {
    margin-top: 15px;
}

.firstPage-quickEntry_row2 {
    margin-top: 20px;
}

.firstPage-quickEntry-item {
    cursor:pointer;
    height:100px;
    width:80px;
    flex-direction: column;
    display: -webkit-flex;
    align-items:center;
    justify-content:center;
}

.firstPage-quickEntry-item_img{
    width: 60px;
    height: 60px;
}

.firstPage-quickEntry-item_name{
    margin-top: 5px;
}

/* 首页-下载 */
.firstPage-resDownload {
    height: 252px;
    margin-top: 40px;
}

.firstPage-resDownload_title {
    font-size:18px;
    font-weight: bold;
    color: #ff7575;
}

.firstPage-resDownload-tabs {
    margin-top:20px;
    width:91.5%;
}

.firstPage-resDownload-tab {
    margin-top: 10px;
    display: flex;
    display: -webkit-flex;
    align-items:center;
}

.firstPage-resDownload-tab_name {
    width: calc(100% - 85px);
    height: auto
}

.firstPage-resDownload-tab_name-a {
    color: #242424;
    cursor: pointer;
}

.firstPage-resDownload-tab_time {
    width: 85px;
    font-size: 13px;
    color: #8c939d;
}

#tab-dygl {
     color: #ccaf71;
}

#tab-dfgl {
    color: #ccaf71;
}

#tab-hjgl {
    color: #ccaf71;
}

/* 首页-简报 */
.firstPage-briefs {
    height:auto;
}

.firstPage-briefs-items_row {
    margin-top: 20px;
}

.firstPage-briefs-items_title {
    font-size: 18px;
    font-weight: bold;
    color: #ff7575;
}
.firstPage-briefs-item {
    margin-top: 10px;
    display: flex;
    display: -webkit-flex;
    align-items:center;
}
.firstPage-briefs-item_title{
    width: calc(100% - 85px);
    height: auto;
}
.firstPage-briefs_item_title-a{
    color: #303133;
    cursor: pointer;
}
.firstPage-briefs-item_time {
    width: 85px;
    font-size: 13px;
    color: #303133;
}

.firstPage-briefs-brief_dialog {
    border-radius: 5px;
}

.firstPage-briefs-brief_dialog-content {
    width: 100%;
    text-align: center;
}

.menu-collapse-div {
    position: absolute;
    bottom: 20px;
    left: 180px;
    z-index: 100;
}

.menu-collapse-div2 {
    position: absolute;
    bottom: 20px;
    left: 49px;
    z-index: 100;
    animation: my-collapse-css 300ms;
    /*animation-delay: 200ms;*/
    /*-webkit-animation-delay: 200ms;*/
    /*transition-delay: 300ms;*/
    /*-webkit-transition-delay: 300ms;*/
    /*-o-transition-delay: 300ms;*/
    /*-moz-transition-delay: 300ms;*/
}

@keyframes my-collapse-css{
    from {left: 180px}
    to {left: 49px}
}

.menu-collapse-icon-inner {
cursor: pointer;
font-size: 30px;
color: #c32c28;
}





