/**
 * 党建主题
 */

/**
 黄褐色或土黄色
 */
.khaki-color {
    color: #ccaf71;
}

.red-color {
    color: #c32c28;
}

/**
 字体基本颜色
 */
.font-base {
    font-size: 12px;
    font-family: 微软雅黑;
    color: #303133;
}

/**
 字体基本颜色
 */
.font-base2 {
    font-size: 13px;
    font-family: 微软雅黑;
    color: #303133;
}

/**
 字体基本颜色
 */
.font-base-color {
    color: #303133;
}

/*首页*/
.firstPage {

}

/* 首页-快速入口 */

.firstPage-quickEntry {
    height:252px;
}

.firstPage-quickEntry_title {
    font-size:18px;
    color:#ccaf71;
}

.firstPage-quickEntry_row {
    margin-top: 15px;
}

.firstPage-quickEntry_row2 {
    margin-top: 20px;
}

.firstPage-quickEntry-item {
    cursor:pointer;
    height:100px;
    width:80px;
    flex-direction: column;
    display: -webkit-flex;
    align-items:center;
    justify-content:center;
}

.firstPage-quickEntry-item_img{
    width: 60px;
    height: 60px;
}

.firstPage-quickEntry-item_name{
    margin-top: 5px;
}

/* 首页-下载 */
.firstPage-resDownload {
    height: 252px;
    margin-top: 40px;
}

.firstPage-resDownload_title {
    font-size:18px;
    color:#ccaf71;
}

.firstPage-resDownload-tabs {
    margin-top:20px;
    width:91.5%;
}

.firstPage-resDownload-tab {
    margin-top: 10px;
    display: flex;
    display: -webkit-flex;
    align-items:center;
}

.firstPage-resDownload-tab_name {
    width: calc(100% - 85px);
    height: auto
}

.firstPage-resDownload-tab_name-a {
    color: #242424;
    cursor: pointer;
}

.firstPage-resDownload-tab_time {
    width: 85px;
    font-size: 13px;
    color: #8c939d;
}

#tab-dygl {
     color: #ccaf71;
}

#tab-dfgl {
    color: #ccaf71;
}

#tab-hjgl {
    color: #ccaf71;
}

/* 首页-简报 */
.firstPage-briefs {
    height:auto;
}

.firstPage-briefs-items_title {
    font-size: 18px;
    color: #ccaf71;
}
.firstPage-briefs-item {
    margin-top: 10px;
    display: flex;
    display: -webkit-flex;
    align-items:center;
}
.firstPage-briefs-item_title{
    width: calc(100% - 85px);
    height: auto;
}
.firstPage-briefs_item_title-a{
    color: #303133;
    cursor: pointer;
}
.firstPage-briefs-item_time {
    width: 85px;
    font-size: 13px;
    color: #303133;
}

.firstPage-briefs-brief_dialog {
    border-radius: 5px;
}

.firstPage-briefs-brief_dialog-content {
    width: 100%;
    text-align: center;
}




