/**
 * 党建主题
 */

/**
 黄褐色或土黄色
 */
.khaki-color {
    color: #ccaf71;
}

.red-color {
    color: #c32c28;
}

/**
 字体基本颜色
 */
.font-base {
    font-size: 12px;
    font-family: 微软雅黑;
    color: #303133;
}

/**
 字体基本颜色
 */
.font-base2 {
    font-size: 13px;
    font-family: 微软雅黑;
    color: #303133;
}

/**
 字体基本颜色
 */
.font-base-color {
    color: #303133;
}

/**
 头部
 */

.main-el-header {
    height: 60px;
    text-align: left;
    font-size: 12px;
    /*background-color: #ccaf71;*/
    /*background: linear-gradient(to right, #AE0000, #ff7575);*/
    background: url(/images/header.jpg);
    background-size: 100% 100%;text-align: center
}

/**
 容器
 */
.main-el-container {
    height: calc(100vh - 58px);
    border: 0;
}

.el-tabs__item .el-icon-close:before{-webkit-transform:scale(.9);transform:scale(.9);display:inline-block}
.el-tabs__item .el-icon-close:hover{background-color:#C0C4CC;color:#ccaf71}
.el-tabs__item.is-active{color:#ccaf71}
.el-tabs__item:hover{color:#ccaf71;cursor:pointer}
.el-tabs__item.is-disabled{color:#ccaf71;cursor:default}

.el-radio-button__inner:hover{color:#ccaf71}
.el-radio-button__inner [class*=el-icon-]{line-height:.9}
.el-radio-button__inner [class*=el-icon-]+span{margin-left:5px}
.el-radio-button:first-child .el-radio-button__inner{border-left:1px solid #DCDFE6;border-radius:4px 0 0 4px;-webkit-box-shadow:none!important;box-shadow:none!important}
.el-radio-button__orig-radio{opacity:0;outline:0;position:absolute;z-index:-1}
.el-radio-button__orig-radio:checked+.el-radio-button__inner{color:#FFF;background-color:#ccaf71;border-color:#ccaf71;-webkit-box-shadow:-1px 0 0 0 #ccaf71;box-shadow:-1px 0 0 0 #ccaf71}

.el-menu-item {
    background-color: #f5dab1 !important;
}

.el-menu-item:hover{
    outline: 0 !important;
    color: rgb(222, 39, 14) !important;
}
.el-menu-item.is-active {
    color: #fff3f3 !important;
    background: rgb(222, 39, 14) !important;
}

.el-submenu__title:focus, .el-submenu__title:hover{
    outline: 0 !important;
    color: #ccaf71 !important;
    background: none !important;
}

.el-loading-spinner .el-loading-text{color:#ccaf71;margin:3px 0;font-size:14px}
.el-loading-spinner .circular{height:42px;width:42px;-webkit-animation:loading-rotate 2s linear infinite;animation:loading-rotate 2s linear infinite}
.el-loading-spinner .path{-webkit-animation:loading-dash 1.5s ease-in-out infinite;animation:loading-dash 1.5s ease-in-out infinite;stroke-dasharray:90,150;stroke-dashoffset:0;stroke-width:2;stroke:#ccaf71;stroke-linecap:round}
.el-loading-spinner i{color:#ccaf71}


/*首页*/
.firstPage {

}

/* 首页-快速入口 */

.firstPage-quickEntry {
    height:252px;
}

.firstPage-quickEntry_title {
    font-size:18px;
    color: #ff7575;
    font-weight: bold;
}

.firstPage-quickEntry_row {
    margin-top: 15px;
}

.firstPage-quickEntry_row2 {
    margin-top: 20px;
}

.firstPage-quickEntry-item {
    cursor:pointer;
    height:100px;
    width:80px;
    flex-direction: column;
    display: -webkit-flex;
    align-items:center;
    justify-content:center;
}

.firstPage-quickEntry-item_img{
    width: 60px;
    height: 60px;
}

.firstPage-quickEntry-item_name{
    margin-top: 5px;
}

/* 首页-下载 */
.firstPage-resDownload {
    height: 252px;
    margin-top: 40px;
}

.firstPage-resDownload_title {
    font-size:18px;
    font-weight: bold;
    color: #ff7575;
}

.firstPage-resDownload-tabs {
    margin-top:20px;
    width:91.5%;
}

.firstPage-resDownload-tab {
    margin-top: 10px;
    display: flex;
    display: -webkit-flex;
    align-items:center;
}

.firstPage-resDownload-tab_name {
    width: calc(100% - 85px);
    height: auto
}

.firstPage-resDownload-tab_name-a {
    color: #242424;
    cursor: pointer;
}

.firstPage-resDownload-tab_time {
    width: 85px;
    font-size: 13px;
    color: #8c939d;
}

#tab-dygl {
     color: #ccaf71;
}

#tab-dfgl {
    color: #ccaf71;
}

#tab-hjgl {
    color: #ccaf71;
}

/* 首页-简报 */
.firstPage-briefs {
    height:auto;
}

.firstPage-briefs-items_row {
    margin-top: 20px;
}

.firstPage-briefs-items_title {
    font-size: 18px;
    font-weight: bold;
    color: #ff7575;
}
.firstPage-briefs-item {
    margin-top: 10px;
    display: flex;
    display: -webkit-flex;
    align-items:center;
}
.firstPage-briefs-item_title{
    width: calc(100% - 85px);
    height: auto;
}
.firstPage-briefs_item_title-a{
    color: #303133;
    cursor: pointer;
}
.firstPage-briefs-item_time {
    width: 85px;
    font-size: 13px;
    color: #303133;
}

.firstPage-briefs-brief_dialog {
    border-radius: 5px;
}

.firstPage-briefs-brief_dialog-content {
    width: 100%;
    text-align: center;
}

.menu-collapse-div {
    position: absolute;
    top: 50%;
    left: 182px;
    z-index: 100;
}

.menu-collapse-div2 {
    position: absolute;
    top: 50%;
    left: 59px;
    z-index: 100;
}

.menu-collapse-icon-inner {
    cursor: pointer;
    font-size: 30px;
    color: #c32c28;
}





