<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>系统管理平台</title>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"/>
    <META HTTP-EQUIV="Expires" CONTENT="0"/>
    <script>
        /*头部背景图片预加载*/
        let headerBgImg = new Image();
        headerBgImg.src = "/images/header.jpg";
    </script>
    <link rel="stylesheet" href="/css/element-ui/index.css" th:href="@{~/css/element-ui/index.css}"/>
    <link rel="stylesheet" href="/css/custom/sys-style.css" th:href="@{~/css/custom/sys-style.css}"/>
    <link rel="stylesheet" href="/css/custom/theme-partyBuild.css" th:href="@{~/css/custom/theme-partyBuild.css}"/>
    <link rel="stylesheet" href="/css/iconfont/iconfont.css" th:href="@{~/css/iconfont/iconfont.css}"/>
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div id="admin-main" v-cloak>
    <div class="chat-div">
        <i class="iconfont icon-weixin1"></i>
        <div> 即时通信功能建设中</div>
    </div>

    <el-header class="main-el-header" style="height: 100px">
        <div th:include="/common/admin/header :: header"></div>
    </el-header>
    <el-container class="main-el-container">
        <el-aside style="width: auto;overflow-x: hidden ;background-color: #FCF6E3; background-image: url('/images/menu.jpg');background-size: 100% 100%;">
            <div th:replace="/common/admin/menu :: menu"></div>
        </el-aside>

        <el-container>
            <el-main stype="width: 100%;margin-left:10px;margin-top:10px;margin-bottom:-100px">
                <!--
                <div class="scroll-box">
                    <p class="animate">
                        {{scrollBoxContent}}
                    </p>
                </div>
                -->
                <div style="width: 100%;display: flex;display: -webkit-flex; align-items:center;">
                    <!--
                    <el-carousel height="60px" direction="horizontal" :interval="3000" :autoplay="true"
                                 loop="true" style="margin-bottom: 10px" arrow="hover">
                        <el-carousel-item v-for="item in 5" :key="item" :label="item">
                            <h3 class="medium"></h3>我的跑马灯{{item}}
                        </el-carousel-item>
                    </el-carousel>
                    -->
                    <!--修改前-->
                    <!--
                    <div style="width: calc(100% - 35px);margin-left: 10px;margin-top:10px;border-top: #E4E7ED solid 1px;">
                        <el-tabs v-model="editableTabsOptions.editableTabsValue" type="card"
                                 @tab-remove="handleRemoveTab"
                                 @tab-click="handleClickTab"
                                 style="font-size: 12px; font-weight: bolder;" size="mini"
                        >
                            <el-tab-pane
                                    v-for="(item, index) in editableTabsOptions.editableTabs"
                                    :key="item.name"
                                    :label="item.title"
                                    :name="item.name"
                                    :closable="item.closable"
                                    style="font-size: 12px; font-weight: bolder;"
                            >
                            </el-tab-pane>
                        </el-tabs>
                    </div>
                    -->
                    <!--修改后-->
                    <div style="width: calc(100% - 45px);margin-left: 10px;margin-top:10px;border-top: #E4E7ED solid 1px;">
                        <el-tabs v-model="editableTabsOptions.editableTabsValue" type="card"
                                 @tab-remove="handleRemoveTab"
                                 @tab-click="handleClickTab"
                                 style="font-size: 12px; font-weight: bolder;" size="mini"
                        >
                            <el-tab-pane
                                    v-for="(item, index) in editableTabsOptions.editableTabs"
                                    :key="item.name"
                                    :label="item.title"
                                    :name="item.name"
                                    :closable="item.closable"
                                    style="font-size: 12px; font-weight: bolder;"
                            >
                            </el-tab-pane>
                        </el-tabs>
                    </div>
                    <div style="width: 25px;height: 48px;border-right: #E4E7ED solid 1px;border-top: #E4E7ED solid 1px;border-bottom: #E4E7ED solid 1px;margin-top: -5px">
                        <div style="width: 25px;height: 25px;border-left: #E4E7ED solid 1px;border-bottom: #E4E7ED solid 1px; float: right;display: flex;justify-content: center;align-items: center;">
<!--                            <i class="el-icon-arrow-left" style="font-size: 18px;color: #E4E7ED;font-weight: bolder"></i>-->
                            <el-dropdown style="cursor: pointer;"
                                         @command="handleTabsDropdown" size="mini">
                                <i class="el-icon-arrow-left" style="font-size: 18px;color: #afafaf;"></i>
                                <el-dropdown-menu slot="dropdown" size="mini">
                                    <el-dropdown-item command="other" style="font-size: 10px;cursor: pointer;">关闭其他</el-dropdown-item>
                                    <el-dropdown-item command="all" style="font-size: 10px;cursor: pointer;">关闭全部</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </div>
                    </div>

<!--                    <div style="width: 15px;border-bottom: 1px solid #E4E7ED; margin-bottom: 1px;">-->
                    <!-- 修改前样式 -->
                    <!--
                    <div style="width: 15px;height: 44px;line-height: 44px; border-bottom: 1px solid #E4E7ED;margin-bottom:1px;">
                        <el-dropdown style="cursor: pointer;"
                                     @command="handleTabsDropdown" size="mini">
                            <i class="el-icon-circle-close" style="font-size: 18px"></i>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item command="other" style="font-size: 10px;cursor: pointer;">关闭其他</el-dropdown-item>
                                <el-dropdown-item command="all" style="font-size: 10px;cursor: pointer;">关闭全部</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </div>
                    -->
                </div>


                <keep-alive :max="30">
                    <div style="margin-top: 20px;margin-bottom: -20px; margin-left: 10px;margin-right: 10px;">
                        <el-card shadow="never" v-if="showContent == 'modules'" key="modules">
                            <div th:replace="/common/admin/user/modules :: content"/>
                        </el-card>
                        <el-card shadow="never" v-if="showContent == 'roles'" key="roles">
                            <div th:replace="/common/admin/user/roles :: content"/>
                        </el-card>
                        <el-card shadow="never" v-if="showContent == 'memberUsers'" key="memberUsersformArticle">
                            <div th:replace="/common/admin/user/memberUsers :: content"/>
                        </el-card>
                        <el-card shadow="never" v-if="showContent == 'sysUsers'" key="sysUsers">
                            <div th:replace="/common/admin/user/sysUsers :: content"/>
                        </el-card>

                        <el-card shadow="never" v-if="showContent == 'categories'" key="categories">
                            <div th:replace="/common/admin/category/categories :: content"/>
                        </el-card>
                        <el-card shadow="never" v-if="showContent == 'categoryTypes'" key="categoryTypes">
                            <div th:replace="/common/admin/category/categoryTypes :: content"/>
                        </el-card>
                        <el-card shadow="never" v-if="showContent == 'firstPage'" key="firstPage"
                                 style="border: 0;">
                            <div th:replace="/common/admin/firstPage :: content" style="height: 100%"/>
                        </el-card>
                        <!--党员管理法规制度-->
                        <el-card shadow="never" v-if="showContent == 'dyfgzd'" key="dyfgzd">
<!--                            <div th:replace="/common/admin/dygl/dyfgzd :: content"/>-->
                            <div th:replace="/common/admin/res/list :: content"/>
                        </el-card>
                        <!--党组织法规制度-->
                        <el-card shadow="never" v-if="showContent == 'dzzfgzd'" key="dzzfgzd">
<!--                            <div th:replace="/common/admin/dzz/dzzfgzd :: content"/>-->
                            <div th:replace="/common/admin/res/list :: content"/>
                        </el-card>
                        <el-card shadow="never" v-if="showContent == 'dwjbxx'" key="dwjbxx">
                            <div th:replace="/common/admin/dzz/dwjbxx :: content"/>
                        </el-card>
                        <el-card shadow="never" v-if="showContent == 'nddyxxcj'" key="nddyxxcj">
                            <div th:replace="/common/admin/dygl/nddyxxcj :: content"/>
                        </el-card>
                        <!--党费法规制度-->
                        <el-card shadow="never" v-if="showContent == 'dffgzd'" key="dffgzd">
<!--                            <div th:replace="/common/admin/dfgl/dffgzd :: content"/>-->
                            <div th:replace="/common/admin/res/list :: content"/>
                        </el-card>
                        <!--年度党费上缴情况-->
                        <!--
                        <el-card shadow="never" v-if="showContent == 'ndsjdfqk'" key="ndsjdfqk">
                            <div th:replace="/common/admin/dfgl/ndsjdfqk :: content"/>
                        </el-card>
                        -->
                        <el-card shadow="never" v-if="showContent == 'ndsjdfqk'" key="ndsjdfqk">
                            <div th:replace="/common/admin/res/list2 :: content"/>
                        </el-card>

                        <el-card shadow="never" v-if="showContent == 'dfglzlxz'" key="hjfgzd">
                            <div th:replace="/common/admin/res/list :: content"/>
                        </el-card>

                        <el-card shadow="never" v-if="showContent == 'hjfgzd'" key="hjfgzd">
<!--                            <div th:replace="/common/admin/hjgl/hjfgzd :: content"/>-->
                            <div th:replace="/common/admin/res/list :: content"/>
                        </el-card>
                        <!--通知通告-->
                        <el-card shadow="never" v-if="showContent == 'announce'" key="announce">
                            <div th:replace="/common/admin/news/list :: content"/>
                        </el-card>
                        <!-- 简报 -->
                        <el-card shadow="never" v-if="showContent == 'articles'" key="bulletin">
                            <div th:replace="/common/admin/article/articles :: content"/>
                        </el-card>
                        <el-card shadow="never" v-show="showContent == 'formArticle'" key="formArticle">
                            <div th:replace="/common/admin/article/add :: form"/>
                        </el-card>
                        <!--换届管理-->
                        <el-card shadow="never" v-if="showContent == 'hjglzlxz'" key="hjglzlxz">
                            <div th:replace="/common/admin/res/list :: content"/>
                        </el-card>
                        <!--党员管理资料下载-->
                        <el-card shadow="never" v-if="showContent == 'dyglzlxz'" key="dyglzlxz">
                            <div th:replace="/common/admin/res/list :: content"/>
                        </el-card>
                        <!--年度党费收支情况公示-->
                        <el-card shadow="never" v-if="showContent == 'nddfszqkgs'" key="nddfszqkgs">
                            <div th:replace="/common/admin/res/list2 :: content"/>
                        </el-card>
                        <!--年度党费收支结存情况-->
                        <el-card shadow="never" v-if="showContent == 'nddfszjcqk'" key="nddfszjcqk">
                            <div th:replace="/common/admin/res/list2 :: content"/>
                        </el-card>
                        <!--年度换届工作计划-->
                        <el-card shadow="never" v-if="showContent == 'ndhjgzjh'" key="ndhjgzjh">
                            <div th:replace="/common/admin/res/list2 :: content"/>
                        </el-card>
                        <!--换届工作台账-->
                        <el-card shadow="never" v-if="showContent == 'hjgztz'" key="hjgztz">
                            <div th:replace="/common/admin/res/list2 :: content"/>
                        </el-card>
                        <!--发展党员-->
                        <el-card shadow="never" v-if="showContent == 'fzdy'" key="fzdy">
                            <div th:replace="/common/admin/res/list2 :: content"/>
                        </el-card>

                        <!--大数据-->
                        <el-card shadow="never" v-show="showContent == 'bigData'" key="fzdy">
                            <div th:replace="/common/admin/bigData/index :: content"/>
                        </el-card>

                        <!--视频会议faceMeet-->
                        <el-card shadow="never" v-show="showContent == 'faceMeet'" key="fzdy">
                            <div th:replace="/common/admin/faceMeet/index :: content"/>
                        </el-card>

                        <!--文章管理-->
                        <el-card shadow="never" v-if="showContent == 'articleManagement'" key="articleManagement">
                            <div th:replace="/common/admin/article/articleManagement :: content"/>
                        </el-card>
                    </div>
                </keep-alive>
            </el-main>
            <!--
            <el-footer style="background-color:#eee;margin-top:20px">
                    <div th:replace="/common/admin/footer :: footer"></div>
                </el-footer>
            -->
            <el-footer>
                <div class="footer-div">
                    <p style="font-size: 10px;">技术支持：奥维云创(天津)网络科技有限公司 </p>
                    <p style="margin-left: 20px;font-size: 10px;">E-mail：63840130@qq.com</p>
                    <p style="margin-left: 80px;font-size: 10px;">津ICP备：110241538166</p>
                </div>
            </el-footer>
        </el-container>
    </el-container>
    <!--
    <el-footer>
        <div style="width: 100%;height: 100%;">
            <div style="margin: auto;width: 100%;display: -webkit-flex;justify-content: space-between;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack:justify;">
                <p style="margin-left: 10px;font-weight: bolder;">奥维云创(天津)网络科技有限公司 </p>
                <p style="margin-right: 30px;font-weight: bolder;">版权所有@2020</p>
            </div>
        </div>
    </el-footer>
    -->
</div>
<!-- <style>
	.footerImg{
		background:url(images/company.png)
	}
</style> -->
</body>
<script src="/js/highcharts/highcharts.js" charset="utf-8" th:src="@{~/js/highcharts/highcharts.js}"></script>
<script src="/js/echarts/echarts.min.js" charset="utf-8" th:src="@{~/js/echarts/echarts.min.js}"></script>
<script type="text/javascript" charset="utf-8" src="/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="/js/ueditor/lang/zh-cn/zh-cn.js"></script>
<!--<script src="https://unpkg.com/vue@2.5.22/dist/vue.js"></script>-->
<!--<script src="https://unpkg.com/element-ui@2.4.11/lib/index.js"></script>-->
<script src="/js/vue/vue.min.js" charset="utf-8" th:src="@{~/js/vue/vue.min.js}"></script>
<script src="/js/axios/axios.min.js" charset="utf-8" th:src="@{~/js/axios/axios.min.js}"></script>
<script src="/js/qs/qs.min.js" charset="utf-8" th:src="@{~/js/qs/qs.min.js}"></script>
<script src="/js/element-ui/index.js" charset="utf-8" th:src="@{~/js/element-ui/index.js}"></script>
<script src="/js/mock/mock-min.js" charset="utf-8" th:src="@{~/js/mock/mock-min.js}"></script>
<script src="/js/data/struct-admin-main.js" charset="utf-8" th:src="@{~/js/data/struct-admin-main.js}"></script>
<script src="/js/custom/admin-main.js" charset="utf-8" th:src="@{~/js/custom/admin-main.js}"></script>
<script src="/js/jquery-3.3.1.js" charset="utf-8" th:src="@{~/js/jquery-3.3.1.js}"></script>
</html>
