<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>系统管理平台</title>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"/>
    <META HTTP-EQUIV="Expires" CONTENT="0"/>
    <link rel="stylesheet" href="/css/element-ui/index.css" th:href="@{~/css/element-ui/index.css}"/>
    <link rel="stylesheet" href="/css/custom/sys-style.css" th:href="@{~/css/custom/sys-style.css}"/>
    <style>
    </style>
</head>
<body>
<div id="admin-main" v-cloak>
    <el-header style=" text-align: left;font-size: 12px;">
        <div th:include="/common/admin/header :: header"></div>
    </el-header>
    <el-container style="height: calc(100vh - 58px); border: 0;">
        <el-aside style="width: auto;overflow-x: hidden ;background-color: #545c64">
            <div th:replace="/common/admin/menu :: menu"></div>
        </el-aside>

        <el-container>
            <el-main stype="width: 100%;">
                <div class="scroll-box">
                    <p class="animate">
                        {{scrollBoxContent}}
                    </p>
                </div>
                <div style="width: 100%;display: flex;display: -webkit-flex; align-items:center;">
                    <!--
                    <el-carousel height="60px" direction="horizontal" :interval="3000" :autoplay="true"
                                 loop="true" style="margin-bottom: 10px" arrow="hover">
                        <el-carousel-item v-for="item in 5" :key="item" :label="item">
                            <h3 class="medium"></h3>我的跑马灯{{item}}
                        </el-carousel-item>
                    </el-carousel>
                    -->
                    <div style="width: calc(100% - 15px);">
                        <el-tabs v-model="editableTabsOptions.editableTabsValue" type="card"
                                 @tab-remove="handleRemoveTab"
                                 @tab-click="handleClickTab"
                                 style="font-size: 12px; font-weight: bolder;margin-top: 10px" size="mini"
                        >
                            <el-tab-pane
                                    v-for="(item, index) in editableTabsOptions.editableTabs"
                                    :key="item.name"
                                    :label="item.title"
                                    :name="item.name"
                                    :closable="item.closable"
                                    style="font-size: 12px; font-weight: bolder;"
                            >
                            </el-tab-pane>
                        </el-tabs>
                    </div>
                    <div style="width: 15px;border-bottom: 1px solid #ebeef5;margin-bottom: -1px;">
                        <el-dropdown style="font-size: 20px; cursor: pointer; "
                                     @command="handleTabsDropdown" size="mini">
                            <i class="el-icon-circle-close" style="font-size: 18px"></i>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item command="other" style="font-size: 10px;cursor: pointer;">关闭其他</el-dropdown-item>
                                <el-dropdown-item command="all" style="font-size: 10px;cursor: pointer;">关闭全部</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </div>
                </div>


                <keep-alive :max="30">
                    <div>
                        <el-card shadow="never" v-if="showContent == 'modules'" key="modules">
                            <div th:replace="/common/admin/user/modules :: content"/>
                        </el-card>
                        <el-card shadow="never" v-if="showContent == 'roles'" key="roles">
                            <div th:replace="/common/admin/user/roles :: content"/>
                        </el-card>
                        <el-card shadow="never" v-if="showContent == 'memberUsers'" key="memberUsersformArticle">
                            <div th:replace="/common/admin/user/memberUsers :: content"/>
                        </el-card>
                        <el-card shadow="never" v-if="showContent == 'sysUsers'" key="sysUsers">
                            <div th:replace="/common/admin/user/sysUsers :: content"/>
                        </el-card>

                        <el-card shadow="never" v-if="showContent == 'categories'" key="categories">
                            <div th:replace="/common/admin/category/categories :: content"/>
                        </el-card>
                        <el-card shadow="never" v-if="showContent == 'categoryTypes'" key="categoryTypes">
                            <div th:replace="/common/admin/category/categoryTypes :: content"/>
                        </el-card>
                        <el-card shadow="never" v-if="showContent == 'firstPage'" key="firstPage">
                            <div th:replace="/common/admin/firstPage :: content"/>
                        </el-card>
                        <el-card shadow="never" v-if="showContent == 'dyfgzd'" key="dyfgzd">
                            <div th:replace="/common/admin/dygl/dyfgzd :: content"/>
                        </el-card>
                        <el-card shadow="never" v-if="showContent == 'dzzfgzd'" key="dzzfgzd">
                            <div th:replace="/common/admin/dzz/dzzfgzd :: content"/>
                        </el-card>
                        <el-card shadow="never" v-if="showContent == 'dwjbxx'" key="dwjbxx">
                            <div th:replace="/common/admin/dzz/dwjbxx :: content"/>
                        </el-card>
                        <el-card shadow="never" v-if="showContent == 'nddyxxcj'" key="nddyxxcj">
                            <div th:replace="/common/admin/dygl/nddyxxcj :: content"/>
                        </el-card>
                        <el-card shadow="never" v-if="showContent == 'dffgzd'" key="dffgzd">
                            <div th:replace="/common/admin/dfgl/dffgzd :: content"/>
                        </el-card>
                        <!--年度党费上缴情况-->
                        <el-card shadow="never" v-if="showContent == 'ndsjdfqk'" key="ndsjdfqk">
                            <div th:replace="/common/admin/dfgl/ndsjdfqk :: content"/>
                        </el-card>
                        <el-card shadow="never" v-if="showContent == 'dfglzlxz'" key="hjfgzd">
                            <div th:replace="/common/admin/res/list :: content"/>
                        </el-card>

                        <el-card shadow="never" v-if="showContent == 'hjfgzd'" key="hjfgzd">
                            <div th:replace="/common/admin/hjgl/hjfgzd :: content"/>
                        </el-card>
                        <!--通知通告-->
                        <el-card shadow="never" v-if="showContent == 'announce'" key="announce">
                            <div th:replace="/common/admin/news/list :: content"/>
                        </el-card>
                        <!-- 简报 -->
                        <el-card shadow="never" v-if="showContent == 'articles'" key="bulletin">
                            <div th:replace="/common/admin/article/articles :: content"/>
                        </el-card>
                        <el-card shadow="never" v-show="showContent == 'formArticle'" key="formArticle">
                            <div th:replace="/common/admin/article/add :: form"/>
                        </el-card>
                        <!--换届管理-->
                        <el-card shadow="never" v-if="showContent == 'hjglzlxz'" key="hjglzlxz">
                            <div th:replace="/common/admin/res/list :: content"/>
                        </el-card>
                        <!--党员管理资料下载-->
                        <el-card shadow="never" v-if="showContent == 'dyglzlxz'" key="dyglzlxz">
                            <div th:replace="/common/admin/res/list :: content"/>
                        </el-card>

                        <!--年度党费收支情况公示-->
                        <el-card shadow="never" v-if="showContent == 'nddfszqkgs'" key="nddfszqkgs">
                            <div th:replace="/common/admin/res/list2 :: content"/>
                        </el-card>
                        <!--年度党费收支结存情况-->
                        <el-card shadow="never" v-if="showContent == 'nddfszjcqk'" key="nddfszjcqk">
                            <div th:replace="/common/admin/res/list2 :: content"/>
                        </el-card>
                        <!--年度换届工作计划-->
                        <el-card shadow="never" v-if="showContent == 'ndhjgzjh'" key="ndhjgzjh">
                            <div th:replace="/common/admin/res/list2 :: content"/>
                        </el-card>
                        <!--换届工作台账-->
                        <el-card shadow="never" v-if="showContent == 'hjgztz'" key="hjgztz">
                            <div th:replace="/common/admin/res/list2 :: content"/>
                        </el-card>
                        <!--发展党员-->
                        <el-card shadow="never" v-if="showContent == 'fzdy'" key="fzdy">
                            <div th:replace="/common/admin/res/list2 :: content"/>
                        </el-card>

                        <!--大数据-->
                        <el-card shadow="never" v-show="showContent == 'bigData'" key="fzdy">
                            <div th:replace="/common/admin/bigData/index :: content"/>
                        </el-card>
                    </div>
                </keep-alive>
            </el-main>
            <!--
            <el-footer style="background-color:#eee;margin-top:20px">
                    <div th:replace="/common/admin/footer :: footer"></div>
                </el-footer>
            -->
        </el-container>
    </el-container>
</div>
</body>
<script src="/js/highcharts/highcharts.js" th:src="@{~/js/highcharts/highcharts.js}"></script>
<script type="text/javascript" charset="utf-8" src="/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="/js/ueditor/lang/zh-cn/zh-cn.js"></script>
<!--<script src="https://unpkg.com/vue@2.5.22/dist/vue.js"></script>-->
<!--<script src="https://unpkg.com/element-ui@2.4.11/lib/index.js"></script>-->
<script src="/js/vue/vue.min.js" th:src="@{~/js/vue/vue.min.js}"></script>
<script src="/js/axios/axios.min.js" th:src="@{~/js/axios/axios.min.js}"></script>
<script src="/js/qs/qs.min.js" th:src="@{~/js/qs/qs.min.js}"></script>
<script src="/js/element-ui/index.js" th:src="@{~/js/element-ui/index.js}"></script>
<script src="/js/mock/mock-min.js" th:src="@{~/js/mock/mock-min.js}"></script>
<script src="/js/data/struct-admin-main.js" th:src="@{~/js/data/struct-admin-main.js}"></script>
<script src="/js/custom/admin-main.js" th:src="@{~/js/custom/admin-main.js}"></script>
<script src="/js/jquery-3.3.1.js" th:src="@{~/js/jquery-3.3.1.js}"></script>
</html>
