<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oa.platform.repository.ArticleRepository" >

<!--  <cache type="org.mybatis.caches.ehcache.EhcacheCache"-->
<!--         eviction="LRU"-->
<!--         flushInterval="3600000"-->
<!--         size="1024"-->
<!--         readOnly="true"-->
<!--         blocking="true"-->
<!--  />-->

  <resultMap id="article" type="com.oa.platform.entity.Article">
    <result column="record_id" property="recordId" jdbcType="VARCHAR"/>
    <result column="category_id" property="categoryId" jdbcType="VARCHAR"/>
    <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
    <result column="title" property="title" jdbcType="VARCHAR"/>
    <result column="intro" property="intro" jdbcType="VARCHAR"/>
    <result column="content" property="content" jdbcType="VARCHAR"/>
    <result column="tags" property="tags" jdbcType="VARCHAR"/>
    <result column="source" property="source" jdbcType="VARCHAR"/>
    <result column="author_name" property="authorName" jdbcType="VARCHAR"/>
    <result column="source_site" property="sourceSite" jdbcType="VARCHAR"/>
    <result column="creator_id" property="creatorId" jdbcType="VARCHAR"/>
    <result column="creator_name" property="creatorName" jdbcType="VARCHAR"/>
    <result column="updator_id" property="updatorId" jdbcType="VARCHAR"/>
    <result column="updator_name" property="updatorName" jdbcType="VARCHAR"/>
    <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
    <result column="record_time" property="recordTime" jdbcType="VARCHAR"/>
    <result column="comments_count" property="commentsCount" jdbcType="BIGINT"/>
    <result column="view_count" property="viewCount" jdbcType="BIGINT"/>
    <result column="like_count" property="likeCount" jdbcType="BIGINT"/>
    <result column="stinky_egg" property="stinkyEgg" jdbcType="BIGINT"/>
  </resultMap>

  <!-- 简报 -->
  <resultMap id="briefSendRecord" type="com.oa.platform.entity.BriefSendRecord">
    <result column="record_id" property="recordId" jdbcType="VARCHAR"/>
    <result column="brief_id" property="briefId" jdbcType="VARCHAR"/>
    <result column="sender_id" property="senderId" jdbcType="VARCHAR"/>
    <result column="receiver_id" property="receiverId" jdbcType="VARCHAR"/>
    <result column="send_time" property="sendTime" jdbcType="VARCHAR"/>
    <result column="view_time" property="viewTime" jdbcType="VARCHAR"/>
    <result column="status" property="status" jdbcType="INTEGER"/>
    <result column="record_flag" property="recordFlag" jdbcType="INTEGER"/>
    <result column="category_id" property="categoryId" jdbcType="VARCHAR"/>
	
    <result column="brief_title" property="briefTitle" jdbcType="VARCHAR"/>
    <result column="sender_name" property="senderName" jdbcType="VARCHAR"/>
    <result column="receiver_name" property="receiverName" jdbcType="VARCHAR"/>
    <result column="sender_remark" property="senderRemark" jdbcType="VARCHAR"/>
    <result column="receiver_remark" property="receiverRemark" jdbcType="VARCHAR"/>
  </resultMap>

  <!--插入信息-->
  <insert id="insert" parameterType="article">
    INSERT INTO t_article (record_id,category_id,`title`,`content`,`intro`,`tags`,
                          `source`,`author_name`,source_site,creator_id,updator_id,update_time,record_time,flag)
    VALUES (#{recordId},#{categoryId},#{title},#{content},#{intro},#{tags},#{source},#{authorName},#{sourceSite},
                          #{creatorId},#{updatorId},#{updateTime},NOW(),#{flag})
  </insert>

  <!--插入发送简报记录-->
  <insert id="insertBriefSendRecord" parameterType="briefSendRecord">
    INSERT INTO t_brief_send_record (
        record_id, send_time, record_flag, brief_id, sender_id, receiver_id, `status`, sender_remark, receiver_remark
    )
    VALUES (
        #{recordId}, NOW(), #{recordFlag}, #{briefId}, #{senderId}, #{receiverId}, #{status}, #{senderRemark}, #{receiverRemark}
    )
  </insert>

  <!--批量插入发送简报记录-->
  <insert id="batchInsertBriefSendRecord" parameterType="java.util.List">
    INSERT INTO t_brief_send_record (
        record_id, send_time, record_flag, brief_id, sender_id, receiver_id, `status`, sender_remark, receiver_remark
    )
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.recordId}, NOW(),#{item.recordFlag}, #{item.briefId}, #{item.senderId}, #{item.receiverId}, #{item.status},
       #{item.senderRemark}, #{item.receiverRemark}
      )
    </foreach>
  </insert>

  <!--更新类别信息-->
  <update id="update" parameterType="article">
    UPDATE t_article
    <trim prefix="SET" suffixOverrides="," suffix=" WHERE record_id = #{recordId}">
      <if test="categoryId != null and categoryId != ''">
        category_id = #{categoryId},
      </if>
      <if test="title != null and title != ''">
        `title` = #{title},
      </if>
      <if test="content != null and content != ''">
        `content` = #{content},
      </if>
      <if test="intro != null and intro != ''">
        `intro` = #{intro},
      </if>
      <if test="tags != null and tags != ''">
        `tags` = #{tags},
      </if>
      <if test="source != null and source != ''">
        `source` = #{source},
      </if>
      <if test="authorName != null and authorName != ''">
        `author_name` = #{authorName},
      </if>
      <if test="sourceSite != null and sourceSite != ''">
        `source_site` = #{sourceSite},
      </if>
      <if test="creatorId != null and creatorId != ''">
        `creator_id` = #{creatorId},
      </if>
      <if test="updatorId != null and updatorId != ''">
        `updator_id` = #{updatorId},
      </if>
      <if test="updateTime != null and updateTime != ''">
        `update_time` = STR_TO_DATE(#{updateTime},'%Y-%m-%d %H:%i:%s'),
      </if>
      <if test="recordTime != null and recordTime != ''">
        record_time = STR_TO_DATE(#{recordTime},'%Y-%m-%d %H:%i:%s'),
      </if>
      <if test="flag != null">
        flag = #{flag},
      </if>
      <if test="commentsCount != null">
        comments_count = #{commentsCount},
      </if>
      <if test="viewCount != null">
        view_count = #{viewCount},
      </if>
      <if test="likeCount != null">
        like_count = #{likeCount},
      </if>
      <if test="stinkyEgg != null">
        stinky_egg = #{stinkyEgg},
      </if>
    </trim>
  </update>

  <!--更新发送简报记录信息-->
  <update id="updateBriefSendRecord" parameterType="briefSendRecord">
    UPDATE t_brief_send_record
    <trim prefix="SET" suffixOverrides="," suffix=" WHERE record_id = #{recordId}">
      <if test="briefId != null and briefId != ''">
        brief_id = #{briefId},
      </if>
      <if test="recordFlag != null">
        record_flag = #{recordFlag},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
      <if test="viewTime != null and viewTime != ''">
        view_time = STR_TO_DATE(#{viewTime},'%Y-%m-%d %H:%i:%s'),
      </if>
    </trim>
  </update>

  <delete id="delete" parameterType="article">
    DELETE FROM t_article
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="recordId != null and recordId != ''">
        AND record_id = #{recordId}
      </if>
      <if test="categoryId != null and categoryId != ''">
        AND category_id = #{categoryId}
      </if>
      <if test="title != null and title != ''">
        AND `title` = #{title}
      </if>
      <if test="content != null and content != ''">
        AND `content` = #{content}
      </if>
      <if test="intro != null and intro != ''">
        AND `intro` = #{intro}
      </if>
      <if test="tags != null and tags != ''">
        AND `tags` = #{tags}
      </if>
      <if test="source != null and source != ''">
        AND `source` = #{source}
      </if>
      <if test="authorName != null and authorName != ''">
        AND `author_name` = #{authorName}
      </if>
      <if test="sourceSite != null and sourceSite != ''">
        AND `source_site` = #{sourceSite}
      </if>
      <if test="creatorId != null and creatorId != ''">
        AND `creator_id` = #{creatorId}
      </if>
      <if test="updatorId != null and updatorId != ''">
        AND `updator_id` = #{updatorId}
      </if>
      <if test="updateTime != null and updateTime != ''">
        AND DATE_FORMAT(update_time,'%Y-%m-%d') = #{updateTime},
      </if>
      <if test="recordTime != null and recordTime != ''">
        AND DATE_FORMAT(record_time,'%Y-%m-%d') = #{recordTime}
      </if>
      <if test="flag != null">
        AND flag = #{flag}
      </if>
    </trim>
  </delete>

  <delete id="deleteBriefSendRecord" parameterType="briefSendRecord">
    DELETE FROM t_brief_send_record
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="recordId != null and recordId != ''">
        AND record_id = #{recordId}
      </if>
      <if test="briefId != null and briefId != ''">
        AND brief_id = #{briefId}
      </if>
      <if test="senderId != null and senderId != ''">
        AND sender_id = #{senderId}
      </if>
      <if test="receiverId != null and receiverId != ''">
        AND receiver_id = #{receiverId}
      </if>
      <if test="status != null">
        AND status = #{status}
      </if>
      <if test="recordFlag != null">
        AND record_flag = #{recordFlag}
      </if>
    </trim>
  </delete>

  <delete id="batchDeleteBriefSendRecordByIds" parameterType="java.util.List">
    DELETE FROM t_brief_send_record WHERE record_id IN
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

  <update id="batchUpdateBriefSendRecordFlagByIds" parameterType="java.util.List">
    UPDATE t_brief_send_record SET record_flag = 0 WHERE record_id IN
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>

  <!--查询-->
  <select id="find" parameterType="article" resultMap="article">
    SELECT
        record_id,category_id,`title`,`content`,`intro`,`tags`,
        `source`,`author_name`,source_site,creator_id,updator_id,
        DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s') update_time,
        DATE_FORMAT(record_time,'%Y-%m-%d %H:%i:%s') record_time,
        flag,category_name,creator_name,updator_name,comments_count,view_count,like_count,stinky_egg
      FROM (
        SELECT
          t1.*,
          t3.user_nickname creator_name,
          t4.user_nickname updator_name,
          t2.`name` category_name
        FROM
          t_article t1
          LEFT JOIN (SELECT * FROM t_user WHERE record_flag = 1) t3 ON t1.creator_id = t3.user_id
          LEFT JOIN (SELECT * FROM t_user WHERE record_flag = 1) t4 ON t1.updator_id = t4.user_id
          LEFT JOIN (SELECT * FROM t_category WHERE flag = 1) t2 ON t1.category_id = t2.record_id
    ) T
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="recordId != null and recordId != ''">
        AND record_id = #{recordId}
      </if>
      <if test="categoryId != null and categoryId != ''">
        AND category_id = #{categoryId}
      </if>
      <if test="key != null and key != ''">
        AND (UPPER(`title`) LIKE CONCAT('%',UPPER(#{key}),'%')
              OR UPPER(`content`) LIKE CONCAT('%',UPPER(#{key}),'%')
            )
      </if>
      <if test="title != null and title != ''">
        AND `title` = #{title}
      </if>
      <if test="content != null and content != ''">
        AND `content` = #{content}
      </if>
      <if test="intro != null and intro != ''">
        AND `intro` = #{intro}
      </if>
      <if test="tags != null and tags != ''">
        AND `tags` = #{tags}
      </if>
      <if test="source != null and source != ''">
        AND `source` = #{source}
      </if>
      <if test="authorName != null and authorName != ''">
        AND `author_name` = #{authorName}
      </if>
      <if test="sourceSite != null and sourceSite != ''">
        AND `source_site` = #{sourceSite}
      </if>
      <if test="creatorId != null and creatorId != ''">
        AND `creator_id` = #{creatorId}
      </if>
      <if test="updatorId != null and updatorId != ''">
        AND `updator_id` = #{updatorId}
      </if>
      <if test="updateTime != null and updateTime != ''">
        AND DATE_FORMAT(update_time,'%Y-%m-%d') = #{updateTime},
      </if>
      <if test="recordTime != null and recordTime != ''">
        AND DATE_FORMAT(record_time,'%Y-%m-%d') = #{recordTime}
      </if>
      <if test="flag != null">
        AND flag = #{flag}
      </if>
      <if test="creatorIds != null and creatorIds.size() > 0">
        AND creator_id IN
        <foreach collection="creatorIds" index="index" item="itemId" open="(" separator="," close=")">
          #{itemId}
        </foreach>
      </if>
      <if test="senderId != null and senderId != ''">
        AND record_id IN (
            SELECT DISTINCT brief_id FROM t_brief_send_record where sender_id = #{senderId}
        )
      </if>
    </trim>
    ORDER BY T.record_time DESC
  </select>

  <!--查询简报发送记录-->
  <select id="findBriefSendRecord" parameterType="briefSendRecord" resultMap="briefSendRecord">
    SELECT
      t.record_id, DATE_FORMAT(t.send_time,'%Y-%m-%d %H:%i:%s') send_time, t.record_flag,
      DATE_FORMAT(t.view_time,'%Y-%m-%d %H:%i:%s') view_time, t.brief_id, t.sender_id, t.receiver_id, t.`status`,
      t.brief_title, t.sender_name, t.receiver_name, t.sender_remark, t.receiver_remark,t.category_id
    FROM
      (SELECT
        t1.record_id, t1.send_time, t1.record_flag, t1.view_time, t1.brief_id, t1.sender_id, t1.receiver_id, t1.`status`,
        t4.title brief_title, t2.user_name sender_name, t3.user_name receiver_name,
        t1.sender_remark, t1.receiver_remark,t4.category_id
      FROM
        t_brief_send_record t1
        LEFT JOIN t_article t4 ON t1.brief_id = t4.record_id
        LEFT JOIN t_user t2 ON t1.sender_id = t2.user_id
        LEFT JOIN t_user t3 ON t1.receiver_id = t3.user_id
    ) t
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="recordId != null and recordId != ''">
        AND record_id = #{recordId}
      </if>
      <if test="categoryId != null and categoryId != ''">
        AND category_id = #{categoryId}
      </if>
      <if test="briefId != null and briefId != ''">
        AND brief_id = #{briefId}
      </if>
      <if test="senderId != null and senderId != ''">
        AND sender_id = #{senderId}
      </if>
      <if test="receiverId != null and receiverId != ''">
        AND receiver_id = #{receiverId}
      </if>
      <if test="status != null">
        AND status = #{status}
      </if>
      <if test="recordFlag != null">
        AND record_flag = #{recordFlag}
      </if>
      <if test="key != null and key != ''">
        AND (UPPER(brief_title) LIKE CONCAT('%',UPPER(#{key}),'%')
        )
      </if>
      <if test="sendTime != null and sendTime != ''">
        AND DATE_FORMAT(send_time,'%Y-%m-%d') = #{sendTime}
      </if>
      <if test="viewTime != null and viewTime != ''">
        AND DATE_FORMAT(view_time,'%Y-%m-%d') = #{endTime}
      </if>
      <if test="senderRemark != null and senderRemark != ''">
        AND sender_remark = #{senderRemark}
      </if>
      <if test="receiverRemark != null and receiverRemark != ''">
        AND receiver_remark = #{receiverRemark}
      </if>
    </trim>
    ORDER BY UNIX_TIMESTAMP(t.send_time) DESC, t.`status` DESC
  </select>
<select id="searchBriefSendRecordBySendId" parameterType="briefSendRecord" resultMap="briefSendRecord">
    SELECT
    	distinct
      DATE_FORMAT(t.send_time,'%Y-%m-%d %H:%i:%s') send_time, t.record_flag,
      t.brief_id, t.`status`,
      t.brief_title
    FROM
      (SELECT
        t1.record_id, t1.send_time, t1.record_flag, t1.view_time, t1.brief_id, t1.sender_id, t1.receiver_id, t1.`status`,
        t4.title brief_title, t2.user_name sender_name, t3.user_name receiver_name,
        t1.sender_remark, t1.receiver_remark,t4.category_id
      FROM
        t_brief_send_record t1
        LEFT JOIN t_article t4 ON t1.brief_id = t4.record_id
        LEFT JOIN t_user t2 ON t1.sender_id = t2.user_id
        LEFT JOIN t_user t3 ON t1.receiver_id = t3.user_id
        ORDER BY UNIX_TIMESTAMP(t1.send_time) DESC, t1.`status` DESC
    ) t
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="recordId != null and recordId != ''">
        AND record_id = #{recordId}
      </if>
      <if test="categoryId != null and categoryId != ''">
        AND category_id = #{categoryId}
      </if>
      <if test="briefId != null and briefId != ''">
        AND brief_id = #{briefId}
      </if>
      <if test="senderId != null and senderId != ''">
        AND sender_id = #{senderId}
      </if>
      <if test="receiverId != null and receiverId != ''">
        AND receiver_id = #{receiverId}
      </if>
      <if test="status != null">
        AND status = #{status}
      </if>
      <if test="recordFlag != null">
        AND record_flag = #{recordFlag}
      </if>
      <if test="key != null and key != ''">
        AND (UPPER(brief_title) LIKE CONCAT('%',UPPER(#{key}),'%')
        )
      </if>
      <if test="sendTime != null and sendTime != ''">
        AND DATE_FORMAT(send_time,'%Y-%m-%d') = #{sendTime}
      </if>
      <if test="viewTime != null and viewTime != ''">
        AND DATE_FORMAT(view_time,'%Y-%m-%d') = #{endTime}
      </if>
      <if test="senderRemark != null and senderRemark != ''">
        AND sender_remark = #{senderRemark}
      </if>
      <if test="receiverRemark != null and receiverRemark != ''">
        AND receiver_remark = #{receiverRemark}
      </if>
    </trim>
  </select>
  <!-- 根据简报ID查询接收者ID列表 -->
  <select id="findReceiverIdByBriefId" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT receiver_id FROM t_brief_send_record WHERE record_flag = 1 and brief_id = #{briefId}
  </select>
  <update id="deleteArticleById">
  	update t_brief_send_record set record_flag=0 where brief_id=#{recordId} and sender_id=#{userId}
  </update>
</mapper>