<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oa.platform.repository.NewsRepository" >

  <resultMap id="news" type="com.oa.platform.entity.News">
    <result column="record_id" property="recordId" jdbcType="VARCHAR"/>
    <result column="type_id" property="typeId" jdbcType="VARCHAR"/>
    <result column="record_time" property="recordTime" jdbcType="VARCHAR"/>
    <result column="record_flag" property="recordFlag" jdbcType="INTEGER"/>
    <result column="title" property="title" jdbcType="VARCHAR"/>
    <result column="content" property="content" jdbcType="VARCHAR"/>
    <result column="tags" property="tags" jdbcType="VARCHAR"/>
    <result column="remark" property="remark" jdbcType="VARCHAR"/>
    <result column="is_receipt" property="isReceipt" jdbcType="INTEGER"/>
    <result column="start_time" property="startTime" jdbcType="VARCHAR"/>
    <result column="end_time" property="endTime" jdbcType="VARCHAR"/>
    <result column="receiver_type" property="receiverType" jdbcType="INTEGER"/>
    <result column="receiver_id" property="receiverId" jdbcType="VARCHAR"/>
    <result column="record_user_id" property="recordUserId" jdbcType="VARCHAR"/>
    <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR"/>
    <result column="send_sms" property="sendSms" jdbcType="INTEGER"/>
    <result column="send_mail" property="sendMail" jdbcType="INTEGER"/>

    <result column="type_name" property="typeName" jdbcType="VARCHAR"/>
    <result column="record_user_name" property="recordUserName" jdbcType="VARCHAR"/>
    <result column="update_user_name" property="updateUserName" jdbcType="VARCHAR"/>
    <result column="is_viewed" property="isViewed" jdbcType="INTEGER"/>
    <result column="viewer_id" property="viewerId" jdbcType="VARCHAR"/>
  </resultMap>

  <resultMap id="newsSendRecord" type="com.oa.platform.entity.NewsSendRecord">
    <result column="record_id" property="recordId" jdbcType="VARCHAR"/>
    <result column="news_id" property="newsId" jdbcType="VARCHAR"/>
    <result column="sender_id" property="senderId" jdbcType="VARCHAR"/>
    <result column="receiver_id" property="receiverId" jdbcType="VARCHAR"/>
    <result column="send_time" property="sendTime" jdbcType="VARCHAR"/>
    <result column="view_time" property="viewTime" jdbcType="VARCHAR"/>
    <result column="status" property="status" jdbcType="INTEGER"/>
    <result column="record_flag" property="recordFlag" jdbcType="INTEGER"/>

    <result column="news_title" property="newsTitle" jdbcType="VARCHAR"/>
    <result column="sender_name" property="senderName" jdbcType="VARCHAR"/>
    <result column="receiver_name" property="receiverName" jdbcType="VARCHAR"/>
    <result column="sender_mail" property="senderMail" jdbcType="VARCHAR"/>
    <result column="receiver_mail" property="receiverMail" jdbcType="VARCHAR"/>
    <result column="sender_mobile_number" property="senderMobileNumber" jdbcType="VARCHAR"/>
    <result column="receiver_mobile_number" property="receiverMobileNumber" jdbcType="VARCHAR"/>
    <result column="sender_remark" property="senderRemark" jdbcType="VARCHAR"/>
    <result column="receiver_remark" property="receiverRemark" jdbcType="VARCHAR"/>

    <result column="news_content" property="newsContent" jdbcType="VARCHAR"/>
    <result column="news_tags" property="newsTags" jdbcType="VARCHAR"/>
    <result column="news_remark" property="newsRemark" jdbcType="VARCHAR"/>
  </resultMap>

  <!--插入信息-->
  <insert id="insert" parameterType="news">
    INSERT INTO t_news (
        record_id, type_id, record_time, record_flag, title, content, tags, remark,
        is_receipt,
        <if test="startTime != null and startTime != ''">
            start_time,
        </if>
        <if test="endTime != null and endTime != ''">
            end_time,
        </if>
         receiver_type, receiver_id, record_user_id,
        send_sms, send_mail
    )
    VALUES (
        #{recordId}, #{typeId}, NOW(), #{recordFlag}, #{title}, #{content}, #{tags}, #{remark},
        #{isReceipt},
        <if test="startTime != null and startTime != ''">
        STR_TO_DATE(#{startTime},'%Y-%m-%d %H:%i:%s'),
        </if>
        <if test="endTime != null and endTime != ''">
        STR_TO_DATE(#{endTime},'%Y-%m-%d %H:%i:%s'),
        </if>
        #{receiverType}, #{receiverId}, #{recordUserId},
        #{sendSms}, #{sendMail}
    )
  </insert>

  <!--插入发送记录-->
  <insert id="insertNewsSendRecord" parameterType="newsSendRecord">
    INSERT INTO t_news_send_record (
        record_id, send_time, record_flag, news_id, sender_id, receiver_id, `status`, sender_mail, receiver_mail,
        sender_mobile_number, receiver_mobile_number, sender_remark, receiver_remark
    )
    VALUES (
        #{recordId}, NOW(), #{recordFlag},  #{newsId}, #{senderId}, #{receiverId}, #{status}, #{senderMail}, #{receiverMail},
        #{senderMobileNumber}, #{receiverMobileNumber}, #{senderRemark}, #{receiverRemark}
    )
  </insert>

  <!--批量插入发送记录-->
  <insert id="batchInsertNewsSendRecord" parameterType="java.util.List">
    INSERT INTO t_news_send_record (
        record_id, send_time, record_flag, news_id, sender_id, receiver_id, `status`,
        sender_mail, receiver_mail, sender_mobile_number, receiver_mobile_number, sender_remark, receiver_remark
    )
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.recordId}, NOW(),#{item.recordFlag}, #{item.newsId}, #{item.senderId}, #{item.receiverId}, #{item.status},
      #{item.senderMail}, #{item.receiverMail},
      #{item.senderMobileNumber}, #{item.receiverMobileNumber}, #{item.senderRemark}, #{item.receiverRemark}
      )
    </foreach>
  </insert>

  <!--更新信息-->
  <update id="update" parameterType="news">
    UPDATE t_news
    <trim prefix="SET" suffixOverrides="," suffix=" WHERE record_id = #{recordId}">
      <if test="typeId != null and typeId != ''">
        type_id = #{typeId},
      </if>
      <if test="title != null and title != ''">
        title = #{title},
      </if>
      <if test="content != null and content != ''">
        content = #{content},
      </if>
      <if test="tags != null and tags != ''">
        tags = #{tags},
      </if>
      <if test="remark != null and remark != ''">
        remark = #{remark},
      </if>
      <if test="isReceipt != null">
        is_receipt = #{isReceipt},
      </if>
      <if test="startTime != null and startTime != ''">
        start_time = STR_TO_DATE(#{startTime},'%Y-%m-%d %H:%i:%s'),
      </if>
      <if test="endTime != null and endTime != ''">
        end_time = STR_TO_DATE(#{endTime},'%Y-%m-%d %H:%i:%s'),
      </if>
      <if test="receiverType != null">
        receiver_type = #{receiverType},
      </if>
      <if test="receiverId != null and receiverId != ''">
        receiver_id = #{receiverId},
      </if>
      <if test="recordUserId != null and recordUserId != ''">
        record_user_id = #{recordUserId},
      </if>
      <if test="updateUserId != null and updateUserId != ''">
        update_user_id = #{updateUserId},
      </if>
      <if test="recordFlag != null">
        record_flag = #{recordFlag},
      </if>
      <if test="updateTime != null and updateTime != ''">
        update_time = STR_TO_DATE(#{updateTime},'%Y-%m-%d %H:%i:%s'),
      </if>
      <if test="sendSms != null">
        send_sms = #{sendSms},
      </if>
      <if test="sendMail != null">
        send_mail = #{sendMail},
      </if>
    </trim>
  </update>

  <!--更新发送记录信息-->
  <update id="updateNewsSendRecord" parameterType="newsSendRecord">
    UPDATE t_news_send_record
    <trim prefix="SET" suffixOverrides="," suffix=" WHERE record_id = #{recordId}">
      <if test="newsId != null and newsId != ''">
        news_id = #{newsId},
      </if>
      <if test="recordFlag != null">
        record_flag = #{recordFlag},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
      <if test="viewTime != null and viewTime != ''">
        view_time = STR_TO_DATE(#{viewTime},'%Y-%m-%d %H:%i:%s'),
      </if>
    </trim>
  </update>

  <!--根据recordId查询信息-->
  <select id="findById" resultMap="news" parameterType="java.lang.String">
    SELECT
	    t1.record_id, t1.type_id, t1.record_time, t1.record_flag, t1.title, t1.content,
	    t1.tags, t1.remark, t1.is_receipt, t1.send_sms, t1.send_mail,
	    DATE_FORMAT(t1.start_time,'%Y-%m-%d %H:%i:%s') start_time,
	    DATE_FORMAT(t1.end_time,'%Y-%m-%d %H:%i:%s') end_time, t1.receiver_type,
	    t1.receiver_id, t1.record_user_id,
	    DATE_FORMAT(t1.update_time,'%Y-%m-%d %H:%i:%s') update_time, t1.update_user_id,
		t2.user_name record_user_name, t3.user_name update_user_name, t4.`name` type_name
    FROM (SELECT * FROM t_news WHERE record_id = #{recordId} AND record_flag = 1) t1
    LEFT JOIN t_user t2 ON t1.record_user_id = t2.user_id
    LEFT JOIN t_user t3 ON t1.update_user_id = t3.user_id
    LEFT JOIN t_category t4 ON t1.type_id = t4.record_id
  </select>

  <delete id="delete" parameterType="news">
    DELETE FROM t_news
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="recordId != null and recordId != ''">
        AND record_id = #{recordId}
      </if>
      <if test="typeId != null and typeId != ''">
        AND type_id = #{typeId}
      </if>
      <if test="title != null and title != ''">
        AND title = #{title}
      </if>
      <if test="content != null and content != ''">
        AND content = #{content}
      </if>
      <if test="tags != null and tags != ''">
        AND tags = #{tags}
      </if>
      <if test="remark != null and remark != ''">
        AND remark = #{remark}
      </if>
      <if test="isReceipt != null">
        AND is_receipt = #{isReceipt}
      </if>
      <if test="receiverType != null">
        AND receiver_type = #{receiverType}
      </if>
      <if test="receiverId != null and receiverId != ''">
        AND receiver_id = #{receiverId}
      </if>
      <if test="recordUserId != null and recordUserId != ''">
        AND record_user_id = #{recordUserId}
      </if>
      <if test="updateUserId != null and updateUserId != ''">
        AND update_user_id = #{updateUserId}
      </if>
      <if test="recordFlag != null">
        AND record_flag = #{recordFlag}
      </if>
      <if test="sendSms != null">
        AND send_sms = #{sendSms}
      </if>
      <if test="sendMail != null">
        AND send_mail = #{sendMail}
      </if>
    </trim>
  </delete>

  <delete id="deleteNewsSendRecord" parameterType="newsSendRecord">
    DELETE FROM t_news_send_record
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="recordId != null and recordId != ''">
        AND record_id = #{recordId}
      </if>
      <if test="newsId != null and newsId != ''">
        AND news_id = #{newsId}
      </if>
      <if test="senderId != null and senderId != ''">
        AND sender_id = #{senderId}
      </if>
      <if test="receiverId != null and receiverId != ''">
        AND receiver_id = #{receiverId}
      </if>
      <if test="senderMail != null and senderMail != ''">
        AND sender_mail = #{senderMail}
      </if>
      <if test="receiverMail != null and receiverMail != ''">
        AND receiver_mail = #{receiverMail}
      </if>
      <if test="status != null">
        AND status = #{status}
      </if>
      <if test="recordFlag != null">
        AND record_flag = #{recordFlag}
      </if>
    </trim>
  </delete>

  <delete id="batchDeleteNewsSendRecordByIds" parameterType="java.util.List">
    DELETE FROM t_news_send_record WHERE record_id IN
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

  <update id="batchUpdateNewsSendRecordFlagByIds" parameterType="java.util.List">
    UPDATE t_news_send_record SET record_flag = 0 WHERE record_id IN
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>

  <!--查询-->
  <select id="find" parameterType="news" resultMap="news">
    SELECT
        record_id, type_id, record_time, record_flag, title, content, tags, remark, is_receipt,
        DATE_FORMAT(start_time,'%Y-%m-%d %H:%i:%s') start_time, DATE_FORMAT(end_time,'%Y-%m-%d %H:%i:%s') end_time,
        receiver_type, receiver_id, record_user_id, send_sms, send_mail,
        DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s') update_time,
        update_user_id,
        record_user_name, update_user_name, type_name
        <if test="viewerId != null and viewerId != ''">
          , is_viewed
        </if>
    FROM (
      SELECT
        t1.record_id, t1.type_id, t1.record_time, t1.record_flag, t1.title, t1.content, t1.tags,
        t1.remark, t1.is_receipt, t1.start_time, t1.end_time, t1.receiver_type, t1.receiver_id,
        t1.record_user_id, t1.update_time, t1.update_user_id,t1.send_sms, t1.send_mail,
        t2.user_name record_user_name, t3.user_name update_user_name, t4.`name` type_name
        <if test="viewerId != null and viewerId != ''">
          , if(t5.`status` is NULL, 0, 1) is_viewed
        </if>
      FROM (SELECT * FROM t_news ORDER BY record_time DESC) t1
      LEFT JOIN t_user t2 ON t1.record_user_id = t2.user_id
      LEFT JOIN t_user t3 ON t1.update_user_id = t3.user_id
      LEFT JOIN t_category t4 ON t1.type_id = t4.record_id
      <if test="viewerId != null and viewerId != ''">
        LEFT JOIN (SELECT DISTINCT news_id, `status` FROM t_news_send_record WHERE record_flag = 1 and receiver_id = #{viewerId}) t5 ON t1.record_id = t5.news_id
      </if>
    ) t
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="recordId != null and recordId != ''">
        AND record_id = #{recordId}
      </if>
      <if test="typeId != null and typeId != ''">
        AND type_id = #{typeId}
      </if>
      <if test="title != null and title != ''">
        AND title = #{title}
      </if>
      <if test="tags != null and tags != ''">
        AND tags = #{tags}
      </if>
      <if test="remark != null and remark != ''">
        AND remark = #{remark}
      </if>
      <if test="isReceipt != null">
        AND is_receipt = #{isReceipt}
      </if>
      <if test="receiverType != null">
        AND receiver_type = #{receiverType}
      </if>
      <if test="receiverId != null and receiverId != ''">
        AND receiver_id = #{receiverId}
      </if>
      <if test="recordUserId != null and recordUserId != ''">
        AND record_user_id = #{recordUserId}
      </if>
      <if test="updateUserId != null and updateUserId != ''">
        AND update_user_id = #{updateUserId}
      </if>
      <if test="recordFlag != null">
        AND record_flag = #{recordFlag}
      </if>
      <if test="key != null and key != ''">
        AND (UPPER(title) LIKE CONCAT('%',UPPER(#{key}),'%')
            OR UPPER(content) LIKE CONCAT('%',UPPER(#{key}),'%')
            OR UPPER(tags) LIKE CONCAT('%',UPPER(#{key}),'%')
            OR UPPER(remark) LIKE CONCAT('%',UPPER(#{key}),'%')
            OR UPPER(type_name) LIKE CONCAT('%',UPPER(#{key}),'%')
        )
      </if>
      <if test="content != null and content != ''">
        AND content LIKE CONCAT('%',#{content},'%')
      </if>
      <if test="recordTime != null and recordTime != ''">
        AND DATE_FORMAT(record_time,'%Y-%m-%d') = #{recordTime}
      </if>
      <if test="startTime != null and startTime != ''">
        AND DATE_FORMAT(start_time,'%Y-%m-%d') = #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        AND DATE_FORMAT(end_time,'%Y-%m-%d') = #{endTime}
      </if>
      <if test="sendSms != null">
        AND send_sms = #{sendSms}
      </if>
      <if test="sendMail != null">
        AND send_mail = #{sendMail}
      </if>
      <if test="viewerId != null and viewerId != '' and isViewed != null">
        AND is_viewed = #{isViewed}
      </if>
    </trim>
    ORDER BY t.record_time DESC
  </select>

  <!--查询发送记录-->
  <select id="findNewsSendRecord" parameterType="newsSendRecord" resultMap="newsSendRecord">
    SELECT
        t.record_id, DATE_FORMAT(t.send_time,'%Y-%m-%d %H:%i:%s') send_time, t.record_flag,
        DATE_FORMAT(t.view_time,'%Y-%m-%d %H:%i:%s') view_time, t.news_id, t.sender_id, t.receiver_id, t.`status`,
        t.news_title, t.news_tags, t.news_content, t.news_remark,
        t.sender_name, t.receiver_name, t.sender_mail, t.receiver_mail,
        t.sender_mobile_number, t.receiver_mobile_number, t.sender_remark, t.receiver_remark
    FROM
    (SELECT
        t1.record_id, t1.send_time, t1.record_flag, t1.view_time, t1.news_id, t1.sender_id, t1.receiver_id, t1.`status`,
        t4.title news_title, t4.tags news_tags, t4.content news_content, t4.remark news_remark,
        t2.user_name sender_name, t3.user_name receiver_name,
        t1.sender_mail, t1.receiver_mail, t1.sender_mobile_number, t1.receiver_mobile_number, t1.sender_remark, t1.receiver_remark
      FROM
        t_news_send_record t1
        LEFT JOIN t_news t4 ON t1.news_id = t4.record_id
        LEFT JOIN t_user t2 ON t1.sender_id = t2.user_id
        LEFT JOIN t_user t3 ON t1.receiver_id = t3.user_id
    ) t
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="recordId != null and recordId != ''">
        AND record_id = #{recordId}
      </if>
      <if test="newsId != null and newsId != ''">
        AND news_id = #{newsId}
      </if>
      <if test="senderId != null and senderId != ''">
        AND sender_id = #{senderId}
      </if>
      <if test="receiverId != null and receiverId != ''">
        AND receiver_id = #{receiverId}
      </if>
      <if test="status != null">
        AND status = #{status}
      </if>
      <if test="recordFlag != null">
        AND record_flag = #{recordFlag}
      </if>
      <if test="key != null and key != ''">
        AND (UPPER(news_title) LIKE CONCAT('%',UPPER(#{key}),'%')
            OR UPPER(sender_name) LIKE CONCAT('%',UPPER(#{key}),'%')
            OR UPPER(receiver_name) LIKE CONCAT('%',UPPER(#{key}),'%')
            OR UPPER(news_tags) LIKE CONCAT('%',UPPER(#{key}),'%')
            OR UPPER(news_content) LIKE CONCAT('%',UPPER(#{key}),'%')
            OR UPPER(news_remark) LIKE CONCAT('%',UPPER(#{key}),'%')
        )
      </if>
      <if test="sendTime != null and sendTime != ''">
        AND DATE_FORMAT(send_time,'%Y-%m-%d') = #{startTime}
      </if>
      <if test="viewTime != null and viewTime != ''">
        AND DATE_FORMAT(view_time,'%Y-%m-%d') = #{endTime}
      </if>
      <if test="senderMail != null and senderMail != ''">
        AND sender_mail = #{senderMail}
      </if>
      <if test="receiverMail != null and receiverMail != ''">
        AND receiver_mail = #{receiverMail}
      </if>
      <if test="senderMobileNumber != null and senderMobileNumber != ''">
        AND sender_mobile_number = #{senderMobileNumber}
      </if>
      <if test="receiverMobileNumber != null and receiverMobileNumber != ''">
        AND receiver_mobile_number = #{receiverMobileNumber}
      </if>
      <if test="senderRemark != null and senderRemark != ''">
        AND sender_remark = #{senderRemark}
      </if>
      <if test="receiverRemark != null and receiverRemark != ''">
        AND receiver_remark = #{receiverRemark}
      </if>
    </trim>
    ORDER BY UNIX_TIMESTAMP(t.send_time) DESC, t.`status` ASC
  </select>
</mapper>
