<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oa.platform.repository.ResRepository" >

  <resultMap id="res" type="com.oa.platform.entity.Res">
    <result column="record_id" property="recordId" jdbcType="VARCHAR"/>
    <result column="res_name" property="resName" jdbcType="VARCHAR"/>
    <result column="type_id" property="typeId" jdbcType="VARCHAR"/>
    <result column="ass_id" property="assId" jdbcType="VARCHAR"/>
    <result column="ass_type_id" property="assTypeId" jdbcType="VARCHAR"/>
    <result column="original_name" property="originalName" jdbcType="VARCHAR"/>
    <result column="record_time" property="recordTime" jdbcType="VARCHAR"/>
    <result column="record_flag" property="recordFlag" jdbcType="INTEGER"/>
    <result column="res_size" property="resSize" jdbcType="VARCHAR"/>
    <result column="announcer_id" property="announcerId" jdbcType="VARCHAR"/>
    <result column="res_author" property="resAuthor" jdbcType="VARCHAR"/>
    <result column="res_src" property="resSrc" jdbcType="VARCHAR"/>
    <result column="res_intro" property="resIntro" jdbcType="VARCHAR"/>
    <result column="res_desc" property="resDesc" jdbcType="VARCHAR"/>
    <result column="res_tags" property="resTags" jdbcType="VARCHAR"/>
    <result column="modify_time" property="modifyTime" jdbcType="VARCHAR"/>
    <result column="editor_id" property="editorId" jdbcType="VARCHAR"/>
    <result column="access_url" property="accessUrl" jdbcType="VARCHAR"/>
    <result column="auditor_id" property="auditorId" jdbcType="VARCHAR"/>
    <result column="audit_time" property="auditTime" jdbcType="VARCHAR"/>
    <result column="audit_status" property="auditStatus" jdbcType="INTEGER"/>
    <result column="publish_time" property="publishTime" jdbcType="VARCHAR"/>
    <result column="curr_name" property="currName" jdbcType="VARCHAR"/>
    <result column="org_id" property="orgId" jdbcType="VARCHAR"/>
    <result column="atta_content" property="attaContent" jdbcType="VARCHAR"/>

    <result column="type_name" property="typeName" jdbcType="VARCHAR"/>
    <result column="ass_title" property="assTitle" jdbcType="VARCHAR"/>
    <result column="ass_type_name" property="assTypeName" jdbcType="VARCHAR"/>
    <result column="announcer_name" property="announcerName" jdbcType="VARCHAR"/>
    <result column="editor_name" property="editorName" jdbcType="VARCHAR"/>
    <result column="auditor_name" property="auditorName" jdbcType="VARCHAR"/>
    <result column="org_name" property="orgName" jdbcType="VARCHAR"/>
  </resultMap>

  <resultMap id="resDl" type="com.oa.platform.entity.ResDl">
    <result column="record_id" property="recordId" jdbcType="VARCHAR"/>
    <result column="res_id" property="resId" jdbcType="VARCHAR"/>
    <result column="user_id" property="userId" jdbcType="VARCHAR"/>
    <result column="dl_time" property="dlTime" jdbcType="VARCHAR"/>
    <result column="record_flag" property="recordFlag" jdbcType="INTEGER"/>

    <result column="res_name" property="resName" jdbcType="VARCHAR"/>
    <result column="res_original_name" property="resOriginalName" jdbcType="VARCHAR"/>
    <result column="user_name" property="userName" jdbcType="VARCHAR"/>
    <result column="type_id" property="typeId" jdbcType="VARCHAR"/>
    <result column="type_name" property="typeName" jdbcType="VARCHAR"/>
    <result column="ass_id" property="assId" jdbcType="VARCHAR"/>
    <result column="ass_type_id" property="assTypeId" jdbcType="VARCHAR"/>
    <result column="ass_title" property="assTitle" jdbcType="VARCHAR"/>
    <result column="ass_type_name" property="assTypeName" jdbcType="VARCHAR"/>
  </resultMap>

  <!--插入信息-->
  <insert id="insert" parameterType="res">
    INSERT INTO t_res (record_id,res_name,type_id,ass_id,ass_type_id,
        original_name,record_time,record_flag,res_size,
        announcer_id,res_author,res_src,res_intro,res_desc,res_tags,access_url,
        publish_time, curr_name, org_id, atta_content)
    VALUES (#{recordId},#{resName},#{typeId},#{assId},#{assTypeId},
        #{originalName},NOW(),#{recordFlag},#{resSize},
        #{announcerId},#{resAuthor},#{resSrc},#{resIntro},#{resDesc},#{resTags},#{accessUrl},
        #{publishTime}, #{currName}, #{orgId}, #{attaContent})
  </insert>

  <insert id="insertResDl" parameterType="resDl">
    INSERT INTO t_res_dl (record_id,res_id,user_id,dl_time,record_flag)
    VALUES (#{recordId},#{resId},#{userId},NOW(),#{recordFlag})
  </insert>

  <insert id="batchInsertResDl" parameterType="java.util.List">
    INSERT INTO t_res_dl(record_id,res_id,user_id,dl_time,record_flag) VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.recordId},#{item.resId},#{item.userId},NOW(),#{item.recordFlag})
    </foreach>
  </insert>

  <!--更新信息-->
  <update id="update" parameterType="res">
    UPDATE t_res
    <trim prefix="SET" suffixOverrides="," suffix=" WHERE record_id = #{recordId}">
      <if test="typeId != null and typeId != ''">
        type_id = #{typeId},
      </if>
      <if test="resName != null and resName != ''">
        res_name = #{resName},
      </if>
      <if test="assId != null and assId != ''">
        ass_id = #{assId},
      </if>
      <if test="assTypeId != null and assTypeId != ''">
        ass_type_id = #{assTypeId},
      </if>
      <if test="originalName != null">
        original_name = #{originalName},
      </if>
      <if test="currName != null">
        curr_name = #{currName},
      </if>
      <if test="resSize != null">
        res_size = #{resSize},
      </if>
      <if test="recordFlag != null">
        record_flag = #{recordFlag},
      </if>
      <if test="announcerId != null and announcerId != ''">
        announcer_id = #{announcerId},
      </if>
      <if test="resAuthor != null">
        res_author = #{resAuthor},
      </if>
      <if test="resSrc != null">
        res_src = #{resSrc},
      </if>
      <if test="resIntro != null">
        res_intro = #{resIntro},
      </if>
      <if test="resDesc != null">
        res_desc = #{resDesc},
      </if>
      <if test="resTags != null">
        res_tags = #{resTags},
      </if>
      <if test="modifyTime != null and modifyTime != ''">
        modify_time = STR_TO_DATE(#{modifyTime},'%Y-%m-%d %H:%i:%s'),
      </if>
      <if test="auditTime != null and auditTime != ''">
        audit_time = STR_TO_DATE(#{auditTime},'%Y-%m-%d %H:%i:%s'),
      </if>
      <if test="publishTime != null and publishTime != ''">
        publish_time = STR_TO_DATE(#{publishTime},'%Y-%m-%d'),
      </if>
      <if test="auditStatus != null">
        audit_status = #{auditStatus},
      </if>
      <if test="editorId != null and editorId != ''">
        editor_id = #{editorId},
      </if>
      <if test="auditorId != null and auditorId != ''">
        auditor_id = #{auditorId},
      </if>
      <if test="accessUrl != null">
        access_url = #{accessUrl},
      </if>
      <if test="orgId != null and orgId != ''">
        org_id = #{orgId},
      </if>
      <if test="attaContent != null">
        atta_content = #{attaContent},
      </if>
    </trim>
  </update>

  <update id="updateResDl" parameterType="resDl">
    UPDATE t_res_dl
    <trim prefix="SET" suffixOverrides="," suffix=" WHERE record_id = #{recordId}">
      <if test="resId != null and resId != ''">
        res_id = #{resId},
      </if>
      <if test="userId != null and userId != ''">
        user_id = #{userId},
      </if>
      <if test="recordFlag != null">
        record_flag = #{recordFlag},
      </if>
    </trim>
  </update>

  <!--根据id查询信息-->
  <select id="findById" resultMap="res" parameterType="java.lang.String">
    SELECT record_id,res_name,type_id,ass_id,ass_type_id,original_name,
        DATE_FORMAT(record_time,'%Y-%m-%d %H:%i:%s') record_time,record_flag,res_size,
        announcer_id,res_author,res_src,res_intro,res_desc,res_tags,
        DATE_FORMAT(modify_time,'%Y-%m-%d %H:%i:%s') modify_time,editor_id,access_url,
        auditor_id,DATE_FORMAT(audit_time,'%Y-%m-%d %H:%i:%s') audit_time,audit_status,
        DATE_FORMAT(publish_time,'%Y-%m-%d') publish_time, curr_name, org_id, atta_content
    FROM t_res WHERE record_id = #{recordId} AND record_flag = 1
  </select>

  <delete id="delete" parameterType="res">
    DELETE FROM t_res
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="recordId != null and recordId != ''">
        AND record_id = #{recordId}
      </if>
      <if test="typeId != null and typeId != ''">
        AND type_id = #{typeId}
      </if>
      <if test="resName != null and resName != ''">
        AND res_name = #{resName}
      </if>
      <if test="assId != null and assId != ''">
        AND ass_id = #{assId}
      </if>
      <if test="assTypeId != null and assTypeId != ''">
        AND ass_type_id = #{assTypeId}
      </if>
      <if test="editorId != null and editorId != ''">
        AND editor_id = #{editorId}
      </if>
      <if test="auditorId != null and auditorId != ''">
        AND auditor_id = #{auditorId}
      </if>
      <if test="recordFlag != null">
        AND record_flag = #{recordFlag}
      </if>
      <if test="auditStatus != null">
        AND audit_status = #{auditStatus}
      </if>
      <if test="announcerId != null and announcerId != ''">
        AND announcer_id = #{announcerId}
      </if>
      <if test="orgId != null and orgId != ''">
        AND org_id = #{orgId}
      </if>
      <if test="attaContent != null and attaContent != ''">
        AND atta_content = #{attaContent}
      </if>
    </trim>
  </delete>

  <delete id="deleteResDl" parameterType="resDl">
    DELETE FROM t_res_dl
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="recordId != null and recordId != ''">
        AND record_id = #{recordId}
      </if>
      <if test="resId != null and resId != ''">
        AND res_id = #{resId}
      </if>
      <if test="userId != null and userId != ''">
        AND user_id = #{userId}
      </if>
      <if test="recordFlag != null">
        AND record_flag = #{recordFlag}
      </if>
    </trim>
  </delete>

  <!--查询-->
  <select id="find" parameterType="res" resultMap="res">
    SELECT
      record_id, res_name, type_id, ass_id, ass_type_id, original_name, DATE_FORMAT(publish_time,'%Y-%m-%d') publish_time,
      DATE_FORMAT(record_time,'%Y-%m-%d %H:%i:%s') record_time, record_flag,
      res_size, announcer_id, res_author, res_src, res_intro, res_desc, res_tags,
      DATE_FORMAT(modify_time,'%Y-%m-%d %H:%i:%s') modify_time,
      editor_id, access_url, auditor_id, DATE_FORMAT(audit_time,'%Y-%m-%d %H:%i:%s') audit_time,
      audit_status, type_name, '' AS ass_title, ass_type_name, announcer_name, editor_name, auditor_name,
      curr_name, org_id, atta_content
    FROM (
      SELECT
        t1.*,
        t2.user_name announcer_name,
        t3.user_name editor_name,
        t4.user_name auditor_name,
        t5.`name` type_name,
        t6.`name` ass_type_name
      FROM
        (SELECT * FROM t_res ORDER BY publish_time, record_time DESC) t1
        LEFT JOIN t_user t2 ON t1.announcer_id = t2.user_id
        LEFT JOIN t_user t3 ON t1.editor_id = t3.user_id
        LEFT JOIN t_user t4 ON t1.auditor_id = t4.user_id
        LEFT JOIN t_category t5 ON t5.record_id = t1.type_id
        LEFT JOIN t_category t6 ON t6.record_id = t1.ass_type_id
    ) t
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="recordId != null and recordId != ''">
        AND record_id = #{recordId}
      </if>
      <if test="typeId != null and typeId != ''">
        AND type_id = #{typeId}
      </if>
      <if test="resName != null and resName != ''">
        AND res_name = #{resName}
      </if>
      <if test="assId != null and assId != ''">
        AND ass_id = #{assId}
      </if>
      <if test="assTypeId != null and assTypeId != ''">
        AND ass_type_id = #{assTypeId}
      </if>
      <if test="editorId != null and editorId != ''">
        AND editor_id = #{editorId}
      </if>
      <if test="auditorId != null and auditorId != ''">
        AND auditor_id = #{auditorId}
      </if>
      <if test="recordFlag != null">
        AND record_flag = #{recordFlag}
      </if>
      <if test="auditStatus != null">
        AND audit_status = #{auditStatus}
      </if>
      <if test="announcerId != null and announcerId != ''">
        AND announcer_id = #{announcerId}
      </if>
      <if test="orgId != null and orgId != ''">
        AND org_id = #{orgId}
      </if>
      <if test="key != null and key != ''">
        AND (UPPER(res_name) LIKE CONCAT('%',UPPER(#{key}),'%')
        )
      </if>
      <if test="announcerIds != null and announcerIds.size() > 0">
        AND announcer_id IN
        <foreach collection="announcerIds" index="index" item="itemId" open="(" separator="," close=")">
          #{itemId}
        </foreach>
      </if>
      <if test="orgIds != null and orgIds.size() > 0">
        AND org_id IN
        <foreach collection="orgIds" index="index" item="itemId" open="(" separator="," close=")">
          #{itemId}
        </foreach>
      </if>
      <if test="yearMonth != null and yearMonth != ''">
        AND DATE_FORMAT(publish_time, '%Y-%m') = #{yearMonth}
      </if>
    </trim>
    ORDER BY t.publish_time DESC, t.record_time DESC
  </select>

  <select id="findResDl" parameterType="resDl" resultMap="resDl">
    SELECT record_id, res_id, user_id, DATE_FORMAT(dl_time,'%Y-%m-%d %H:%i:%s') dl_time,
        record_flag, res_name, res_original_name, user_name, type_id,
        type_name, ass_id, ass_type_id, ass_title, ass_type_name
    FROM (
      SELECT
        t10.*,
        t11.user_name,
        t12.res_name, t12.res_original_name, t12.type_id, t12.type_name,
        t12.ass_id, t12.ass_type_id, t12.ass_title, t12.ass_type_name
      FROM (SELECT  * FROM t_res_dl ORDER BY dl_time DESC) t10
        LEFT JOIN t_user t11 ON t10.user_id = t11.user_id
        LEFT JOIN (
          SELECT
            t1.*, '' AS ass_title, t5.`name` type_name, t6.`name` ass_type_name
          FROM
          (
            SELECT record_id, res_name, original_name res_original_name, type_id, ass_id, ass_type_id
            FROM t_res WHERE record_flag = 1
          ) t1
          LEFT JOIN t_category t5 ON t5.record_id = t1.type_id
          LEFT JOIN t_category t6 ON t6.record_id = t1.ass_type_id
        ) t12 ON t10.res_id = t12.record_id
    )t
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="recordId != null and recordId != ''">
        AND record_id = #{recordId}
      </if>
      <if test="resId != null and resId != ''">
        AND res_id = #{resId}
      </if>
      <if test="userId != null and userId != ''">
        AND user_id = #{userId}
      </if>
      <if test="recordFlag != null">
        AND record_flag = #{recordFlag}
      </if>
      <if test="key != null and key != ''">
        AND (UPPER(res_name) LIKE CONCAT('%',UPPER(#{key}),'%')
          OR UPPER(res_original_name) LIKE CONCAT('%',UPPER(#{key}),'%')
          OR UPPER(user_name) LIKE CONCAT('%',UPPER(#{key}),'%')
          OR UPPER(type_name) LIKE CONCAT('%',UPPER(#{key}),'%')
          OR UPPER(ass_type_name) LIKE CONCAT('%',UPPER(#{key}),'%')
        )
      </if>
    </trim>
    ORDER BY t.dl_time DESC
  </select>
</mapper>
