<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oa.platform.repository.UserRepository" >

  <resultMap id="user" type="com.oa.platform.entity.User">
    <result column="user_id" property="userId" jdbcType="VARCHAR"/>
    <result column="user_type" property="userType" jdbcType="INTEGER"/>
    <result column="user_name" property="userName" jdbcType="VARCHAR"/>
    <result column="user_pwd" property="userPwd" jdbcType="VARCHAR"/>
    <result column="user_pwd_origi" property="userPwdOrigi" jdbcType="VARCHAR"/>
    <result column="user_nickname" property="userNickname" jdbcType="VARCHAR"/>
    <result column="record_flag" property="recordFlag" jdbcType="INTEGER"/>
    <result column="last_login_time" property="lastLoginTime" jdbcType="VARCHAR"/>
    <result column="record_time" property="recordTime" jdbcType="VARCHAR"/>
    <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
    <result column="lang_conf_id" property="langConfId" jdbcType="VARCHAR"/>
    <result column="third_party_type" property="thirdPartyType" jdbcType="VARCHAR"/>
    <result column="third_party_id" property="thirdPartyId" jdbcType="VARCHAR"/>
    <result column="user_sex" property="userSex" jdbcType="VARCHAR"/>
    <result column="lang_name" property="langName" jdbcType="VARCHAR"/>
    <result column="lang_code" property="langCode" jdbcType="VARCHAR"/>
  </resultMap>

  <resultMap id="userDtl" type="com.oa.platform.entity.UserDtl">
    <result column="user_id" property="userId" jdbcType="VARCHAR"/>
    <result column="user_name" property="userName" jdbcType="VARCHAR"/>
    <result column="gender" property="gender" jdbcType="VARCHAR"/>
    <result column="phone" property="phone" jdbcType="VARCHAR"/>
    <result column="birth_time" property="birthTime" jdbcType="VARCHAR"/>
    <result column="nation" property="nation" jdbcType="VARCHAR"/>
    <result column="join_party_time" property="joinPartyTime" jdbcType="VARCHAR"/>
    <result column="turn_right_time" property="turnRightTime" jdbcType="VARCHAR"/>
    <result column="hometown" property="hometown" jdbcType="VARCHAR"/>
    <result column="bachelor" property="bachelor" jdbcType="VARCHAR"/>
    <result column="education" property="education" jdbcType="VARCHAR"/>
    <result column="office_number" property="officeNumber" jdbcType="VARCHAR"/>
    <result column="live_address" property="liveAddress" jdbcType="VARCHAR"/>
    <result column="mail" property="mail" jdbcType="VARCHAR"/>
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR"/>
    <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
    <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
  </resultMap>

  <insert id="insert" parameterType="user">
    INSERT INTO t_user(user_id,user_type,user_name,user_pwd,user_pwd_origi,user_nickname,record_flag,record_time,
        lang_conf_id,third_party_type,third_party_id,user_sex)
    VALUES (#{userId},#{userType},#{userName},#{userPwd},#{userPwdOrigi},#{userNickname},#{recordFlag},NOW(),
        #{langConfId},#{thirdPartyType},#{thirdPartyId},#{userSex})
  </insert>

  <insert id="insertUserDtl" parameterType="userDtl">
    INSERT INTO t_user_dtl(
    	user_id,
		gender,
		phone,
		birth_time,
		nation,
		join_party_time,
		turn_right_time,
		hometown,
		bachelor,
		education,
		office_number,
		live_address,
		mail,
		image_url,
		create_on,
		create_by
    )
    VALUES (
    #{userId},#{gender},#{phone},#{birthTime},#{nation},#{joinPartyTime},
    #{turnRightTime},#{hometown},#{bachelor},#{education},#{officenumber},#{liveAddress},
    #{mail},#{imageUrl},now(),#{createBy})
  </insert>

  <select id="selectUsers" resultMap="user">
      SELECT t1.user_id, t1.user_type, t1.user_name, t1.user_pwd, t1.user_nickname, t1.record_flag,
        DATE_FORMAT(t1.last_login_time,'%Y-%m-%d %H:%i:%s') last_login_time,
        DATE_FORMAT(t1.record_time,'%Y-%m-%d %H:%i:%s') record_time,
        DATE_FORMAT(t1.update_time,'%Y-%m-%d %H:%i:%s') update_time,
        t1.lang_conf_id, t1.third_party_type,t1.third_party_id,t1.user_sex,
				t2.`name` lang_name, t2.`code` lang_code
      FROM t_user t1 LEFT JOIN t_lang_conf t2 ON t1.lang_conf_id = t2.record_id
  </select>

  <select id="findById" parameterType="java.lang.String" resultMap="user">
    SELECT t1.user_id, t1.user_type, t1.user_name, t1.user_pwd, t1.user_nickname, t1.record_flag,
        DATE_FORMAT(t1.last_login_time,'%Y-%m-%d %H:%i:%s') last_login_time,
        DATE_FORMAT(t1.record_time,'%Y-%m-%d %H:%i:%s') record_time,
        DATE_FORMAT(t1.update_time,'%Y-%m-%d %H:%i:%s') update_time,
        t1.lang_conf_id, t1.third_party_type,t1.third_party_id,t1.user_sex,
				t2.`name` lang_name, t2.`code` lang_code
      FROM (select * FROM t_user WHERE user_id = #{userId}) t1 LEFT JOIN t_lang_conf t2 ON t1.lang_conf_id = t2.record_id
  </select>

  <select id="findDetailByUserId" parameterType="java.lang.String" resultMap="userDtl">
    SELECT 
    	user_id,
		gender,
		phone,
		birth_time,
		nation,
		join_party_time,
		turn_right_time,
		hometown,
		bachelor,
		education,
		office_number,
		live_address,
		mail,
		image_url,
        DATE_FORMAT(create_on,'%Y-%m-%d %H:%i:%s') createOn,
        DATE_FORMAT(update_on,'%Y-%m-%d %H:%i:%s') updateOn
    FROM t_user_dtl WHERE user_id = #{userId}
  </select>

  <select id="findDetailByUserIds" parameterType="java.util.List" resultMap="userDtl">
    SELECT user_id,
		gender,
		phone,
		birth_time,
		nation,
		join_party_time,
		turn_right_time,
		hometown,
		bachelor,
		education,
		office_number,
		live_address,
		mail,
		image_url,
        DATE_FORMAT(create_on,'%Y-%m-%d %H:%i:%s') createOn,
        DATE_FORMAT(update_on,'%Y-%m-%d %H:%i:%s') updateOn
    FROM t_user_dtl WHERE user_id IN
    <foreach collection="userIds" index="index" item="itemId" open="(" separator="," close=")">
      #{itemId}
    </foreach>
  </select>

  <!--根据用户名查询用户信息-->
  <select id="findUserByName" parameterType="java.lang.String" resultMap="user">
    SELECT t1.user_id, t1.user_type, t1.user_name, t1.user_pwd, t1.user_nickname, t1.record_flag,
        DATE_FORMAT(t1.last_login_time,'%Y-%m-%d %H:%i:%s') last_login_time,
        DATE_FORMAT(t1.record_time,'%Y-%m-%d %H:%i:%s') record_time,
        DATE_FORMAT(t1.update_time,'%Y-%m-%d %H:%i:%s') update_time,
        t1.lang_conf_id, t1.third_party_type,t1.third_party_id,t1.user_sex,
				t2.`name` lang_name, t2.`code` lang_code
      FROM (select * FROM t_user WHERE user_name = #{userName}) t1 LEFT JOIN t_lang_conf t2 ON t1.lang_conf_id = t2.record_id
  </select>

  <!--根据用户名和密码查询用户信息-->
  <select id="findUserByNameAndPwd" parameterType="java.util.Map" resultMap="user">
    SELECT t1.user_id, t1.user_type, t1.user_name, t1.user_pwd, t1.user_nickname, t1.record_flag,
        DATE_FORMAT(t1.last_login_time,'%Y-%m-%d %H:%i:%s') last_login_time,
        DATE_FORMAT(t1.record_time,'%Y-%m-%d %H:%i:%s') record_time,
        DATE_FORMAT(t1.update_time,'%Y-%m-%d %H:%i:%s') update_time,
        t1.lang_conf_id, t1.third_party_type,t1.third_party_id,t1.user_sex,
				t2.`name` lang_name, t2.`code` lang_code
      FROM (select * FROM t_user WHERE user_name = #{userName} AND user_pwd = #{userPwd}) t1
      LEFT JOIN t_lang_conf t2 ON t1.lang_conf_id = t2.record_id
  </select>

  <!--更新用户基本信息-->
  <update id="update" parameterType="user">
    UPDATE t_user
    <trim prefix="SET" suffixOverrides="," suffix=" WHERE user_id = #{userId}">
      <if test="userType != null and userType != ''">
        `user_type` = #{userType},
      </if>
      <if test="userName != null and userName != ''">
        `user_name` = #{userName},
      </if>
      <if test="userNickname != null and userNickname != ''">
        `user_nickname` = #{userNickname},
      </if>
      <if test="thirdPartyType != null and thirdPartyType != ''">
        `third_party_type` = #{thirdPartyType},
      </if>
      <if test="langConfId != null and langConfId != ''">
        `lang_conf_id` = #{langConfId},
      </if>
      <if test="thirdPartyType != null and thirdPartyType != ''">
        `third_party_type` = #{thirdPartyType},
      </if>
      <if test="thirdPartyId != null and thirdPartyId != ''">
        `third_party_id` = #{thirdPartyId},
      </if>
      <if test="userSex != null and userSex != ''">
        `user_sex` = #{userSex},
      </if>
      <if test="userPwdOrigi != null and userPwdOrigi != ''">
        user_pwd_origi = #{userPwdOrigi},
      </if>
      <if test="userPwd != null and userPwd != ''">
        user_pwd = #{userPwd},
      </if>
      <if test="lastLoginTime != null and lastLoginTime != ''">
        last_login_time = STR_TO_DATE(#{lastLoginTime},'%Y-%m-%d %H:%i:%s'),
      </if>
      <if test="recordFlag != null">
        record_flag = #{recordFlag},
      </if>
    </trim>
  </update>

  <!--更新用户详细信息-->
  <update id="updateUserDtl" parameterType="userDtl">
    UPDATE t_user_dtl
    <trim prefix="SET" suffixOverrides="," suffix=" WHERE user_id = #{userId}">
      <if test="gender != null and gender != ''">
        gender = #{gender},
      </if>
      <if test="phone != null and phone != ''">
        phone = #{phone},
      </if>
      <if test="birthTime != null and birthTime != ''">
        birth_time = #{birthTime},
      </if>
      <if test="nation != null and nation != ''">
        nation = #{nation},
      </if>
      <if test="joinPartyTime != null and joinPartyTime != ''">
        join_party_time = #{joinPartyTime},
      </if>
      <if test="turnRightTime != null and turnRightTime != ''">
        turn_right_time = #{turnRightTime},
      </if>
      <if test="hometown != null and hometown != ''">
        hometown = #{hometown},
      </if>
      <if test="bachelor != null and bachelor != ''">
        bachelor = #{bachelor},
      </if>
      <if test="education != null and education != ''">
        education = #{education},
      </if>
      <if test="officeNumber != null and officeNumber != ''">
        office_number = #{officeNumber},
      </if>
      <if test="mail != null and mail != ''">
        mail = #{mail},
      </if>
      <if test="imageUrl != null and imageUrl != ''">
        image_url = #{imageUrl},
      </if>
      <if test="updateBy != null and updateBy != ''">
        update_by = #{updateBy},
        update_on = now(),
      </if>
      
    </trim>
  </update>

  <!--查询用户信息(分页)-->
  <select id="find" parameterType="user" resultMap="user">
    SELECT t.user_id, t.user_type, t.user_name, t.user_pwd, t.user_nickname, t.record_flag,
        DATE_FORMAT(t.last_login_time,'%Y-%m-%d %H:%i:%s') last_login_time,
        DATE_FORMAT(t.record_time,'%Y-%m-%d %H:%i:%s') record_time,
        DATE_FORMAT(t.update_time,'%Y-%m-%d %H:%i:%s') update_time,
        t.lang_conf_id, t.third_party_type,t.third_party_id,t.user_sex,
        t.lang_name, t.lang_code
    FROM (
      SELECT t1.user_id, t1.user_type, t1.user_name, t1.user_pwd, t1.user_nickname, t1.record_flag,
        t1.last_login_time,t1.record_time,t1.update_time,
        t1.lang_conf_id, t1.third_party_type,t1.third_party_id,t1.user_sex,
        t2.`name` lang_name, t2.`code` lang_code
      FROM t_user t1 LEFT JOIN t_lang_conf t2 ON t1.lang_conf_id = t2.record_id
    )t
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="userId != null and userId != ''">
        AND user_id = #{userId}
      </if>
      <choose>
        <when test="isAdmin == '1'">
          AND user_type = 1
        </when>
        <otherwise>
          <choose>
            <when test="userType != null">
              AND user_type = #{userType}
            </when>
            <otherwise>
              AND user_type != 1
            </otherwise>
          </choose>
        </otherwise>
      </choose>
      <if test="key != null and key != ''">
        AND (UPPER(user_name) LIKE CONCAT('%',UPPER(#{key}),'%') OR UPPER(user_nickname) LIKE CONCAT('%',UPPER(#{key}),'%'))
      </if>
      <if test="userPwd != null and userPwd != ''">
        AND user_pwd = #{userPwd}
      </if>
      <if test="userName != null and userName != ''">
        AND `user_name` = #{userName}
      </if>
      <if test="userNickname != null and userNickname != ''">
        AND `user_nickname` = #{userNickname}
      </if>
      <if test="recordTime != null and recordTime != ''">
        AND DATE_FORMAT(record_time,'%Y-%m-%d') = #{recordTime}
      </if>
      <if test="lastLoginTime != null and lastLoginTime != ''">
        AND DATE_FORMAT(last_login_time,'%Y-%m-%d') = #{lastLoginTime}
      </if>
      <if test="updateTime != null and updateTime != ''">
        AND DATE_FORMAT(update_time,'%Y-%m-%d') = #{updateTime}
      </if>
      <if test="recordFlag != null">
        AND record_flag = #{recordFlag}
      </if>
      <if test="langConfId != null">
        AND lang_conf_id = #{langConfId}
      </if>
      <if test="thirdPartyType != null and thirdPartyType != ''">
        AND third_party_type = #{thirdPartyType}
      </if>
      <if test="thirdPartyId != null and thirdPartyId != ''">
        AND third_party_id = #{thirdPartyId}
      </if>
      <if test="userSex != null and userSex != ''">
        AND user_sex = #{userSex}
      </if>
      <if test="ids != null and ids.size() > 0">
        AND user_id IN
        <foreach collection="ids" index="index" item="itemId" open="(" separator="," close=")">
          #{itemId}
        </foreach>
      </if>
    </trim>
  </select>

  <!-- 根据ID列表查询用户基本信息 -->
  <select id="findByIds" parameterType="java.util.List" resultMap="user">
    SELECT t1.user_id, t1.user_type, t1.user_name, t1.user_nickname, t1.record_flag,
        DATE_FORMAT(t1.last_login_time,'%Y-%m-%d %H:%i:%s') last_login_time,
        DATE_FORMAT(t1.record_time,'%Y-%m-%d %H:%i:%s') record_time,
        DATE_FORMAT(t1.update_time,'%Y-%m-%d %H:%i:%s') update_time,
        t1.lang_conf_id, t1.third_party_type,t1.third_party_id,t1.user_sex,
				t2.`name` lang_name, t2.`code` lang_code
      FROM (
        select * FROM t_user WHERE user_id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>
      ) t1 LEFT JOIN t_lang_conf t2 ON t1.lang_conf_id = t2.record_id
  </select>
</mapper>
