<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="form">
        <el-tabs v-model="activeTabName" type="card">
            <el-tab-pane label="简报信息" name="first">
                <el-form ref="formArticle" :rules="rules" :model="formArticle" label-width="80px" size="small" validate-on-rule-change="false">
                    <!--
                    <el-form-item label="文章类型" prop="categoryId">
                        <el-select v-model="formArticle.categoryId" style="width: 300px;" placeholder="请选择类型" size="small">
                            <el-option v-for="item in articleCategories" :key="item.recordId" :label="item.name" :value="item.recordId"></el-option>
                        </el-select>
                        <el-tooltip class="item" effect="dark" placement="top">
                        <div slot="content">文章类型</div><i class="el-icon-question"></i></el-tooltip>
                    </el-form-item>
                    -->
                    <el-form-item label="接收人" prop="receiverIds">
                        <div style="width: 470px;height: auto;float: left;display: flex;display: -webkit-flex; align-items:center;">
                            <div style="border-radius: 4px;border-width: 1px;border-color: #E0E0E0;width:100%;height:auto;border-style: solid;">
                                <el-tag style="margin-left: 5px;"
                                        type="info"
                                        size="mini"
                                        :key="reUser.userId"
                                        v-for="reUser in newsReceiveUsers"
                                        closable
                                        :disable-transitions="false"
                                        @close="handleNewsRemoveReceiver(reUser.userId);">
                                    {{reUser.userNickname}}
                                </el-tag>
                            </div>
                            <el-button @click="dialogShow.receiverIds = !dialogShow.receiverIds" style="margin-left: 5px" plain size="mini" icon="el-icon-s-operation">选择</el-button>
                            <el-tooltip class="item" effect="dark" placement="top">
                                <div slot="content">接收人</div><i class="el-icon-question"></i></el-tooltip>
                        </div>
                    </el-form-item>
                    <el-form-item label="主题" prop="title">
                        <el-input v-model="formArticle.title" size="small" auto-complete="off" style="width: 300px;" maxlength="512" placeholder="主题"></el-input>
                        <el-tooltip class="item" effect="dark" placement="top">
                            <div slot="content">文章标题</div><i class="el-icon-question"></i></el-tooltip>
                    </el-form-item>
                    <!--
                    <el-form-item label="简介/摘要" prop="intro">
                        <el-input type="textarea" v-model="formArticle.intro" :autosize="{minRows: 5, maxRows: 5}" style="width:600px;" size="small"></el-input>
                        <el-tooltip class="item" effect="dark" placement="top">
                            <div slot="content">文章简介/摘要</div><i class="el-icon-question"></i></el-tooltip>
                    </el-form-item>
                    <el-form-item label="文章标签" prop="tags">
                        <el-input v-model="formArticle.tags" size="small" auto-complete="off" style="width: 300px;" maxlength="512" placeholder="标签以空格分隔"></el-input>
                        <el-tooltip class="item" effect="dark" placement="top">
                            <div slot="content">标签</div><i class="el-icon-question"></i></el-tooltip>
                    </el-form-item>
                    <el-form-item label="文章作者" prop="authorName">
                        <el-input v-model="formArticle.authorName" size="small" auto-complete="off" style="width: 300px;" maxlength="512" placeholder="作者"></el-input>
                        <el-tooltip class="item" effect="dark" placement="top">
                            <div slot="content">作者</div><i class="el-icon-question"></i></el-tooltip>
                    </el-form-item>
                    <el-form-item label="文章来源" prop="source">
                        <el-input v-model="formArticle.source" size="small" auto-complete="off" style="width: 300px;" maxlength="512" placeholder="文章来源"></el-input>
                        <el-tooltip class="item" effect="dark" placement="top">
                            <div slot="content">来源(网站名称或媒体名称)</div><i class="el-icon-question"></i></el-tooltip>
                    </el-form-item>
                    <el-form-item label="文章来源站点" prop="sourceSite">
                        <el-input v-model="formArticle.sourceSite" size="small" auto-complete="off" style="width: 300px;" maxlength="512" placeholder="文章来源站点"></el-input>
                        <el-tooltip class="item" effect="dark" placement="top">
                            <div slot="content">来源站点(网站网址或文章网址)</div><i class="el-icon-question"></i></el-tooltip>
                    </el-form-item>
                    <div v-if="formArticle.isEdit">
                        <el-form-item label="创建者" prop="creatorName">
                            <el-input readonly="readonly" v-model="formArticle.creatorName" size="small" auto-complete="off" style="width: 300px;" maxlength="512" placeholder=""></el-input>
                            <el-tooltip class="item" effect="dark" placement="top">
                                <div slot="content">文章创建者</div><i class="el-icon-question"></i></el-tooltip>
                        </el-form-item>
                        <el-form-item label="创建时间" prop="recordTime">
                            <el-input readonly="readonly" v-model="formArticle.recordTime" size="small" auto-complete="off" style="width: 300px;" maxlength="512" placeholder=""></el-input>
                            <el-tooltip class="item" effect="dark" placement="top">
                                <div slot="content">文章创建时间</div><i class="el-icon-question"></i></el-tooltip>
                        </el-form-item>
                        <el-form-item label="更新者" prop="updatorName">
                            <el-input readonly="readonly" v-model="formArticle.updatorName" size="small" auto-complete="off" style="width: 300px;" maxlength="512" placeholder=""></el-input>
                            <el-tooltip class="item" effect="dark" placement="top">
                                <div slot="content">文章更新时间</div><i class="el-icon-question"></i></el-tooltip>
                        </el-form-item>
                        <el-form-item label="更新时间" prop="updateTime">
                            <el-input readonly="readonly" v-model="formArticle.updateTime" size="small" auto-complete="off" style="width: 300px;" maxlength="512" placeholder=""></el-input>
                            <el-tooltip class="item" effect="dark" placement="top">
                                <div slot="content">文章更新时间</div><i class="el-icon-question"></i></el-tooltip>
                        </el-form-item>
                    </div>
                    -->
                    <el-form-item label="正文" prop="content">
                        <el-input v-model="formArticle.content" type="hidden" style="display: none"></el-input>
                        <el-tooltip class="item" effect="dark" placement="top" style="margin-left: 658px">
                            <div slot="content">正文</div><i class="el-icon-question"></i></el-tooltip>
                    </el-form-item>
                    <div style="margin-bottom: 20px;margin-left: 80px;margin-top:-50px;"><script id="articleEditor" type="text/plain"></script></div>

                    <el-input v-model="formArticle.sendType" type="hidden" style="display: none"></el-input>
                    <el-input v-model="formArticle.categoryId" type="hidden" style="display: none"></el-input>
                    <el-form-item>
                        <el-button @click="resetForm('formArticle')" plain icon="el-icon-close" size="mini">重置</el-button>
                        <el-button @click="submitForm('formArticle')" type="primary" plain icon="el-icon-check" size="mini">保存</el-button>
                    </el-form-item>
                </el-form>
            </el-tab-pane>
        </el-tabs>
        <el-dialog title="选择发送对象" :visible.sync="dialogShow.receiverIds" lock-scroll="true" width="500px" center="true">
            <el-input placeholder="输入关键字进行过滤" v-model="receiverUserName">
            </el-input>
            <el-tree class="filter-tree" node-key="id" :data="receiverUserData" :props="defaultProps" default-expand-all
                     :filter-node-method="filterNodeOfReceiverIds" ref="receiverTree"
                     show-checkbox @check-change="handleCheckChangeOfReceiverIds" @node-click="handleNodeClickOfReceiverIds">
            </el-tree>
            <div style="margin-top: 20px">
                <el-button @click="dialogShow.receiverIds = !dialogShow.receiverIds;" plain size="mini" icon="el-icon-close">取消</el-button>
                <el-button @click="submitReceiverUserOfReceiverIds" type="primary" plain size="mini" icon="el-icon-check">保存</el-button>
            </div>
        </el-dialog>
    </div>
</html>