<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
    <!--
    <el-tabs v-model="activeTabName" type="card">
        <el-tab-pane label="简报" name="first">

        </el-tab-pane>
    </el-tabs>
    -->
    <!--
            <el-form ref="formSearchArticle" :model="formSearchArticle" label-width="100px">
                <el-form-item label="文章类型" prop="typeId">
                    <el-select v-model="formSearchArticle.categoryId" style="width: 300px;" placeholder="请选择类型">
                        <el-option label="全部" value="">全部</el-option>
                        <el-option v-for="item in articleCategories" :key="item.recordId" :label="item.name" :value="item.recordId"></el-option>
                    </el-select>
                    <el-tooltip class="item" effect="dark" placement="top">
                        <div slot="content">文章类型</div><i class="el-icon-question"></i></el-tooltip>
                </el-form-item>
                <el-form-item label="文章标题" prop="title">
                    <el-input v-model="formSearchArticle.title" size="medium" auto-complete="off" style="width: 300px;" maxlength="512" placeholder="文章标题"></el-input>
                    <el-tooltip class="item" effect="dark" placement="top">
                        <div slot="content">文章标题</div><i class="el-icon-question"></i></el-tooltip>
                </el-form-item>
                <el-form-item>
                    <el-button @click="searchForm('formSearchArticle')" type="primary" plain size="mini" icon="el-icon-search">检索</el-button>
                </el-form-item>
            </el-form>
            <hr style="height:1px;border:none;border-top:1px dashed #DDDDDD;"/>
            -->
    <el-button plain @click="edit('article', '', '', true)" size="mini" icon="el-icon-plus" v-if="userOwnedModuleMaps['editBrief'] && userOwnedModuleMaps['editBrief'] != undefined">新增</el-button>
    <div style="margin-top: 20px">
        <div v-for="item in currUserReceiverBriefRecords" style="margin-top: 10px;display: flex;display: -webkit-flex; align-items:center;">
            <div style="width: 70%; height: auto">
                <a style="color: #303133; cursor: pointer;" @click="handleBriefView(item.briefId)">·{{item.briefTitle || ''}}</a>
            </div>
            <div style="width: 30%; font-size: 13px; color: #303133;">
                {{item.sendTime.substr(0, 10)}}
            </div>
        </div>
        <div align="center" style="margin-top: 10px">
            <!--
            <el-pagination size="small"
                           @size-change="handleArticleSizeChange"
                           @current-change="handleArticleCurrentChange"
                           :current-page="pager.article.currentPage"
                           :page-sizes="[10, 20, 30, 40]"
                           :page-size="pager.article.pageSize"
                           layout="total, sizes, prev, pager, next, jumper"
                           :total="pager.article.totalCount">
            </el-pagination>
            -->
            <el-pagination size="small"
                           @size-change="handleCurrUserReceiverBriefRecordSizeChange"
                           @current-change="handleCurrUserReceiverBriefRecordCurrentChange"
                           :current-page="pager.briefSendRecord.currentPage"
                           :page-sizes="[10, 20, 30, 40]"
                           :page-size="pager.briefSendRecord.pageSize"
                           layout="total, sizes, prev, pager, next, jumper"
                           :total="pager.briefSendRecord.totalCount">
            </el-pagination>
        </div>
    </div>
    <el-dialog :title="(currBrief.title || '')" :visible.sync="dialogShow.viewBrief" lock-scroll="true" width="100%"
               style="border-radius: 5px;">
        <div style="width: 100%; text-align: center" v-html="(currBrief.content || '')">
        </div>
    </el-dialog>
</div>
</html>